Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

Update blog/zh/blog/2025/04/30/2025-april-monthly-report.md
  blog/zh/blog/2025/04/30/2025-april-monthly-report.md
Labels: none

update description
  blog/zh/blog/2025/04/30/2025-april-monthly-report.md
Labels: none

update
  blog/en/blog/2025/04/30/2025-april-monthly-report.md
Labels: none

Update 2025-april-monthly-report.md
  blog/zh/blog/2025/04/30/2025-april-monthly-report.md
Labels: none

blog: add 2025 april-monthly-report (#1908)
  blog/en/blog/2025/03/31/2025-march-monthly-report.md
  blog/en/blog/2025/04/30/2025-april-monthly-report.md
  blog/zh/blog/2025/04/30/2025-april-monthly-report.md
Labels: none

blog: add apisix-gateway-practice-in-tencent-timi
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

Update apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

fix
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

blog: add apisix-gateway-practice-in-tencent-timi (#1910)
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

fix: add truncate in apisix-gateway-practice-in-tencent-timi
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

fix: add truncate in apisix-gateway-practice-in-tencent-timi (#1911)
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

chore: remove `apisix-dashboard` docs
  doc/docusaurus.config.js
Labels: none

update
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

update images
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

update
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

update image dimensions
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

fix
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

fix
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

update
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

update images
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

blog: add Tencent Timi Use Case (en) (#1914)
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

update image dimensions
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

blog: add Honor use case (en) (#1913)
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

chore: rm in downloads, sync doc projects
  config/downloads.js
  scripts/common.js
Labels: scripts

chore
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  config/navbar.js
  doc/i18n/zh/docusaurus-theme-classic/navbar.json
  website/i18n/zh/docusaurus-theme-classic/navbar.json
Labels: none

chore
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  config/docs.js
  doc/src/theme/DocPage/index.tsx
Labels: none

fix: disable dashboard next version doc config
  doc/docusaurus.config.js
  scripts/sync-docs.js
Labels: scripts

fix: disable dashboard next version doc config (#1915)
  doc/docusaurus.config.js
  scripts/sync-docs.js
Labels: scripts

fix: build docs
  .gitignore
  doc/docs/apisix-dashboard/sidebars.json
Labels: repo

fix
  .github/workflows/deploy.yml
Labels: none

chore
  .github/workflows/deploy.yml
Labels: none

doc: fix typo for doc sync script
  README.md
Labels: repo

fix: docs build (#1916)
  .github/workflows/deploy.yml
  .gitignore
  doc/docs/apisix-dashboard/sidebars.json
Labels: repo

add en version
  blog/en/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
Labels: none

update
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
  blog/zh/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

fix author
  blog/zh/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

Update blog/en/blog/2025/05/30/2025-may-monthly-report.md
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

Update blog/en/blog/2025/05/30/2025-may-monthly-report.md
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

Update blog/en/blog/2025/05/30/2025-may-monthly-report.md
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
  blog/zh/blog/2025/05/30/2025-may-monthly-report.md
Labels: none
