Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

feat: webp src
  blog/src/theme/BlogPostPage/index.tsx
  yarn.lock
Labels: repo

feat: devcontainer
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
Labels: none

update comments
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

feat: use webp blog images source (#1284)
  blog/package.json
  blog/src/theme/BlogPostPage/index.tsx
  yarn.lock
Labels: repo

chore: rm ghcli feature
  .devcontainer/devcontainer.json
Labels: none

docs: add weekly report 0716-0731 (#1278)
  blog/en/blog/2022/08/09/weekly-report-0731.md
  blog/zh/blog/2022/08/09/weekly-report-0731.md
  website/static/data/events.json
Labels: pages

docs: add Google/AWS/Azure test blog (#1282)
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs: update README
  README.md
Labels: repo

fix: lint issues
  README.md
Labels: repo

fix: lint issues
  README.md
Labels: repo

feat: devcontainer (#1283)
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  README.md
Labels: repo

docs: Add Backend-for-Frontend: the demo blog post
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

docs: update build apisix and build java plugin web link
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
Labels: none

Update blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
Labels: none

docs: update build apisix and build java plugin web link (#1286)
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
Labels: none

docs: update documentation-guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

fix typo
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

docs: update 2.15 release blog error
  blog/zh/blog/2022/07/29/release-apache-apisix-2.15.md
Labels: none

docs: update 2.15 release blog error (#1288)
  blog/zh/blog/2022/07/29/release-apache-apisix-2.15.md
Labels: none

docs: fix typo
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

docs: fix typo
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

fix: blog list img transition
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

docs: fix typo
  website/docs/general/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

docs: update error link
  blog/en/blog/2021/09/18/xiaodian-usercase.md
  blog/zh/blog/2021/09/18/xiaodian-usercase.md
Labels: none

docs: update error images
  blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/zh/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/zh/blog/2021/09/16/tencent-cloud.md
Labels: none

refactor: lazy load img src
  blog/src/theme/BlogPostPage/index.tsx
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

fix: thumbnail src, srcSet
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

docs: fix bad images (#1290)
  blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/en/blog/2021/09/18/xiaodian-usercase.md
  blog/zh/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/zh/blog/2021/09/16/tencent-cloud.md
  blog/zh/blog/2021/09/18/xiaodian-usercase.md
Labels: none

fix: blog list imgs' transition, webp src (#1289)
  blog/src/theme/BlogPostPage/index.tsx
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

fix: posts img style (#1292)
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

docs: fix tupo
  website/docs/general/blog-contributing-guide.md
Labels: docs-general

docs: update Slack Invitation link
  website/docs/general/join.md
Labels: docs-general

Update join.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/join.md
Labels: docs-general

docs: update Slack Invitation link (#1293)
  website/docs/general/join.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/join.md
Labels: docs-general

docs: fix comment
  website/docs/general/blog-contributing-guide.md
Labels: docs-general

docs: fix comment
  website/docs/general/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

docs: fix comment
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

docs: update images
  blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/en/blog/2021/05/24/Tencent-Games.md
  blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/en/blog/2021/09/07/iQIYI-usercase.md
  blog/en/blog/2021/09/14/youzan.md
  blog/en/blog/2021/09/16/tencent-cloud.md
  blog/en/blog/2021/09/18/xiaodian-usercase.md
  blog/en/blog/2021/09/24/youpaicloud-usercase.md
  blog/en/blog/2021/09/28/WPS-usercase.md
  blog/en/blog/2021/11/03/airwallex-usercase.md
  blog/en/blog/2021/12/30/apisix-proxy-grpc-service.md
  blog/en/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  blog/en/blog/2022/06/14/beeto-with-apache-apisix.md
  blog/en/blog/2022/06/14/xueqiu-with-apache-apisix.md
  blog/zh/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/zh/blog/2021/05/24/Tencent-Games.md
  blog/zh/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/zh/blog/2021/09/07/iQIYI-usercase.md
  blog/zh/blog/2021/09/14/youzan.md
  blog/zh/blog/2021/09/16/tencent-cloud.md
  blog/zh/blog/2021/09/18/xiaodian-usercase.md
  blog/zh/blog/2021/09/24/youpaicloud-usercase.md
  blog/zh/blog/2021/09/28/WPS-usercase.md
  blog/zh/blog/2021/11/03/airwallex-usercase.md
  blog/zh/blog/2021/12/30/apisix-proxy-grpc-service.md
  blog/zh/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/zh/blog/2022/06/14/beeto-with-apache-apisix.md
  blog/zh/blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
