Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix(sitemap): preserve production URL policy
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  next/package-lock.json
  next/package.json
  next/scripts/generate-sitemaps.mjs
  next/scripts/generate-sitemaps.test.mjs
Labels: none

fix(seo): curate sitemap index entries (#2085)
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  next/package-lock.json
  next/package.json
  next/scripts/generate-sitemaps.mjs
  next/scripts/generate-sitemaps.test.mjs
  website/static/llms.txt
Labels: pages

docs: add Apache APISIX vs AISIX comparison (#2079)
  next/src/components/StaticPages.astro
  website/learning-center/apisix-vs-aisix.md
  website/static/llms.txt
Labels: pages

fix(seo): point zh docs at the Chinese hub, drop untranslated zh articles
  .htaccess
  next/astro.config.mjs
  next/scripts/remark-image-loading.mjs
  next/src/components/CollectionPages.astro
  next/src/components/StaticPages.astro
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/learning-center/[slug].astro
  next/src/pages/learning-center/archive.astro
  next/src/pages/learning-center/index.astro
  next/src/pages/learning-center/page/[n].astro
  next/src/pages/learning-center/tags/[tag].astro
  next/src/pages/learning-center/tags/index.astro
  next/src/pages/zh/learning-center/[slug].astro
  next/src/pages/zh/learning-center/archive.astro
  next/src/pages/zh/learning-center/index.astro
  next/src/pages/zh/learning-center/page/[n].astro
  next/src/pages/zh/learning-center/tags/[tag].astro
  next/src/pages/zh/learning-center/tags/index.astro
  next/src/styles/global.css
Labels: repo

fix(nav): keep the header brand on one line at desktop widths
  next/src/styles/global.css
Labels: none

fix(seo): point zh docs at the Chinese hub, drop untranslated zh articles (#2087)
  .htaccess
  next/astro.config.mjs
  next/scripts/remark-image-loading.mjs
  next/src/components/CollectionPages.astro
  next/src/components/StaticPages.astro
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/learning-center/[slug].astro
  next/src/pages/learning-center/archive.astro
  next/src/pages/learning-center/index.astro
  next/src/pages/learning-center/page/[n].astro
  next/src/pages/learning-center/tags/[tag].astro
  next/src/pages/learning-center/tags/index.astro
  next/src/pages/zh/learning-center/[slug].astro
  next/src/pages/zh/learning-center/archive.astro
  next/src/pages/zh/learning-center/index.astro
  next/src/pages/zh/learning-center/page/[n].astro
  next/src/pages/zh/learning-center/tags/[tag].astro
  next/src/pages/zh/learning-center/tags/index.astro
  next/src/styles/global.css
Labels: repo

fix(nav): keep the header brand on one line at desktop widths (#2088)
  next/src/styles/global.css
Labels: none

fix(ci): align zh learning-center deployment checks
  .github/workflows/deploy.yml
  next/scripts/generate-md-twins.mjs
  next/scripts/generate-sitemaps.test.mjs
Labels: none

test(ci): preserve zh subtree safeguards
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  next/scripts/generate-sitemaps.test.mjs
Labels: none

fix(ci): align zh learning-center deployment checks (#2089)
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  next/scripts/generate-md-twins.mjs
  next/scripts/generate-sitemaps.test.mjs
Labels: none

fix(ci): validate full deploy before merge
  .github/workflows/deploy.yml
Labels: none

fix(ci): isolate publishing from PR builds
  .github/workflows/deploy.yml
Labels: none

blog: add 2026 July monthly report
  blog/en/blog/2026/07/31/2026-jul-monthly-report.md
  blog/zh/blog/2026/07/31/2026-jul-monthly-report.md
Labels: none

blog: add July monthly report images
  blog/en/blog/2026/07/31/2026-jul-monthly-report.md
  blog/zh/blog/2026/07/31/2026-jul-monthly-report.md
Labels: none

blog: categorize July monthly report highlights
  blog/en/blog/2026/07/31/2026-jul-monthly-report.md
  blog/zh/blog/2026/07/31/2026-jul-monthly-report.md
Labels: none

blog: add 2026 July monthly report (#2091)
  blog/en/blog/2026/07/31/2026-jul-monthly-report.md
  blog/zh/blog/2026/07/31/2026-jul-monthly-report.md
Labels: none

blog: correct 2026 July monthly report statistics
  blog/en/blog/2026/07/31/2026-jul-monthly-report.md
  blog/zh/blog/2026/07/31/2026-jul-monthly-report.md
Labels: none

fix(ci): validate full deploy before merge (#2090)
  .github/workflows/deploy.yml
Labels: none

feat(homepage): redraw the architecture diagram and keep its source
  .github/workflows/deploy.yml
  next/README.md
  next/public/img/architecture.png
  next/public/img/architecture.svg
  next/scripts/architecture/arch.html
  next/scripts/architecture/render.sh
  next/src/components/HomePage.astro
  next/src/styles/global.css
Labels: none

chore: drop the unused Docusaurus Architecture section
  website/i18n/zh/code.json
  website/src/assets/images/PatternGrouped-min.svg
  website/src/assets/images/infographs/Architecture-min.svg
  website/src/components/sections/Architecture.tsx
  website/src/css/landing-sections/architecture.scss
  website/src/pages/index.tsx
Labels: pages

test(docs): assert version-picker links open real pages
  next/tests/e2e/docs-version-picker.spec.mjs
Labels: none

test(docs): accept both generators and anchor the helm-chart assertion
  next/tests/e2e/docs-version-picker.spec.mjs
Labels: none

fix(docs): link version picker entries to each version's landing doc
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/docs/[project]/[...id].astro
  next/src/pages/docs/apisix/[...id].astro
  next/src/pages/zh/docs/[project]/[...id].astro
  next/src/pages/zh/docs/apisix/[...id].astro
Labels: none

ci: fail the deploy when a version-picker link has no page behind it
  .github/workflows/deploy.yml
Labels: none

ci: guard the helm-chart assertion in both locales
  .github/workflows/deploy.yml
Labels: none

test(docs): match the first heading so upstream drift cannot fail the deploy
  .github/workflows/deploy.yml
  next/tests/e2e/docs-version-picker.spec.mjs
Labels: none

test(css): assert body text keeps its padding and the mobile nav precedes the article
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

test(css): cover docs layout in PR CI and drop the untestable edit case
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

test(css): scope layout assertions to the breakpoint they describe
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

fix(css): stop layout wrappers zeroing the container's inline padding
  next/src/styles/global.css
Labels: none

test(css): drop the contradictory breakpoint comment
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

fix(css): restore container padding and surface the mobile docs nav (#2096)
  next/src/styles/global.css
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

fix(docs): link version picker entries to each version's landing doc (#2095)
  .github/workflows/deploy.yml
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/docs/[project]/[...id].astro
  next/src/pages/docs/apisix/[...id].astro
  next/src/pages/zh/docs/[project]/[...id].astro
  next/src/pages/zh/docs/apisix/[...id].astro
  next/tests/e2e/docs-version-picker.spec.mjs
Labels: none

fix(seo): consolidate ingress documentation redirects
  .github/workflows/lint.yml
  .htaccess
  next/package.json
  next/scripts/check-ingress-redirects.mjs
Labels: repo

fix(seo): consolidate ingress documentation redirects (#2099)
  .github/workflows/lint.yml
  .htaccess
  next/package.json
  next/scripts/check-ingress-redirects.mjs
Labels: repo

docs: release apisix-ingress-controller 2.2.0
  config/docs.js
  config/downloads.js
Labels: none

fix(seo): resolve crawl and indexing issues
  .github/workflows/deploy.yml
  .htaccess
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
  blog/zh/blog/2023/03/09/release-apache-apisix-3.2.0.md
  doc/src/theme/LayoutHead/index.tsx
  next/scripts/generate-sitemaps.mjs
  next/scripts/generate-sitemaps.test.mjs
  next/src/components/Header.astro
  next/src/layouts/Article.astro
  next/src/layouts/Base.astro
  next/src/layouts/DocPage.astro
  next/src/lib/blog-feed.ts
  next/src/lib/content.ts
  next/src/pages/articles/[slug].astro
  next/src/pages/blog/[...rest].astro
  next/src/pages/blog/atom.xml.ts
  next/src/pages/blog/rss.xml.ts
  next/src/pages/learning-center/[slug].astro
  next/src/pages/zh/articles/[slug].astro
  next/src/pages/zh/blog/[...rest].astro
  next/src/pages/zh/blog/atom.xml.ts
  next/src/pages/zh/blog/rss.xml.ts
  next/tests/e2e/seo-signals.spec.mjs
  website/docusaurus.config.js
  website/static/robots.txt
Labels: repo, pages

fix(ci): sync docs for SEO checks
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  scripts/sync-docs.js
Labels: scripts

docs(seo): add contextual links to learning center guides
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

refactor(seo): improve high-impression learning center pages
  website/learning-center/api-gateway-authentication.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none
