Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

update
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

Update website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

Update website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

Update website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix: lint
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

feat: update event-poster-card
  config/event-poster-card.json
Labels: none

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix: lint
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

Update website/docs/general/events.md
  website/docs/general/events.md
Labels: docs-general

Update website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

docs(events): update apisix meetup shenzhen 2025 (#1887)
  config/event-poster-card.json
  package.json
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
  website/src/theme/Footer/EventPosterCard.tsx
Labels: repo, docs-general, pages

fix: update events
  website/docs/general/events.md
Labels: docs-general

update
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix: update events (#1889)
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

update title and links
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

fix typo
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

blog: add introducing-apisix-ai-gateway (#1888)
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

chore: add old events back, add hash to event-poster-card config
  config/event-poster-card.json
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix: add truncate in introducing-apisix-ai-gateway
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

Update introducing-apisix-ai-gateway.md
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

Update introducing-apisix-ai-gateway.md
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

fix lint
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

fix lint
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

fix: add truncate in introducing-apisix-ai-gateway (#1890)
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

docs: update docusaurus.config.js
  blog/en/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  doc/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  website/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  blog/zh/docusaurus.config.js
Labels: none

chore: add old events back
  website/docs/general/events/2022-apisix-meetups-conferences-workshops.md
  website/docs/general/events/2023-apisix-meetup-malaysia.md
  website/docs/general/events/2023-apisix-meetup-singapore.md
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
  website/docs/general/sidebars.json
  website/i18n/zh/docusaurus-plugin-content-docs/current/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/sidebars.json
Labels: docs-general

Update docusaurus.config.js
  blog/en/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  blog/zh/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  doc/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  website/docusaurus.config.js
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
