Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

docs: update Apache APISIX 2.14.1
  website/blog/2022/05/31/release-apache-apisix-2.14.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/31/release-apache-apisix-2.14.md
Labels: blog

docs: update Apache APISIX 2.14.1
  website/blog/2022/05/31/release-apache-apisix-2.14.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/31/release-apache-apisix-2.14.md
Labels: blog

fix: broken responsive behavior on mobile devices
  website/src/css/customTheme.css
Labels: pages

chore: tweak values for better responsiveness
  website/src/css/customTheme.css
Labels: pages

docs: add 2.14 Release Notes (#1127)
  website/blog/2022/05/31/release-apache-apisix-2.14.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/31/release-apache-apisix-2.14.md
Labels: blog

Update website/src/css/customTheme.css
  website/src/css/customTheme.css
Labels: pages

fix: broken responsive behavior on mobile devices (#1128)
  website/src/css/customTheme.css
Labels: pages

feat: support matomo from the ASF (#1095)
  website/config/ssrTemplate.js
Labels: pages

docs: add canonical link for cross-posted blogs (#1126)
  website/blog/2021/11/17/dapr-with-apisix.md
  website/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/17/dapr-with-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
Labels: blog

feat: adjust some keywords
  website/docusaurus.config.js
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/pages/help.tsx
  website/src/pages/index.tsx
  website/src/pages/plugins.tsx
Labels: pages

fix: font link
  website/src/css/customTheme.css
Labels: pages

fix: disable autoplay
  website/src/components/sections/OpensourcePromo.tsx
Labels: pages

feat: improve SEO by links and keywords (#1130)
  website/docusaurus.config.js
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
  website/src/pages/help.tsx
  website/src/pages/index.tsx
  website/src/pages/plugins.tsx
Labels: pages

fix: update landing page
  website/i18n/zh/code.json
Labels: none

fix: update landing page (#1131)
  website/i18n/zh/code.json
Labels: none

feat: improve some keywords
  .gitignore
  website/i18n/zh/code.json
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
Labels: repo, pages

Update .gitignore
  .gitignore
Labels: repo

feat: improve some keywords (#1132)
  .gitignore
  website/i18n/zh/code.json
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
Labels: repo, pages

updated upcoming conferences list
  website/docs/general/events.md
Labels: docs-general

feat: bump dashboard to 2.13.0
  website/config/downloads.js
Labels: pages

feat: bump dashboard to 2.13.0
  website/config/docs.js
  website/config/downloads.js
Labels: pages

feat: bump dashboard to 2.13.0 (#1134)
  website/config/docs.js
  website/config/downloads.js
Labels: pages

docs: update upcoming conferences list (#1133)
  website/docs/general/events.md
Labels: docs-general

fix: disable deploy when merged (#1117)
  .github/workflows/deploy.yml
Labels: none

docs: fix .gitignore file
  .gitignore
Labels: repo

docs: create page for "Building APISIX"
  website/docs/general/building-apisix.md
  website/docs/general/sidebars.json
Labels: docs-general

fix lint errors
  website/docs/general/building-apisix.md
Labels: docs-general

chore: add tzssangglass to pmc group
  website/config/team.js
Labels: pages

fix lint errors
  website/docs/general/building-apisix.md
Labels: docs-general

docs: update title
  website/blog/2021/08/19/go-makes-Apache-APISIX-better.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/19/go-makes-Apache-APISIX-better.md
Labels: blog

docs: update title
  website/blog/2021/08/19/go-makes-Apache-APISIX-better.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/19/go-makes-Apache-APISIX-better.md
Labels: blog

docs: add weekly report 0531
  website/blog/2022/06/07/weekly-report-0607.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/weekly-report-0607.md
  website/static/data/events.json
Labels: blog, pages

Update weekly-report-0607.md
  website/blog/2022/06/07/weekly-report-0607.md
Labels: blog

Update weekly-report-0607.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/weekly-report-0607.md
Labels: blog

docs: add weekly report 0531 (#1138)
  website/blog/2022/06/07/weekly-report-0607.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/weekly-report-0607.md
  website/static/data/events.json
Labels: blog, pages

docs: add APISIX on AWS Graviton3 blog
  website/blog/2022/06/07/apisix-on-aws-graviton3-test-perfomance.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/apisix-on-aws-graviton3-test-perfomance.md
  website/src/pages/docs.tsx
Labels: blog, pages

update Lint comments
  website/blog/2022/06/07/apisix-on-aws-graviton3-test-perfomance.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/apisix-on-aws-graviton3-test-perfomance.md
Labels: blog

docs: add tzssangglass to pmc group (#1136)
  website/config/team.js
Labels: pages

update comments
  website/blog/2022/06/07/apisix-on-aws-graviton3-test-perfomance.md
  website/config/repos-info.json
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/apisix-on-aws-graviton3-test-perfomance.md
  yarn.lock
Labels: repo, blog, pages

docs: add APISIX on AWS Graviton3 blog
  website/blog/2022/06/07/apisix-on-graviton3-performance.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/apisix-on-graviton3-performance.md
  website/src/pages/docs.tsx
Labels: blog, pages

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
