Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

chore: restore release posts (#2048)
  config/docs.js
  config/downloads.js
Labels: none

blog: add 2026 May monthly report (#2046)
  blog/en/blog/2026/05/31/2026-may-monthly-report.md
  blog/zh/blog/2026/05/31/2026-may-monthly-report.md
Labels: none

blog: add 3.17.0 release notes
  blog/en/blog/2026/06/13/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/13/release-apache-apisix-3.17.0.md
Labels: none

blog: refine 3.17.0 release notes
  blog/en/blog/2026/06/13/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/13/release-apache-apisix-3.17.0.md
Labels: none

blog: update 3.17.0 release notes
  blog/en/blog/2026/06/13/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/13/release-apache-apisix-3.17.0.md
Labels: none

blog: adjust 3.17.0 release note tone
  blog/en/blog/2026/06/13/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/13/release-apache-apisix-3.17.0.md
Labels: none

blog: fix 3.17.0 variable name
  blog/en/blog/2026/06/13/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/13/release-apache-apisix-3.17.0.md
Labels: none

blog: fix 3.17.0 release note references
  blog/en/blog/2026/06/13/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/13/release-apache-apisix-3.17.0.md
Labels: none

docs: release APISIX v3.17.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

blog: update 3.17.0 release date
  blog/en/blog/2026/06/15/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/15/release-apache-apisix-3.17.0.md
Labels: none

blog: align 3.17.0 notes with changelog
  blog/en/blog/2026/06/15/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/15/release-apache-apisix-3.17.0.md
Labels: none

Improve technical SEO and mobile performance
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.scss
  blog/src/theme/CodeBlock/styles.module.css
  blog/src/theme/NotFound/index.tsx
  blog/zh/docusaurus.config.js
  config/ssrTemplate.js
  doc/docusaurus.config.js
  doc/src/css/customTheme.scss
  doc/src/pages/edit.tsx
  doc/src/theme/CodeBlock/styles.module.css
  doc/src/theme/NotFound/index.tsx
  website/docusaurus.config.js
  website/src/components/AIGateway/AvifImage.tsx
  website/src/components/AIGateway/Hero.tsx
  website/src/components/HeroCanvas.tsx
  website/src/css/customTheme.scss
  website/src/css/landing-sections/hero.scss
  website/src/pages/ai-gateway.tsx
  website/src/pages/index.tsx
  website/src/theme/NotFound/index.tsx
  website/static/robots.txt
Labels: pages

docs: release APISIX v3.17.0 (#2052)
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

blog: add 3.17.0 release notes (#2051)
  blog/en/blog/2026/06/15/release-apache-apisix-3.17.0.md
  blog/zh/blog/2026/06/15/release-apache-apisix-3.17.0.md
Labels: none

Improve technical SEO and mobile performance (#2053)
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.scss
  blog/src/theme/CodeBlock/styles.module.css
  blog/src/theme/NotFound/index.tsx
  blog/zh/docusaurus.config.js
  config/ssrTemplate.js
  doc/docusaurus.config.js
  doc/src/css/customTheme.scss
  doc/src/pages/edit.tsx
  doc/src/theme/CodeBlock/styles.module.css
  doc/src/theme/NotFound/index.tsx
  website/docusaurus.config.js
  website/src/components/AIGateway/AvifImage.tsx
  website/src/components/AIGateway/Hero.tsx
  website/src/components/HeroCanvas.tsx
  website/src/css/customTheme.scss
  website/src/css/landing-sections/hero.scss
  website/src/pages/ai-gateway.tsx
  website/src/pages/index.tsx
  website/src/theme/NotFound/index.tsx
  website/static/robots.txt
Labels: pages

feat(seo): enrich Plugin Hub metadata and add catalog structured data
  website/src/pages/plugins.tsx
Labels: pages

feat(seo): add an H1 heading to the blog list page
  blog/src/theme/BlogListPage/index.tsx
Labels: none

fix(seo): remove redundant hreflang plugin
  config/hreflang.js
  website/docusaurus.config.js
Labels: none

chore(seo): noindex the auxiliary Netlify deploy
  netlify.toml
Labels: repo

feat(seo): add SoftwareApplication and FAQPage structured data to homepage
  website/src/pages/index.tsx
Labels: pages

fix(seo): publish only the latest version of each sub-project's docs
  scripts/sync-docs.js
  scripts/update-sitemap-loc.js
Labels: scripts

fix(seo): also exclude doc tag aggregation pages from the sitemap
  scripts/update-sitemap-loc.js
Labels: scripts

fix(seo): point plugin ItemList URLs at canonical (trailing-slash) form
  website/src/pages/plugins.tsx
Labels: pages

fix(seo): make special-process-v2md.sh tolerant of the built version set
  scripts/special-process-v2md.sh
Labels: scripts

feat(seo): technical SEO fixes (hreflang dedup, Plugin Hub, structured data, blog H1, Netlify noindex) (#2054)
  blog/src/theme/BlogListPage/index.tsx
  config/hreflang.js
  netlify.toml
  website/docusaurus.config.js
  website/src/pages/index.tsx
  website/src/pages/plugins.tsx
Labels: repo, pages

fix(seo): publish only the latest version of each sub-project's docs (de-bloat sitemap) (#2055)
  scripts/special-process-v2md.sh
  scripts/sync-docs.js
  scripts/update-sitemap-loc.js
Labels: scripts

feat(seo): rewrite homepage for CTR + funnel to docs/pillars/plugins
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/Pathways.tsx
  website/src/components/sections/TrustedBy.tsx
  website/src/css/landing-sections/hero.scss
  website/src/css/landing-sections/integrations.scss
  website/src/css/landing-sections/pathways.scss
  website/src/css/landing-sections/trusted-by.scss
  website/src/pages/index.tsx
Labels: pages

feat(seo): add AI Gateway capability section to homepage
  website/src/components/sections/AIGatewaySection.tsx
  website/src/css/landing-sections/ai-gateway-home.scss
  website/src/pages/index.tsx
Labels: pages

feat(seo): expand integrations grid + redesign comparison table
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Integrations.tsx
  website/src/css/landing-sections/comparison.scss
  website/static/img/integrations/clickhouse.svg
  website/static/img/integrations/consul.svg
  website/static/img/integrations/elasticsearch.svg
  website/static/img/integrations/grafana.svg
  website/static/img/integrations/kubernetes.svg
  website/static/img/integrations/nginx.svg
  website/static/img/integrations/opentelemetry.svg
  website/static/img/integrations/redis.svg
  website/static/img/integrations/vault.svg
Labels: pages

feat(seo): homepage review — drop trusted-by wall, link integration tiles to docs
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/TrustedBy.tsx
  website/src/css/landing-sections/integrations.scss
  website/src/css/landing-sections/trusted-by.scss
  website/src/pages/index.tsx
Labels: pages

fix(seo): rebalance learning-center article layout
  website/src/css/customTheme.scss
Labels: pages

feat(seo): swap homepage 'Browse plugins' pathway for 'Case studies'
  website/src/components/sections/Pathways.tsx
Labels: pages

feat(seo): add /comparisons/ hub page; point navbar there
  config/navbar.js
  website/src/css/comparisons.scss
  website/src/pages/comparisons.tsx
Labels: pages

feat(seo): link AI capability cards to docs + add Comparisons to navbar
  config/navbar.js
  website/src/components/sections/AIGatewaySection.tsx
  website/src/css/landing-sections/ai-gateway-home.scss
Labels: pages

style(seo): comparison table fills its card cleanly
  website/src/css/landing-sections/comparison.scss
Labels: pages

add API gateway comparison pages
  website/src/pages/alternatives/kong-alternative.mdx
  website/src/pages/alternatives/tyk-alternative.mdx
  website/src/pages/comparison/apisix-vs-kong.mdx
  website/src/pages/comparison/apisix-vs-tyk.mdx
  website/src/pages/comparison/open-source-api-gateway.mdx
Labels: pages

feat(seo): rewrite homepage for CTR + funnel to docs/comparisons/AI gateway (#2056)
  config/navbar.js
  website/src/components/sections/AIGatewaySection.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/Pathways.tsx
  website/src/css/comparisons.scss
  website/src/css/customTheme.scss
  website/src/css/landing-sections/ai-gateway-home.scss
  website/src/css/landing-sections/comparison.scss
  website/src/css/landing-sections/hero.scss
  website/src/css/landing-sections/integrations.scss
  website/src/css/landing-sections/pathways.scss
  website/src/pages/comparisons.tsx
  website/src/pages/index.tsx
  website/static/img/integrations/clickhouse.svg
  website/static/img/integrations/consul.svg
  website/static/img/integrations/elasticsearch.svg
  website/static/img/integrations/grafana.svg
  website/static/img/integrations/kubernetes.svg
  website/static/img/integrations/nginx.svg
  website/static/img/integrations/opentelemetry.svg
  website/static/img/integrations/redis.svg
  website/static/img/integrations/vault.svg
Labels: pages

improve api gateway guide pages
  comparison_alternatives_duplicate_content_audit.csv
  comparison_alternatives_fact_check_sources.csv
  comparison_alternatives_followup_items.csv
  comparison_alternatives_internal_links_review.csv
  comparison_alternatives_metadata_review.csv
  comparison_alternatives_open_source_user_paths_review.csv
  comparison_alternatives_page_quality_audit.csv
  comparison_alternatives_review_summary.md
  website/src/pages/comparison/_components/GatewayLandingPage.tsx
  website/src/pages/comparison/_components/GuidesHubPage.tsx
  website/src/pages/comparison/_components/data.ts
  website/src/pages/comparison/_components/extendedData.ts
  website/src/pages/comparison/_components/guideRegistry.ts
  website/src/pages/comparison/_components/styles.module.scss
  website/src/pages/comparison/index.tsx
  website/src/pages/comparison/kubernetes-api-gateway.tsx
  website/src/pages/comparison/kubernetes-ingress-controller.tsx
  website/src/pages/migration/apigee-to-apisix.tsx
  website/src/pages/migration/aws-api-gateway-to-apisix.tsx
  website/src/pages/migration/index.tsx
  website/src/pages/migration/kong-to-apisix.tsx
  website/src/pages/migration/nginx-to-apisix.tsx
  website/src/pages/migration/tyk-to-apisix.tsx
Labels: repo, pages

feat(seo): add Article, FAQPage & BreadcrumbList structured data to Learning Center
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
  website/src/theme/BlogPostPage/index.tsx
Labels: pages

fix(seo): address audit findings on Learning Center structured data
  website/learning-center/what-is-an-api-gateway.md
  website/src/theme/BlogPostPage/index.tsx
Labels: pages
