Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: translate some words
  blog/i18n/zh/code.json
  blog/i18n/zh/docusaurus-plugin-content-blog/options.json
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
Labels: none

docs: add vivo usercase blog (#1415)
  blog/zh/blog/2022/11/13/vivo-with-apache-apisix.md
Labels: none

blog: Add A poor man API post (#1416)
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

Update blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
Labels: none

add poster-1126
  config/event-poster-card.json
Labels: none

chore: update zh poster card info (#1419)
  config/event-poster-card.json
Labels: none

docs: add Tencent Blueking blog (#1413)
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
Labels: none

Update blog/i18n/zh/code.json
  blog/i18n/zh/code.json
Labels: none

Update blog/i18n/zh/code.json
  blog/i18n/zh/code.json
Labels: none

docs: add two weekly report blog
  blog/zh/blog/2022/11/10/weekly-report-1110.md
  blog/zh/blog/2022/11/23/weekly-report-1123.md
Labels: none

docs: add two weekly report blog
  blog/zh/blog/2022/11/10/weekly-report-1110.md
  blog/zh/blog/2022/11/23/weekly-report-1123.md
Labels: none

docs: add two weekly report blog
  blog/zh/blog/2022/11/10/weekly-report-1110.md
  blog/zh/blog/2022/11/23/weekly-report-1123.md
Labels: none

docs: add two weekly report blog
  blog/zh/blog/2022/11/23/weekly-report-1123.md
Labels: none

fix: add style
  blog/src/theme/BlogTagsPostsPage/style.module.scss
Labels: none

docs: add two weekly report blog (#1420)
  blog/zh/blog/2022/11/10/weekly-report-1110.md
  blog/zh/blog/2022/11/23/weekly-report-1123.md
Labels: none

fix: translated some words and added link style (#1418)
  blog/i18n/zh/code.json
  blog/i18n/zh/docusaurus-plugin-content-blog/options.json
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
Labels: none

docs:add two ecosystem blogs
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pords.md
Labels: none

docs:add two ecosystem blogs
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pords.md
Labels: none

docs:add two ecosystem blogs
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
Labels: none

docs:add two ecosystem blogs
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
Labels: none

docs:add two ecosystem blogs
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
Labels: none

docs:add two ecosystem blogs
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
Labels: none

Update blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
Labels: none

Update blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
Labels: none

Update blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
Labels: none

Update blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
Labels: none

fix: edit this page in versions
  doc/docusaurus.config.js
Labels: none

fix: edit this page
  doc/docusaurus.config.js
  doc/src/css/edit.scss
  doc/src/pages/edit.tsx
Labels: none

fix: generate scripts
  .gitignore
  doc/docusaurus.config.js
  scripts/generate-website.js
Labels: repo, scripts

fix: zh translation
  doc/src/pages/edit.tsx
Labels: none

chore: missing 。
  doc/src/pages/edit.tsx
Labels: none

fix: new doc logic
  doc/src/pages/edit.tsx
Labels: none

fix: edit this page (#1422)
  .gitignore
  doc/docusaurus.config.js
  doc/src/css/edit.scss
  doc/src/pages/edit.tsx
  scripts/generate-website.js
Labels: repo, scripts

fix: edit style, rm error last update info
  doc/src/css/edit.scss
  website/docusaurus.config.js
Labels: none

docs:add two ecosystem blogs (#1421)
  blog/zh/blog/2022/11/23/why-is-not-reload-hot-loaded-in-nginx.md
  blog/zh/blog/2022/11/25/how-apisix-support-1000-pods.md
Labels: none

fix: edit style, rm error last update info (#1423)
  doc/src/css/edit.scss
  website/docusaurus.config.js
Labels: none

docs: Add Web resource caching: Client-Side post
  blog/en/blog/2022/12/07/web-caching-client.md
Labels: none

docs: Add Web resource caching: Server-Side post
  blog/en/blog/2022/12/14/web-caching-server.md
Labels: none

docs: Added cover image for poor man's api blog
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

fix: notfound link
  website/src/components/sections/Benefits.tsx
Labels: pages
