Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: i18n
  .gitignore
  blog/i18n/zh/code.json
  blog/i18n/zh/docusaurus-theme-classic/footer.json
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  blog/package.json
  blog/zh/blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
Labels: repo

docs: update README
  README.md
  package.json
Labels: repo

docs: update README (#1219)
  README.md
  package.json
Labels: repo

fix: blog docusaurus config
  blog/en/docusaurus.config.js
Labels: none

fix: sitemap script
  scripts/update-sitemap-loc.js
Labels: scripts

fix: blog related config, scripts (#1220)
  blog/en/docusaurus.config.js
  scripts/update-sitemap-loc.js
Labels: scripts

docs: fix error link
  blog/zh/blog/2022/07/07/weekly-report-0630.md
Labels: none

docs: fix error link (#1221)
  blog/zh/blog/2022/07/07/weekly-report-0630.md
Labels: none

fix: remove blogs' useless canonical
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
Labels: none

fix: remove blogs' useless canonical (#1222)
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
Labels: none

fix: build token
  .github/workflows/deploy.yml
Labels: none

fix: correct ENV name
  .github/workflows/deploy.yml
Labels: none

fix: github rate limit exceeded (#1223)
  .github/workflows/deploy.yml
Labels: none

fix: with => env
  .github/workflows/deploy.yml
Labels: none

fix: correct with => env (#1224)
  .github/workflows/deploy.yml
Labels: none

feat: lazy load images in docs, blogs
  blog/src/theme/BlogPostPage/index.tsx
  website/src/theme/DocPage/index.tsx
Labels: pages

fix: workflow nodes version
  .eslintrc.js
  .github/workflows/deploy.yml
  .github/workflows/link-check.yml
  .gitignore
Labels: repo

fix: build, deploy config
  .github/workflows/deploy.yml
  .gitignore
  doc/package.json
  doc/tsconfig.json
  scripts/generate-website.js
Labels: repo, scripts

fix: website build script
  website/package.json
Labels: none

fix: config, format
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  doc/package.json
  scripts/common.js
  scripts/generate-repos-info.js
  scripts/generate-website.js
  scripts/sync-docs.js
  scripts/update-sitemap-loc.js
  website/docusaurus.config.js
Labels: scripts

fix: SSR
  doc/package.json
  doc/src/theme/DocPage/index.tsx
  doc/src/theme/DocPage/styles.module.css
Labels: none

fix: Logo link
  doc/src/theme/Logo/index.tsx
Labels: none

fix: robots.txt sitemap config
  website/static/robots.txt
Labels: pages

docs: add 7.1-7.15 weekly report
  blog/en/blog/2022/07/21/weekly-report-0715.md
  blog/zh/blog/2022/07/21/weekly-report-0715.md
  website/static/data/events.json
Labels: pages

fix: modify sync doc script to adapt to the branch of ingress
  scripts/sync-docs.js
Labels: scripts

fix: ignore ingress doc ver lt 0.3.0
  scripts/sync-docs.js
Labels: scripts

fix: modify sync doc script to adapt to branches' name of apisix-ingress (#1228)
  scripts/sync-docs.js
Labels: scripts

docs: Add ECGUCon 2022 APISIX blog
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
Labels: none

update all spaces and Lint comments
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
Labels: none

update format
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
Labels: none

docs: fix
  blog/en/blog/2022/07/21/weekly-report-0715.md
  blog/zh/blog/2022/07/21/weekly-report-0715.md
  website/static/data/events.json
Labels: pages

Update blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
Labels: none

docs: Add ECGU Con 2022 APISIX blog (#1229)
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
Labels: none

docs: update goole cloud T2A blog
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: update goole cloud T2A blog
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: update goole cloud T2A blog
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

fix: update comment
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: add goole cloud T2A blog (#1230)
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: Update two typos in blog
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: update two typos in blog (#1231)
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none
