Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Update website/src/pages/ai-gateway.tsx
  website/src/pages/ai-gateway.tsx
Labels: pages

Update website/src/pages/ai-gateway.tsx
  website/src/pages/ai-gateway.tsx
Labels: pages

feat(seo): add BreadcrumbList, SoftwareApplication schema, and image alt text (#2029)
  config/breadcrumb.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/src/pages/downloads.tsx
  website/src/pages/team.tsx
Labels: pages

fix
  website/learning-center/what-is-api-management.md
Labels: none

fix
  website/learning-center/api-gateway-rate-limiting.md
Labels: none

feat(seo): add Learning Center, hreflang, OG tags, and high-value content pages (#2024)
  config/hreflang.js
  config/navbar.js
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/learning-center/what-is-an-api-gateway.md
  website/src/pages/ai-gateway.tsx
  website/src/pages/index.tsx
Labels: pages

update learning center blog list
  website/static/llms.txt
Labels: pages

chore: fix markdownlint error
  CONTRIBUTING-SEO.md
Labels: repo

fix
  website/learning-center/api-gateway-observability.md
  website/learning-center/what-is-cloud-native.md
Labels: none

update
  website/static/llms.txt
Labels: pages

fix
  website/static/llms.txt
Labels: pages

fix: add prerequisites and correct constant key in rate limiting examples
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

fix: weave prerequisites naturally into blog prose
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

Update blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

feat(seo): add sitemap optimization and 5 Learning Center articles (P1) (#2025)
  scripts/update-sitemap-loc.js
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/kubernetes-api-gateway.md
Labels: scripts

feat(seo): add GEO optimization (llms.txt) and 4 Learning Center articles (P2) (#2026)
  website/learning-center/api-monetization-guide.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
  website/static/llms.txt
  website/static/robots.txt
Labels: pages

feat(seo): add 5 Learning Center articles and SEO contributing guide (P3) (#2027)
  CONTRIBUTING-SEO.md
  website/learning-center/api-gateway-security.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/mcp-protocol-ai-gateway.md
Labels: repo

fix catalog
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

blog: add article on APISIX 3.16 dynamic rate limiting (#2028)
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

fix: quote blog frontmatter description
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

fix: quote blog frontmatter description (#2031)
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

ci: lint markdown frontmatter
  .github/workflows/lint.yml
  package.json
  scripts/lint-frontmatter.js
Labels: repo, scripts

ci: lint markdown frontmatter (#2032)
  .github/workflows/lint.yml
  package.json
  scripts/lint-frontmatter.js
Labels: repo, scripts

Fix: Add accessible titles to comparison table icons (#1985)
  website/src/components/sections/Comparison.tsx
Labels: pages

blog: add 2026 April monthly report
  blog/en/blog/2026/04/30/2026-apr-monthly-report.md
  blog/zh/blog/2026/04/30/2026-apr-monthly-report.md
Labels: none

blog: include all 15 feat commits in April monthly report
  blog/en/blog/2026/04/30/2026-apr-monthly-report.md
  blog/zh/blog/2026/04/30/2026-apr-monthly-report.md
Labels: none

Potential fix for pull request finding
  blog/zh/blog/2026/04/30/2026-apr-monthly-report.md
Labels: none

add images
  blog/en/blog/2026/04/30/2026-apr-monthly-report.md
  blog/zh/blog/2026/04/30/2026-apr-monthly-report.md
Labels: none

blog: add 2026 April monthly report (#2034)
  blog/en/blog/2026/04/30/2026-apr-monthly-report.md
  blog/zh/blog/2026/04/30/2026-apr-monthly-report.md
Labels: none

fix: sync plugin hub data and icon fallbacks
  website/static/data/plugins.json
Labels: pages

fix: rename PluginHub navbar label
  config/navbar.js
Labels: none

fix: change onBrokenLinks from 'log' to 'warn' to prevent build failures
  doc/docusaurus.config.js
Labels: none

fix: use absolute URLs for cross-workspace navigation links
  config/navbar.js
  doc/src/theme/Footer/index.tsx
  doc/src/theme/NotFound/index.tsx
Labels: none

fix: also convert /docs and /docs/general/* links to absolute URLs
  config/navbar.js
Labels: none

fix: sync plugin hub data and labels (#2040)
  config/navbar.js
  website/static/data/plugins.json
Labels: pages

ci: declare workflow-level contents: read on 3 workflows
  .github/workflows/deploy.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
Labels: none

blog: add 2026 May monthly report
  blog/en/blog/2026/05/31/2026-may-monthly-report.md
  blog/zh/blog/2026/05/31/2026-may-monthly-report.md
Labels: none

docs: update APISIX Ingress Controller release to 2.1.0 and set date to 2026-06-01
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

chore: restore release posts
  config/docs.js
  config/downloads.js
Labels: none

add images
  blog/en/blog/2026/05/31/2026-may-monthly-report.md
  blog/zh/blog/2026/05/31/2026-may-monthly-report.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
