Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Update blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

Update blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

refactor: support windows
  blog/copy-folder.mjs
  blog/package.json
  package.json
  yarn.lock
Labels: repo

refactor: support windows (#1315)
  blog/copy-folder.mjs
  blog/package.json
  package.json
  yarn.lock
Labels: repo

Add new blog post
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

update blog images CDN
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

fix punctuation and typo on the link
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

add links to pricing model resources
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

feat: ignore wrong ext CDN images
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

feat: ignore wrong ext CDN images (#1317)
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

Update blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

Update blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

chore: update /slack 302
  .htaccess
Labels: repo

chore: update /slack 302 (#1318)
  .htaccess
Labels: repo

docs: Add new blog post "API monetization using an API Management and a billing provider" (#1316)
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

docs: update blog "Why would you choose Apache APISIX instead of Nginx or Kong" (#1314)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

docs: add new blog post on using APISIX Ingress controller (#1312)
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

docs: Why Is Apache APISIX the Best API Gateway?
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
  blog/en/config/picked-posts.json
Labels: none

Update blog/en/config/picked-posts.json
  blog/en/config/picked-posts.json
Labels: none

docs: Why Is Apache APISIX the Best API Gateway? (#1320)
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
  blog/en/config/picked-posts.json
Labels: none

docs(why-is-apache-apisix-the-best-api-gateway.md): fix br tags
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
Labels: none

docs(why-is-apache-apisix-the-best-api-gateway.md): fix br tags (#1321)
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
Labels: none

docs: add APISIX integrate Elasticsearch plugin blog
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

add blog cover
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

update format
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

update format
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

update comments
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

update format
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

add a redirect link to signup form
  .htaccess
Labels: repo

chore: update Slack invitation link
  .htaccess
Labels: repo

chore: update Slack invitation link (#1323)
  .htaccess
Labels: repo

feat: change slack invitation link
  README.md
  website/docs/general/join.md
Labels: repo, docs-general

feat: change slack invitation link (#1324)
  README.md
  website/docs/general/join.md
Labels: repo, docs-general

docs: add APISIX integrate OpenFunction blog
  blog/zh/blog/2022/09/20/apisix-integrate-cncf-openfunction.md
Labels: none

update Lint comments
  blog/zh/blog/2022/09/20/apisix-integrate-cncf-openfunction.md
Labels: none

refactor: blog list first page style
  blog/i18n/zh/code.json
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

refactor: blog list first page style (#1326)
  blog/i18n/zh/code.json
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

update comments
  blog/zh/blog/2022/09/20/apisix-integrate-cncf-openfunction.md
Labels: none

docs: add APISIX integrate Elasticsearch plugin blog (#1319)
  blog/zh/blog/2022/09/15/apache-apisix-integrat-with-elasticsearch-for-logger.md
Labels: none

feat: add a redirect link to signup form (#1322)
  .htaccess
Labels: repo

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
