Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

Update apisix-unity-group-q&a.md
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

blog: Add mTLS everywhere blog post
  blog/en/blog/2023/03/23/mtls-everywhere.md
Labels: none

Update blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

docs: add APISIX-unity-group-q&a (#1551)
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

docs: fix cover
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

docs: fix cover (#1555)
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

Update apisix-unity-group-q&a.md
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

docs: add weekly report 20230409 blog
  blog/zh/blog/2023/04/12/weekly-report-0409.md
Labels: none

Removed duplicated ip-restriction plugin
  website/static/data/plugins.json
Labels: pages

Add: biweekly report 0414
  blog/en/blog/2023/04/14/weekly-report-0414.md
Labels: none

Update weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Update weekly-report-0226.md
  blog/en/blog/2023/03/02/weekly-report-0226.md
Labels: none

docs: add weekly report 20230409 blog (#1558)
  blog/zh/blog/2023/04/12/weekly-report-0409.md
Labels: none

Add: biweekly report 0414 (#1561)
  blog/en/blog/2023/03/02/weekly-report-0226.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
  blog/en/blog/2023/04/14/weekly-report-0414.md
Labels: none

Update weekly-report-0414.md
  blog/en/blog/2023/04/14/weekly-report-0414.md
Labels: none

Update apisix-unity-group-q&a.md (#1556)
  blog/en/blog/2023/04/07/apisix-unity-group-q&a.md
Labels: none

Added Tags in blog of why apache apisix the best api gateway
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
Labels: none

Update package.json
  package.json
Labels: repo

Update package.json
  package.json
Labels: repo

Update weekly-report-0414.md (#1562)
  blog/en/blog/2023/04/14/weekly-report-0414.md
Labels: none

blog: Add mTLS everywhere blog post (#1539)
  blog/en/blog/2023/03/23/mtls-everywhere.md
Labels: none

New tags added
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

Removed duplicated ip-restriction plugin (#1559)
  website/static/data/plugins.json
Labels: pages

New tags added (#1566)
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

docs: add 10 api management trends blog
  blog/zh/blog/2023/04/03/10-api-management-trends.md
Labels: none

fix contents
  blog/zh/blog/2023/04/03/10-api-management-trends.md
Labels: none

chore: disable pull_request_target
  .github/workflows/deploy.yml
Labels: none

chore: disable pull_request_target (#1569)
  .github/workflows/deploy.yml
Labels: none

Add weekly report 0426
  blog/zh/blog/2023/04/26/weekly-report-0426.md
Labels: none

Add weekly report 0426
  blog/en/blog/2023/04/26/weekly-report-0426.md
Labels: none

Update blog/en/blog/2023/04/26/weekly-report-0426.md
  blog/en/blog/2023/04/26/weekly-report-0426.md
Labels: none

docs: add weekly report 0426 (#1570)
  blog/zh/blog/2023/04/26/weekly-report-0426.md
Labels: none

docs: add weekly report 0426(en) (#1571)
  blog/en/blog/2023/04/26/weekly-report-0426.md
Labels: none

Create hello-world.js
  netlify/functions/hello-world.js
Labels: none

chore: update Slack invitation
  .htaccess
Labels: repo

chore: update Slack invitation (#1573)
  .htaccess
Labels: repo

fixed website/static/data/plugins.json typo
  website/static/data/plugins.json
Labels: pages

fixed website/static/data/plugins.json typo (#1574)
  website/static/data/plugins.json
Labels: pages

feat: release APISIX 3.3.0
  config/docs.js
  config/downloads.js
Labels: none

release: apisix 3.3 docs
  config/apisix-versions.js
Labels: none
