Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

chore: disable list directory
  .htaccess
Labels: repo

chore: disable list directory (#1201)
  .htaccess
Labels: repo

chore: redirect 403 to 404
  .htaccess
Labels: repo

chore: redirect 403 to 404 (#1202)
  .htaccess
Labels: repo

chore: add sitemap.xml to robots.txt
  website/static/robots.txt
Labels: pages

chore: add sitemap.xml to robots.txt (#1204)
  website/static/robots.txt
Labels: pages

chore: trailingSlash
  website/docusaurus.config.js
Labels: none

chore: build script in preview
  website/config/ssrTemplate.js
Labels: pages

chore: add trailing slash (#1205)
  website/config/ssrTemplate.js
  website/docusaurus.config.js
Labels: pages

fix: extract elements in h1 tags
  website/src/components/sections/HeroSection.tsx
Labels: pages

fix: add page titles
  website/src/pages/docs.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/team.tsx
Labels: pages

fix: github api rate limit
  scripts/generate-repos-info.js
Labels: scripts

fix: add page titles (#1208)
  scripts/generate-repos-info.js
  website/src/pages/docs.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/team.tsx
Labels: pages, scripts

fix: extract elements in h1 tags (#1207)
  website/src/components/sections/HeroSection.tsx
Labels: pages

fix: redirect 4xx links
  .htaccess
Labels: repo

fix: redirect 4xx links (#1209)
  .htaccess
Labels: repo

fix: error 301 redirect
  .htaccess
Labels: repo

fix: error 301 redirect (#1210)
  .htaccess
Labels: repo

docs: update too long blog title 3/3
  website/blog/2022/01/25/release-apache-apisix-2.12.md
  website/blog/2022/02/16/file-logger-api-gateway.md
  website/blog/2022/03/03/weekly-report-0228.md
  website/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  website/blog/2022/03/24/weekly-report-0314.md
  website/blog/2022/03/28/release-apache-apisix-2.13.md
  website/blog/2022/04/12/apisix-summit-asia-2022.md
  website/blog/2022/06/07/weekly-report-0607.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/25/release-apache-apisix-2.12.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/02/16/file-logger-api-gateway.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/03/weekly-report-0228.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/24/weekly-report-0314.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/28/release-apache-apisix-2.13.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/04/20/weekly-report-0420.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/10/weekly-report-0510.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/weekly-report-0607.md
Labels: blog

add other contents
  website/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  website/blog/2021/08/09/Apache-APISIX-in-Quliankeji.md
  website/blog/2021/08/30/Ingress-Meeting.md
  website/blog/2021/09/07/iQIYI-usercase.md
  website/blog/2021/10/09/apisix-ingress-techblog.md
  website/blog/2021/10/13/celebrating-300-contributors-of-apisix.md
  website/blog/2021/10/22/cert-manager-in-ingress.md
  website/blog/2021/11/02/weekly-report-1031.md
  website/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  website/blog/2021/12/01/release-apache-apisix-2.11.md
  website/blog/2021/12/02/weekly-report-1130.md
  website/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  website/blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  website/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  website/blog/2022/01/04/authing.md
  website/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/10/09/apisix-ingress-techblog.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/10/14/weekly-report-1014.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/16/weekly-report-1114.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/01/apisix-supports-azure-functions.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/19/weekly-report-0116.md
Labels: blog

demo: blogs dropdown
  website/config/navbar.js
Labels: pages

demo: replace locale dropdown with blog link
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

fix: target _self
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

fix: error links
  website/config/navbar.js
Labels: pages

docs: add prometheus blog
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
Labels: blog

docs: udpate comment
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
Labels: blog

docs: update description
  website/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  website/blog/2020/12/16/another-way-to-implement-envoy-filter.md
  website/blog/2020/12/18/first-look-at-kubernetes-service-api.md
  website/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  website/blog/2021/01/21/run-ingress-apisix-on-amazon-eks.md
  website/blog/2021/02/08/stable-product-delivery-with-cypress.md
  website/blog/2021/02/26/install-apache-apisix-from-helm-charts.md
  website/blog/2021/03/02/get-front-end-test-coverage-with-cypress.md
  website/blog/2021/05/24/Tencent-Games.md
  website/blog/2021/05/25/Apache APISIX 2.6.0-Release.md
  website/i18n/zh/docusaurus-plugin-content-blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2020/12/18/first-look-at-kubernetes-service-api.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/05/24/Tencent-Games.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/05/25/Apache APISIX 2.6.0-Release.md
Labels: blog

docs: update comment
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
Labels: blog

docs: update pictures in xrpc blog
  website/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
Labels: blog

docs: update pictures in xrpc blog (#1216)
  website/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
Labels: blog

chore: improve perf
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

feat: replace locale dropdown with blog link (#1213)
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

fix: EventPosterCard
  website/src/components/EventPosterCard.tsx
Labels: pages

fix: EventPosterCard (#1217)
  website/src/components/EventPosterCard.tsx
Labels: pages

fix: blog style, config
  .github/workflows/deploy.yml
  blog/docusaurus.config.en.js
  blog/docusaurus.config.zh.js
  blog/src/css/customTheme.css
  blog/src/css/util.scss
  blog/src/theme/BlogPostPage/index.tsx
  blog/src/theme/Footer/index.tsx
  blog/src/theme/Footer/styles.module.scss
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  blog/src/utils/index.ts
  blog/src/utils/types.d.ts
  package.json
  scripts/generate-website.js
  website/config/navbar.js
  website/docusaurus.config.js
Labels: repo, pages, scripts

chore: rm useless files
  scripts/generate-website.js
Labels: scripts

refactor: build scripts
  .github/workflows/deploy.yml
  blog/docusaurus.config.zh.js
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  package.json
  scripts/package.json
  website/package.json
Labels: repo, scripts

fix: deploy config
  .github/workflows/deploy.yml
  scripts/generate-website.js
Labels: scripts

fix: correct en blog config
  blog/en/docusaurus.config.js
Labels: none

fix: NotFound, Footer
  blog/src/theme/Footer/index.tsx
  blog/src/theme/NotFound/Fitty.tsx
  blog/src/theme/NotFound/fit.css
  blog/src/theme/NotFound/index.tsx
  blog/src/theme/NotFound/styles.module.scss
  website/src/theme/Footer/index.tsx
Labels: pages
