Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: scss use map
  website/src/css/util.scss
Labels: pages

refactor: footer (#1176)
  .stylelintrc
  package.json
  website/docusaurus.config.js
  website/package.json
  website/src/components/sections/Endcta.tsx
  website/src/css/util.scss
  website/src/theme/Footer/index.tsx
  website/src/theme/Footer/styles.module.scss
  website/src/utils/types.d.ts
  yarn.lock
Labels: repo, pages

refactor: endcta
  website/src/components/sections/Endcta.tsx
  website/src/css/endcta.module.scss
Labels: pages

fix: mobile style
  website/src/components/sections/Endcta.tsx
  website/src/css/endcta.module.scss
Labels: pages

refactor: endcta (#1177)
  website/src/components/sections/Endcta.tsx
  website/src/css/endcta.module.scss
Labels: pages

docs: update blog description
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

fix: features component
  website/src/components/sections/Features.tsx
Labels: pages

docs: fix error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

fix: gsap register
  website/src/components/sections/Features.tsx
Labels: pages

docs: fix error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix error
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

fix: run windowType browser only
  website/src/components/sections/Features.tsx
Labels: pages

chore: remove useless code
  website/src/components/sections/Features.tsx
Labels: pages

fix: features component (#1178)
  website/src/components/sections/Features.tsx
Labels: pages

docs: update new upcoming events (#1174)
  website/docs/general/events.md
Labels: docs-general

docs: correct word errors (#1181)
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

refactor: OpensourcePromo
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/os-promo.module.scss
Labels: pages

fix: oss part min width
  website/src/css/os-promo.module.scss
Labels: pages

feat: OpensourcePromo mobile style
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/os-promo.module.scss
Labels: pages

refactor: OpensourcePromo (#1182)
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/os-promo.module.scss
Labels: pages

fix: ospromo, endcta style below 1500px
  website/src/css/endcta.module.scss
  website/src/css/os-promo.module.scss
  website/src/css/util.scss
Labels: pages

fix: ospromo, endcta style below 1500px (#1183)
  website/src/css/endcta.module.scss
  website/src/css/os-promo.module.scss
  website/src/css/util.scss
Labels: pages

docs: fix description error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix description error (#1185)
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

refactor: HomeEventsSection
  website/i18n/zh/code.json
  website/src/components/sections/HomeEventsSection.tsx
  website/src/css/home-events.module.scss
Labels: pages

chore: rollback Features Component
  website/src/components/sections/Features.tsx
Labels: pages

refactor: homeEvents mobile style
  website/src/css/home-events.module.scss
Labels: pages

refactor: HomeEventsSection (#1186)
  website/i18n/zh/code.json
  website/src/components/sections/Features.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/css/home-events.module.scss
Labels: pages

docs: add APISIX integrates with Hydra blog
  website/blog/2022/07/04/apisix-integrates-with-hydra.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog

fix: view docs btn
  website/src/components/ArrowAnim.tsx
  website/src/css/home-events.module.scss
Labels: pages

docs: fix comment
  website/blog/2022/07/04/apisix-integrates-with-hydra.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog

docs: fix comment
  website/blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog

docs: fix comment
  website/blog/2022/07/04/apisix-integrates-with-hydra.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog
