Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix typo
  blog/en/blog/2025/01/26/monthly-report.md
Labels: none

fix comments
  blog/en/blog/2024/01/03/bi-weekly-report.md
  blog/en/blog/2024/01/18/bi-weekly-report.md
  blog/en/blog/2024/01/31/bi-weekly-report.md
  blog/en/blog/2024/04/01/monthly-report.md
  blog/en/blog/2024/04/30/monthly-report.md
  blog/en/blog/2024/11/30/bi-monthly-report.md
  blog/en/blog/2024/12/31/monthly-report.md
  blog/en/blog/2025/01/26/monthly-report.md
  blog/zh/blog/2024/01/03/bi-weekly-report.md
  blog/zh/blog/2024/01/18/bi-weekly-report.md
  blog/zh/blog/2024/01/31/bi-weekly-report.md
  blog/zh/blog/2024/04/01/monthly-report.md
  blog/zh/blog/2024/04/30/monthly-report.md
  blog/zh/blog/2024/11/30/bi-monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2025/01/26/monthly-report.md
Labels: none

fix: update Events Calendar page
  website/docs/general/events.md
Labels: docs-general

fix description
  blog/en/blog/2025/01/26/monthly-report.md
  blog/zh/blog/2025/01/26/monthly-report.md
Labels: none

1848 changes
  website/docs/general/events.md
Labels: docs-general

Update events.md 1848
  website/docs/general/events.md
Labels: docs-general

blog: add Jan. monthly-report, fix truncate in previous posts (#1849)
  blog/en/blog/2024/01/03/bi-weekly-report.md
  blog/en/blog/2024/01/18/bi-weekly-report.md
  blog/en/blog/2024/01/31/bi-weekly-report.md
  blog/en/blog/2024/04/01/monthly-report.md
  blog/en/blog/2024/04/30/monthly-report.md
  blog/en/blog/2024/11/30/bi-monthly-report.md
  blog/en/blog/2024/12/31/monthly-report.md
  blog/en/blog/2025/01/26/monthly-report.md
  blog/zh/blog/2024/01/03/bi-weekly-report.md
  blog/zh/blog/2024/01/18/bi-weekly-report.md
  blog/zh/blog/2024/01/31/bi-weekly-report.md
  blog/zh/blog/2024/04/01/monthly-report.md
  blog/zh/blog/2024/04/30/monthly-report.md
  blog/zh/blog/2024/11/30/bi-monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2025/01/26/monthly-report.md
Labels: none

fixed lint issue
  website/docs/general/events.md
Labels: docs-general

spell
  website/docs/general/contributor-guide.md
Labels: docs-general

blog: add analyzing-api-gateway-adoption-rates
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
Labels: none

add description
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
Labels: none

fix typo
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
Labels: none

fix comments
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
Labels: none

Update picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

blog: add analyzing-api-gateway-adoption-rates (#1853)
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
Labels: none

update en version and fix author image
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
  blog/en/config/picked-posts.json
Labels: none

docs: update picked-posts.json (#1854)
  blog/en/blog/2025/02/06/analyzing-api-gateway-adoption-rates.md
  blog/en/config/picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

fix: link check ci failed
  .github/workflows/link-check.yml
Labels: none

fix: link check ci failed (#1855)
  .github/workflows/link-check.yml
Labels: none

fix: Correct typo in contributor guide
  website/docs/general/contributor-guide.md
Labels: docs-general

docs: fix typo in apache-apisix-runtime-dynamic-debugging.md
  blog/zh/blog/2022/08/19/apache-apisix-runtime-dynamic-debugging.md
Labels: none

docs: fix typo in apache-apisix-runtime-dynamic-debugging.md (#1856)
  blog/zh/blog/2022/08/19/apache-apisix-runtime-dynamic-debugging.md
Labels: none

added hover effect
  website/src/pages/team.tsx
Labels: pages

hover effect on logo
  website/src/css/showcase.scss
Labels: pages

blog: add cloud-vs-open-source-vs-commercial-api-gateways
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

Update cloud-vs-open-source-vs-commercial-api-gateways.md
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix typo
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

add links
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix comment
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix author url
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

blog: add cloud-vs-open-source-vs-commercial-api-gateways (#1859)
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix: cloud-vs-open-source-vs-commercial-api-gateways
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix: cloud-vs-open-source-vs-commercial-api-gateways (#1860)
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix: update Events Calendar page based on pr #1848 (#1851)
  website/docs/general/events.md
Labels: docs-general

blog: add why-reinvent-api-gateways
  blog/en/blog/2025/02/why-reinvent-api-gateways.md
Labels: none

Update why-reinvent-api-gateways.md
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

add desc
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

Update canonical url
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

blog: add why-reinvent-api-gateways (#1861)
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

blog: add apisix-ai-gateway-features
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none
