Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

feat: support event card in every page
  .gitignore
  config/event-poster-card-schema.json
  config/event-poster-card.json
  package.json
  scripts/generate-event-poster-card.sh
  website/src/theme/Footer/EventPosterCard.tsx
  website/src/theme/Footer/event-poster-card.module.scss
  website/src/theme/Footer/index.tsx
  website/src/theme/Footer/util.scss
  website/src/theme/Root.tsx
Labels: repo, pages, scripts

fix: config path
  .gitignore
  scripts/generate-event-poster-card.sh
  website/src/theme/Footer/EventPosterCard.tsx
Labels: repo, pages, scripts

feat: support event card in every page (#1619)
  .gitignore
  config/event-poster-card-schema.json
  config/event-poster-card.json
  package.json
  scripts/generate-event-poster-card.sh
  website/src/theme/Footer/EventPosterCard.tsx
  website/src/theme/Footer/event-poster-card.module.scss
  website/src/theme/Footer/index.tsx
  website/src/theme/Footer/util.scss
  website/src/theme/Root.tsx
Labels: repo, pages, scripts

feat: fix event poster
  .gitignore
  doc/src/theme/Footer/EventPosterCard.tsx
  doc/src/theme/Footer/event-poster-card.json
  doc/src/theme/Footer/event-poster-card.module.scss
  doc/src/theme/Footer/index.tsx
  doc/src/theme/Footer/util.scss
  scripts/generate-event-poster-card.sh
Labels: repo, scripts

fix: remove doc event poster
  .gitignore
  scripts/generate-event-poster-card.sh
Labels: repo, scripts

Create test
  blog/test
Labels: none

Create weekly-report-zh.md
  blog/zh/blog/2023/06/21/weekly-report-zh.md
Labels: none

Create weekly-report-en.md
  blog/en/blog/2023/06/21/weekly-report-en.md
Labels: none

Delete test
  blog/test
Labels: none

fix: remove doc event poster (#1621)
  .gitignore
  scripts/generate-event-poster-card.sh
Labels: repo, scripts

Update weekly-report-en.md
  blog/en/blog/2023/06/21/weekly-report-en.md
Labels: none

Update weekly-report-zh.md
  blog/zh/blog/2023/06/21/weekly-report-zh.md
Labels: none

Update blog/zh/blog/2023/06/21/weekly-report-zh.md
  blog/zh/blog/2023/06/21/weekly-report-zh.md
Labels: none

Update weekly-report-en.md
  blog/en/blog/2023/06/21/weekly-report-en.md
Labels: none

docs: Add biweekly-report-0621 (#1622)
  blog/en/blog/2023/06/21/weekly-report-en.md
  blog/zh/blog/2023/06/21/weekly-report-zh.md
Labels: none

blog: APISIX MQTT proxy
  blog/en/blog/2023/06/30/apisix-mqtt-proxy.md
Labels: none

fix: build error
  doc/src/theme/Footer/EventPosterCard.tsx
  website/src/theme/Footer/EventPosterCard.tsx
Labels: pages

update gitignore
  .gitignore
Labels: repo

fix: event poster build error on doc workspace (#1620)
  .gitignore
  doc/src/theme/Footer/EventPosterCard.tsx
  doc/src/theme/Footer/event-poster-card.json
  doc/src/theme/Footer/event-poster-card.module.scss
  doc/src/theme/Footer/index.tsx
  doc/src/theme/Footer/util.scss
  scripts/generate-event-poster-card.sh
Labels: repo, scripts

blog: a tiny APISIX plugin
  blog/en/blog/2023/07/07/tiny-apisix-plugin.md
Labels: none

fix lint issues
  blog/en/blog/2023/07/07/tiny-apisix-plugin.md
Labels: none

fix indents
  blog/en/blog/2023/07/07/tiny-apisix-plugin.md
Labels: none

fix indents
  blog/en/blog/2023/07/07/tiny-apisix-plugin.md
Labels: none

add suggestions from review
  blog/en/blog/2023/07/07/tiny-apisix-plugin.md
Labels: none

Add code samples page
  config/navbar.js
  website/docs/general/code-samples.md
Labels: docs-general

Add code samples page (#1628)
  config/navbar.js
  website/docs/general/code-samples.md
Labels: docs-general

add placeholder
  blog/en/blog/2023/06/30/release-apache-apisix-3.4.0.md
  blog/src/theme/Footer/index.tsx
  blog/zh/blog/2023/06/30/release-apache-apisix-3.4.0.md
Labels: none

Revert auto formatting to index.tsx
  blog/src/theme/Footer/index.tsx
Labels: none

site: update event poster card
  config/event-poster-card.json
Labels: none

site: update events page
  website/docs/general/events.md
Labels: docs-general

fix typo
  website/docs/general/events.md
Labels: docs-general

feat: update event poster and event details (#1630)
  config/event-poster-card.json
  website/docs/general/events.md
Labels: docs-general

fix: table in events page
  website/docs/general/events.md
Labels: docs-general

fix: table in events page (#1631)
  website/docs/general/events.md
Labels: docs-general

add canonical url
  blog/en/blog/2023/06/30/apisix-mqtt-proxy.md
Labels: none

feat: release APISIX 3.4.0
  config/docs.js
  config/downloads.js
Labels: none

update date
  config/docs.js
  config/downloads.js
Labels: none

english release notes
  blog/en/blog/2023/06/30/release-apache-apisix-3.4.0.md
Labels: none

Update release-apache-apisix-3.4.0.md
  blog/zh/blog/2023/06/30/release-apache-apisix-3.4.0.md
Labels: none

Update release-apache-apisix-3.4.0.md
  blog/en/blog/2023/06/30/release-apache-apisix-3.4.0.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
