Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

fix: authors' default avatar, footer slack links, CJK reading time (#1240)
  .htaccess
  blog/en/docusaurus.config.js
  blog/i18n/zh/code.json
  blog/package.json
  blog/src/theme/BlogPostAuthor/index.tsx
  blog/src/theme/BlogPostAuthors/index.tsx
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/Footer/index.tsx
  blog/zh/docusaurus.config.js
  doc/package.json
  doc/src/theme/Footer/index.tsx
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: repo

fix: author img z-index
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

refacror: optimize authors style
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

refactor: BlogListPaginator
  blog/src/theme/BlogListPaginator/index.tsx
  blog/src/theme/BlogListPaginator/style.module.scss
Labels: none

refactor: BlogPostPaginator
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPostPage/index.tsx
  blog/src/theme/BlogPostPaginator/index.tsx
  blog/src/theme/BlogPostPaginator/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

refactor: author images order in mobile
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

refactor: blog paginators (#1241)
  blog/src/theme/BlogListPaginator/index.tsx
  blog/src/theme/BlogListPaginator/style.module.scss
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPostPage/index.tsx
  blog/src/theme/BlogPostPaginator/index.tsx
  blog/src/theme/BlogPostPaginator/style.module.scss
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

docs: Update 0614 three blog EN images
  blog/en/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/en/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/en/blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: none

feat: release APISIX 2.15.0
  config/downloads.js
Labels: none

docs: update Blog description, tags and keywords
  blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/en/blog/2020/12/16/another-way-to-implement-envoy-filter.md
  blog/en/blog/2020/12/18/first-look-at-kubernetes-service-api.md
  blog/en/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/en/blog/2021/01/21/run-ingress-apisix-on-amazon-eks.md
  blog/en/blog/2021/02/08/stable-product-delivery-with-cypress.md
  blog/en/blog/2021/02/26/install-apache-apisix-from-helm-charts.md
  blog/en/blog/2021/03/02/get-front-end-test-coverage-with-cypress.md
  blog/en/blog/2021/05/24/Tencent-Games.md
  blog/en/blog/2021/05/25/Apache APISIX 2.6.0-Release.md
  blog/en/blog/2021/06/03/firsthand-experience-with-apache-apisix-shared-by-student-participants-in-ospp-2020.md
  blog/en/blog/2021/06/06/apisix-two-years.md
  blog/en/blog/2021/06/07/Apache-APISIX-not-affected-by-NGINX-CVE-2021-23017.md
  blog/en/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/en/blog/2021/06/16/Chaos-Mesh-helps-Apache-APISIX-improve-stability.md
  blog/zh/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/zh/blog/2020/12/18/first-look-at-kubernetes-service-api.md
  blog/zh/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/zh/blog/2021/05/24/Tencent-Games.md
  blog/zh/blog/2021/05/25/Apache APISIX 2.6.0-Release.md
  blog/zh/blog/2021/06/03/experience-share-from-Apache-APISIX-committer.md
  blog/zh/blog/2021/06/06/apisix-two-years.md
  blog/zh/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/zh/blog/2021/06/16/Chaos-Mesh-helps-Apache-APISIX-improve-stability.md
Labels: none

update release version
  config/docs.js
  config/downloads.js
Labels: none

docs: update 0614 three blog EN images (#1242)
  blog/en/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/en/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/en/blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: none

feat: release APISIX 2.15.0 (#1243)
  config/docs.js
  config/downloads.js
Labels: none

docs: Add Apache APISIX 2.15 Release Blog
  blog/en/blog/2022/07/29/release-apache-apisix-2.15.md
  blog/zh/blog/2022/07/29/release-apache-apisix-2.15.md
Labels: none

update Lint comments
  blog/en/blog/2022/07/29/release-apache-apisix-2.15.md
  blog/zh/blog/2022/07/29/release-apache-apisix-2.15.md
Labels: none

chore: release apisix 2.15 docs
  config/apisix-versions.js
Labels: none

update comments
  blog/en/blog/2022/07/29/release-apache-apisix-2.15.md
  blog/zh/blog/2022/07/29/release-apache-apisix-2.15.md
Labels: none

docs: fix typo
  blog/zh/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/zh/blog/2021/06/16/Chaos-Mesh-helps-Apache-APISIX-improve-stability.md
Labels: none

chore: release apisix 2.15 docs (#1247)
  config/apisix-versions.js
Labels: none

docs: Add Apache APISIX 2.15 Release Blog (#1246)
  blog/en/blog/2022/07/29/release-apache-apisix-2.15.md
  blog/zh/blog/2022/07/29/release-apache-apisix-2.15.md
Labels: none

feat: apisix docs version with badge
  config/apisix-versions.js
  doc/src/theme/DocSidebar/index.tsx
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  doc/src/theme/NavbarItem/index.tsx
  doc/src/theme/NavbarItem/style.module.scss
Labels: none

fix: relative import path
  .eslintrc.js
  doc/src/theme/DocSidebar/index.tsx
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: repo

feat: add badge to all docs
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: none

feat: apisix docs version with badge (#1248)
  .eslintrc.js
  config/apisix-versions.js
  doc/src/theme/DocSidebar/index.tsx
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  doc/src/theme/NavbarItem/index.tsx
  doc/src/theme/NavbarItem/style.module.scss
Labels: repo

docs: update blog description, keywords and tags
  blog/en/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/en/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/en/blog/2021/06/29/release-apache-apisix-2.7.md
  blog/en/blog/2021/06/30/etcd3-support-HTTP-access-perfectly.md
  blog/zh/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/zh/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  blog/zh/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/06/29/release-apache-apisix-2.7.md
  blog/zh/blog/2021/06/30/etcd3-support-HTTP-access-perfectly.md
Labels: none

docs: update blog description, keywords and tags
  blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/zh/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
Labels: none

docs: add why-we-need-apache-apisix blog
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix-as-api.md
Labels: none

docs: add why-we-need-apache-apisix blog
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix.md
Labels: none

docs: add why-we-need-apache-apisix blog
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix.md
Labels: none

feat: Blog tags header
  blog/package.json
  blog/src/css/customTheme.css
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
  yarn.lock
Labels: repo

docs: fix comment
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix.md
Labels: none

docs: fix comment
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix.md
Labels: none

docs: fix comment
  blog/en/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
Labels: none

docs: update tags、description and keywords
  blog/en/blog/2021/07/06/celebrate-200-contributors.md
  blog/en/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  blog/en/blog/2021/07/25/apachecon-asia.md
  blog/en/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/en/blog/2021/07/28/release-apache-apisix-2.8.md
  blog/zh/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  blog/zh/blog/2021/07/25/apachecon-asia.md
  blog/zh/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/zh/blog/2021/07/28/release-apache-apisix-2.8.md
Labels: none

feat: featured blog posts
  .gitignore
  blog/en/config/picked-posts.json
  blog/package.json
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
  blog/zh/config/picked-posts.json
  scripts/generate-picked-posts-info.mjs
  scripts/package.json
  yarn.lock
Labels: repo, scripts

fix: update scripts
  package.json
Labels: repo

feat: Blog tags header (#1251)
  blog/package.json
  blog/src/css/customTheme.css
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
  yarn.lock
Labels: repo

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
