Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

fix(docs/blog): inline image width syntax (#1953)
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

fix
  config/navbar.js
  doc/src/theme/DocPage/index.tsx
Labels: none

chore: adjust `apisix-dashboard` docs and the download link (#1912)
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  config/docs.js
  config/downloads.js
  config/navbar.js
  doc/docusaurus.config.js
  doc/i18n/zh/docusaurus-theme-classic/navbar.json
  scripts/common.js
  website/i18n/zh/docusaurus-theme-classic/navbar.json
Labels: scripts

update
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/zh/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

fix
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

Update blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

Update blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/zh/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

fix
  blog/zh/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

fix
  blog/zh/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

blog: add 2025 September monthly report (#1954)
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/zh/blog/2025/09/30/2025-sep-monthly-report.md
Labels: none

add 3.14.0 release notes
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

lint
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

docs: release APISIX 3.14.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

blog: add 3.14.0 release notes (#1955)
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

docs: release APISIX 3.14.0 (#1956)
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

fix typo in release-apache-apisix-3.14.0.md
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

lint
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

fix
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

docs: fix typo in 3.14.0 release notes (#1957)
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

remove response_status
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

remove tag
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

add 3.14.1 release notes
  blog/en/blog/2025/10/16/release-apache-apisix-3.14.1.md
  blog/zh/blog/2025/10/16/release-apache-apisix-3.14.1.md
Labels: none

remove one breaking change
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

remove one breaking change
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

blog: correct datadog plugin update and breaking change in 3.14.0 release (#1958)
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
  blog/zh/blog/2025/10/10/release-apache-apisix-3.14.0.md
Labels: none

docs: release APISIX 3.14.1
  config/docs.js
  config/downloads.js
Labels: none

Update release date to 2025-10-17
  config/docs.js
Labels: none

Update release date to 2025-10-17
  config/downloads.js
Labels: none

update date
  blog/en/blog/2025/10/17/release-apache-apisix-3.14.1.md
Labels: none

update date
  blog/zh/blog/2025/10/17/release-apache-apisix-3.14.1.md
Labels: none

docs: release APISIX 3.14.1 (#1960)
  config/docs.js
  config/downloads.js
Labels: none

blog: add 3.14.1 release notes (#1959)
  blog/en/blog/2025/10/17/release-apache-apisix-3.14.1.md
  blog/zh/blog/2025/10/17/release-apache-apisix-3.14.1.md
Labels: none

feat: Enhanced hero section background visibility and comprehensive mobile responsive design
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/customTheme.scss
  website/src/css/landing-sections/architecture.scss
  website/src/css/landing-sections/endcta.module.scss
  website/src/css/landing-sections/features.module.scss
  website/src/css/landing-sections/hero.scss
Labels: pages

Fix plugin icons and enhance plugins page functionality
  website/src/pages/plugins.tsx
  website/static/js/plugin-icon.js
Labels: pages

Enhance code samples table with responsive design and improved accessibility
  website/docs/general/code-samples.md
  website/src/css/customTheme.scss
Labels: docs-general, pages

chore: show failed logs in ci
  .github/workflows/deploy.yml
  scripts/generate-website.js
Labels: scripts

chore: add test-deploy logic
  .github/workflows/deploy.yml
Labels: none

chore
  .github/workflows/deploy.yml
Labels: none

Revert "chore"
  .github/workflows/deploy.yml
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
