Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

Update bi-weekly-report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
Labels: none

Update blog/zh/blog/2023/10/26/bi-weekly-report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/en/blog/2023/10/26/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/en/blog/2023/10/26/bi-weekly-report.md
Labels: none

docs: add bi-weekly report (1009-1022) (#1716)
  blog/en/blog/2023/10/26/bi-weekly-report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
Labels: none

chore: add new committer: fabriceli
  config/team.js
Labels: none

chore: add new committer: fabriceli (#1717)
  config/team.js
Labels: none

fix(scripts): solve ingress documentt mdx render
  scripts/package.json
  scripts/special-process-v2md.sh
Labels: scripts

fix(scripts): solve ingress document mdx render (#1718)
  scripts/package.json
  scripts/special-process-v2md.sh
Labels: scripts

update per the new changelog and expected release date
  blog/en/blog/2023/11/01/release-apache-apisix-3.6.1.md
  blog/zh/blog/2023/11/release-apache-apisix-3.6.1.md
Labels: none

Rename blog/zh/blog/2023/11/release-apache-apisix-3.6.1.md to blog/zh/blog/2023/11/01/release-apache-apisix-3.6.1.md
  blog/zh/blog/2023/11/01/release-apache-apisix-3.6.1.md
Labels: none

blog: add release notes for 3.6.1 (#1709)
  blog/en/blog/2023/11/01/release-apache-apisix-3.6.1.md
  blog/zh/blog/2023/11/01/release-apache-apisix-3.6.1.md
Labels: none

chore: rm useless sed sh
  scripts/special-process-v2md.sh
Labels: scripts

chore: rm useless sed sh (#1720)
  scripts/special-process-v2md.sh
Labels: scripts

blog: Add API Versioning post
  blog/en/blog/2023/11/09/api-versioning.md
Labels: none

Create test
  blog/test
Labels: none

Create 08.md
  blog/en/blog/2023/11/08.md
Labels: none

Create bi-weekly-report.md
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

Create bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

Delete blog/en/blog/2023/11/08.md
  blog/en/blog/2023/11/08.md
Labels: none

Delete blog/test
  blog/test
Labels: none

Update bi-weekly-report.md
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update blog/en/blog/2023/11/08/bi-weekly-report.md
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update blog/en/blog/2023/11/08/bi-weekly-report.md
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update blog/zh/blog/2023/11/08/bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update blog/en/blog/2023/11/08/bi-weekly-report.md
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

docs: add bi-weekly report (1023-1105) (#1722)
  blog/en/blog/2023/11/08/bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

Delete blog/en/blog/2023/11 directory
  blog/en/blog/2023/11/01/release-apache-apisix-3.6.1.md
Labels: none

Delete blog/zh/blog/2023/11/01 directory
  blog/zh/blog/2023/11/01/release-apache-apisix-3.6.1.md
Labels: none

Update bi-weekly-report.md
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

docs: Delete info about APISIX 3.6.1
  blog/en/blog/2023/11/08/bi-weekly-report.md
Labels: none

Update bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

docs: Delete info about APISIX 3.6.1 (#1725)
  blog/en/blog/2023/11/08/bi-weekly-report.md
  blog/zh/blog/2023/11/08/bi-weekly-report.md
Labels: none

chore: remove 3.6.1 release notes (#1723)
  blog/en/blog/2023/11/01/release-apache-apisix-3.6.1.md
  blog/zh/blog/2023/11/01/release-apache-apisix-3.6.1.md
Labels: none

feat: improve compatibility with macOS
  package.json
  scripts/package.json
  scripts/special-process-v2md.sh
Labels: repo, scripts

fix: scripts
  scripts/package.json
  scripts/special-process-v2md.sh
Labels: scripts
