Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

blog: add enbrace-intelligent-api-management-with-ai-and-mcp
  blog/en/blog/2025/04/01/enbrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

blog: add march-monthly-report (#1879)
  blog/en/blog/2025/03/31/march-monthly-report.md
  blog/zh/blog/2025/03/31/march-monthly-report.md
Labels: none

fix: march monthly blog name duplication issue
  blog/zh/blog/2025/03/31/march-monthly-report.md
Labels: none

fix: add suffix after date
  blog/en/blog/2025/03/31/march-monthly-report.md
Labels: none

fix title of march-monthly-report
  blog/en/blog/2025/03/31/march-monthly-report.md
Labels: none

fix: add suffix after date (#1883)
  blog/en/blog/2025/03/31/march-monthly-report.md
Labels: none

fix: march monthly blog name duplication issue (#1882)
  blog/zh/blog/2025/03/31/march-monthly-report.md
Labels: none

fix title of march-monthly-report (#1884)
  blog/en/blog/2025/03/31/march-monthly-report.md
Labels: none

update
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/en/blog/2025/04/01/enbrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix typo
  blog/zh/blog/2025/04/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix file name
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

Update blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

Update blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix comments
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix video links
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix typo
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

Update blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

update dates and release author
  blog/en/blog/2025/04/01/release-apache-apisix-3.12.0.md
  blog/zh/blog/2025/04/01/release-apache-apisix-3.12.0.md
Labels: none

docs: release APISIX 3.12.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

docs: release APISIX 3.12.0 (#1885)
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

blog: add 3.12.0 release notes (#1876)
  blog/en/blog/2025/04/01/release-apache-apisix-3.12.0.md
  blog/zh/blog/2025/04/01/release-apache-apisix-3.12.0.md
Labels: none

fix typo
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix image
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix lint
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

blog: add enbrace-intelligent-api-management-with-ai-and-mcp (#1880)
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix: video format in apisix-mcp blog
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

Update embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

fix: video format in apisix-mcp blog (#1886)
  blog/en/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
Labels: none

docs(events): update apisix meetup shenzhen 2025
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

feat: update event-poster-card config
  doc/src/theme/Footer/event-poster-card.json
  website/docs/general/events.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix:
  config/event-poster-card.json
  doc/src/theme/Footer/event-poster-card.json
Labels: none

chore:
  doc/src/theme/Footer/event-poster-card.json
Labels: none

fix
  website/src/theme/Footer/EventPosterCard.tsx
Labels: pages

fix: lint
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix
  package.json
Labels: repo

fix
  website/i18n/zh/docusaurus-plugin-content-docs/current/events.md
Labels: docs-general

fix
  package.json
Labels: repo

fix: zh link
  config/event-poster-card.json
Labels: none

blog: add introducing-apisix-ai-gateway
  blog/zh/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
