Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

feat: add category link
  website/src/pages/docs/general/events.tsx
Labels: pages

fix
  website/i18n/zh/docusaurus-plugin-content-docs/current.json
Labels: docs-general

fix: lint
  website/docs/general/events/2022-apisix-meetups-conferences-workshops.md
  website/docs/general/events/2023-apisix-meetup-malaysia.md
  website/docs/general/events/2023-apisix-meetup-singapore.md
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
Labels: docs-general

fix: lint
  website/docs/general/events/2022-apisix-meetups-conferences-workshops.md
  website/docs/general/events/2023-apisix-meetup-malaysia.md
  website/docs/general/events/2023-apisix-meetup-singapore.md
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
Labels: docs-general

fix:
  config/event-poster-card.json
Labels: none

Update docusaurus.config.js
  blog/en/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  blog/zh/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  website/docusaurus.config.js
Labels: none

Update docusaurus.config.js
  doc/docusaurus.config.js
Labels: none

chore: rm useless lines
  website/docs/general/events/2022-apisix-meetups-conferences-workshops.md
Labels: docs-general

chore: add old events back (#1892)
  config/event-poster-card.json
  website/docs/general/events.md
  website/docs/general/events/2022-apisix-meetups-conferences-workshops.md
  website/docs/general/events/2023-apisix-meetup-malaysia.md
  website/docs/general/events/2023-apisix-meetup-singapore.md
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
  website/docs/general/sidebars.json
  website/i18n/zh/docusaurus-plugin-content-docs/current.json
  website/i18n/zh/docusaurus-plugin-content-docs/current/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/sidebars.json
  website/src/pages/docs/general/events.tsx
Labels: docs-general, pages

update style
  blog/src/css/customTheme.scss
  doc/src/css/customTheme.scss
  website/src/css/customTheme.scss
Labels: pages

docs: update content of announcement bar (#1891)
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.scss
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  doc/src/css/customTheme.scss
  website/docusaurus.config.js
  website/src/css/customTheme.scss
Labels: pages

fix: format of 2025 meetup event
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
Labels: docs-general

update
  website/i18n/zh/docusaurus-plugin-content-docs/current/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
Labels: docs-general

fix
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
Labels: docs-general

fix: format of 2025 meetup event (#1893)
  website/docs/general/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/events/2025-apisix-meetup-shenzhen-best-practices-for-api-and-ai-gateways.md
Labels: docs-general

feat: update text style
  blog/src/css/customTheme.scss
  blog/src/theme/BlogLayout/index.tsx
  doc/src/css/customTheme.scss
  website/src/css/customTheme.scss
Labels: pages

feat: update
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

feat: update blog/doc style (#1894)
  blog/src/css/customTheme.scss
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogPostPage/index.tsx
  doc/src/css/customTheme.scss
  website/src/css/customTheme.scss
Labels: pages

fix: update blog style
  blog/src/theme/BlogLayout/index.tsx
Labels: none

fix: update blog style (#1895)
  blog/src/theme/BlogLayout/index.tsx
Labels: none

feat: add ai page
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/package.json
  website/src/components/AIGateway/Advantage.tsx
  website/src/components/AIGateway/AvifImage.tsx
  website/src/components/AIGateway/Features.tsx
  website/src/components/AIGateway/Hero.tsx
  website/src/components/AIGateway/Highlights.tsx
  website/src/components/AIGateway/MeetingModal.tsx
  website/src/components/AIGateway/data.tsx
  website/src/components/AIGateway/style.ts
  website/src/components/ChakraWrapper.tsx
  website/src/pages/ai-gateway.tsx
  website/src/theme/AIGateway/Button.tsx
  website/src/theme/AIGateway/Container.tsx
  website/src/theme/AIGateway/Heading.tsx
  website/src/theme/AIGateway/Icon.tsx
  website/src/theme/AIGateway/Link.tsx
  website/src/theme/AIGateway/Text.tsx
  website/tsconfig.json
  yarn.lock
Labels: repo, pages

u
  website/src/components/AIGateway/Advantage.tsx
  website/src/components/AIGateway/AvifImage.tsx
  website/src/components/AIGateway/MeetingModal.tsx
  website/src/components/AIGateway/data.tsx
  website/src/components/ChakraWrapper.tsx
Labels: pages

u
  website/src/theme/AIGateway/Button.tsx
Labels: pages

feat: add `ai-gateway` page (#1896)
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/package.json
  website/src/components/AIGateway/Advantage.tsx
  website/src/components/AIGateway/AvifImage.tsx
  website/src/components/AIGateway/Features.tsx
  website/src/components/AIGateway/Hero.tsx
  website/src/components/AIGateway/Highlights.tsx
  website/src/components/AIGateway/data.tsx
  website/src/components/AIGateway/style.ts
  website/src/components/ChakraWrapper.tsx
  website/src/pages/ai-gateway.tsx
  website/src/theme/AIGateway/Button.tsx
  website/src/theme/AIGateway/Container.tsx
  website/src/theme/AIGateway/Heading.tsx
  website/src/theme/AIGateway/Icon.tsx
  website/src/theme/AIGateway/Link.tsx
  website/src/theme/AIGateway/Text.tsx
  website/tsconfig.json
  yarn.lock
Labels: repo, pages

u
  website/package.json
  website/src/components/ChakraWrapper.tsx
  website/src/theme/AIGateway/Button.tsx
  website/src/theme/AIGateway/Container.tsx
  website/src/theme/AIGateway/Heading.tsx
  website/src/theme/AIGateway/Icon.tsx
  website/src/theme/AIGateway/Link.tsx
  website/src/theme/AIGateway/Text.tsx
  yarn.lock
Labels: repo, pages

fix: deploy
  website/package.json
  website/src/components/ChakraWrapper.tsx
  yarn.lock
Labels: repo, pages

u
  website/src/components/ChakraWrapper.tsx
Labels: pages

u
  .github/workflows/deploy.yml
Labels: none

u
  .github/workflows/deploy.yml
Labels: none

u
  .github/workflows/deploy.yml
Labels: none

fix: build doc and blog failed (#1898)
  website/package.json
  website/src/theme/AIGateway/Button.tsx
  website/src/theme/AIGateway/Container.tsx
  website/src/theme/AIGateway/Heading.tsx
  website/src/theme/AIGateway/Icon.tsx
  website/src/theme/AIGateway/Link.tsx
  website/src/theme/AIGateway/Text.tsx
  yarn.lock
Labels: repo, pages

blog: add host-mcp-server-with-api-gateway
  blog/zh/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none

add host-mcp-server-with-api-gateway (en)
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none

update cover
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none

update
  blog/zh/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none

fix author url & keywords
  blog/zh/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none

fix author url
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none

Update images
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
Labels: none
