Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

feat(seo): add 5 head-to-head API gateway comparison articles
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/apisix-vs-aws-api-gateway.md
  website/learning-center/apisix-vs-envoy.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/apisix-vs-nginx.md
  website/learning-center/apisix-vs-traefik.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

fix(seo): address audit findings on comparison articles
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/apisix-vs-aws-api-gateway.md
  website/learning-center/apisix-vs-envoy.md
  website/learning-center/apisix-vs-nginx.md
  website/learning-center/apisix-vs-traefik.md
  website/static/llms.txt
Labels: pages

docs(seo): sharpen comparison articles to favor APISIX (still factual)
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/apisix-vs-envoy.md
  website/learning-center/apisix-vs-traefik.md
Labels: none

feat(seo): add Related cross-links to comparison articles (internal linking)
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/apisix-vs-aws-api-gateway.md
  website/learning-center/apisix-vs-envoy.md
  website/learning-center/apisix-vs-nginx.md
  website/learning-center/apisix-vs-traefik.md
Labels: none

feat(website): show real logos on the Plugin Hub
  website/src/pages/plugins.tsx
  website/static/data/plugins.json
  website/static/img/integrations/alibabacloud.svg
  website/static/img/integrations/aws.svg
  website/static/img/integrations/awslambda.svg
  website/static/img/integrations/azurefunctions.svg
  website/static/img/integrations/brotli.svg
  website/static/img/integrations/dubbo.svg
  website/static/img/integrations/graphql.svg
  website/static/img/integrations/grpc.svg
  website/static/img/integrations/kafka.svg
  website/static/img/integrations/mqtt.svg
  website/static/img/integrations/opa.svg
  website/static/img/integrations/openapi.svg
  website/static/img/integrations/openfunction.svg
  website/static/img/integrations/openwhisk.svg
  website/static/img/integrations/rocketmq.svg
  website/static/img/integrations/safeline.svg
  website/static/img/integrations/skywalking.svg
  website/static/img/integrations/splunk.svg
  website/static/img/plugin/ai.svg
  website/static/img/plugin/apisix.svg
Labels: pages

feat(seo): build internal-linking cluster across Learning Center
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-security.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/api-monetization-guide.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/kubernetes-api-gateway.md
  website/learning-center/mcp-protocol-ai-gateway.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

fix(website): tidy homepage layout
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.scss
  website/src/css/landing-sections/architecture.scss
  website/src/css/landing-sections/comparison.scss
  website/src/css/landing-sections/features.module.scss
  website/src/css/landing-sections/integrations.scss
  website/src/css/landing-sections/os-promo.module.scss
Labels: pages

feat(seo): add Article, FAQPage & BreadcrumbList structured data to Learning Center articles (#2058)
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
  website/src/theme/BlogPostPage/index.tsx
Labels: pages

feat(website): real logos on the Plugin Hub & homepage layout polish (#2061)
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.scss
  website/src/css/landing-sections/architecture.scss
  website/src/css/landing-sections/comparison.scss
  website/src/css/landing-sections/features.module.scss
  website/src/css/landing-sections/integrations.scss
  website/src/css/landing-sections/os-promo.module.scss
  website/src/pages/plugins.tsx
  website/static/data/plugins.json
  website/static/img/integrations/alibabacloud.svg
  website/static/img/integrations/aws.svg
  website/static/img/integrations/awslambda.svg
  website/static/img/integrations/azurefunctions.svg
  website/static/img/integrations/brotli.svg
  website/static/img/integrations/dubbo.svg
  website/static/img/integrations/graphql.svg
  website/static/img/integrations/grpc.svg
  website/static/img/integrations/kafka.svg
  website/static/img/integrations/mqtt.svg
  website/static/img/integrations/opa.svg
  website/static/img/integrations/openapi.svg
  website/static/img/integrations/openfunction.svg
  website/static/img/integrations/openwhisk.svg
  website/static/img/integrations/rocketmq.svg
  website/static/img/integrations/safeline.svg
  website/static/img/integrations/skywalking.svg
  website/static/img/integrations/splunk.svg
  website/static/img/plugin/ai.svg
  website/static/img/plugin/apisix.svg
Labels: pages

feat(seo): add 5 head-to-head API gateway comparison articles (AWS, NGINX, Envoy, Traefik, Apigee) (#2059)
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/apisix-vs-aws-api-gateway.md
  website/learning-center/apisix-vs-envoy.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/apisix-vs-nginx.md
  website/learning-center/apisix-vs-traefik.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

fix(website): drop the dark OSS-promo card, center the dev resources
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/landing-sections/os-promo.module.scss
Labels: pages

fix(website): drop the dark OSS-promo card, center the dev resources
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/landing-sections/os-promo.module.scss
Labels: pages

fix(website): refresh the dev-resources section copy
  website/i18n/zh/code.json
  website/src/components/sections/OpensourcePromo.tsx
Labels: pages

feat(seo): build internal-linking cluster across Learning Center articles (#2060)
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-security.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/api-monetization-guide.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/kubernetes-api-gateway.md
  website/learning-center/mcp-protocol-ai-gateway.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

fix(website): simplify the homepage open-source promo section (#2062)
  website/i18n/zh/code.json
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/landing-sections/os-promo.module.scss
Labels: pages

fix(seo): homepage a11y polish — WCAG AA contrast + heading hierarchy
  website/src/components/sections/Pathways.tsx
  website/src/css/landing-sections/ai-gateway-home.scss
  website/src/css/landing-sections/comparison.scss
  website/src/css/landing-sections/hero.scss
  website/src/css/landing-sections/integrations.scss
  website/src/css/landing-sections/pathways.scss
Labels: pages

fix(seo): reserve a fixed box for Showcase logos (CLS)
  website/src/css/showcase.scss
  website/src/pages/showcase.tsx
Labels: pages

fix(website): auto-recover the 404 page from stale builds after redeploy
  blog/src/theme/NotFound/index.tsx
  doc/src/theme/NotFound/index.tsx
  website/src/theme/NotFound/index.tsx
Labels: pages

fix(website): auto-recover the 404 page from stale builds after redeploy (#2064)
  blog/src/theme/NotFound/index.tsx
  doc/src/theme/NotFound/index.tsx
  website/src/theme/NotFound/index.tsx
Labels: pages

chore(website): remove showcase, code samples, and help pages
  .htaccess
  config/breadcrumb.js
  config/navbar.js
  website/docs/general/code-samples.md
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/i18n/zh/docusaurus-theme-classic/navbar.json
  website/src/css/help.scss
  website/src/css/showcase.scss
  website/src/pages/help.tsx
  website/src/pages/showcase.tsx
  website/src/theme/Footer/index.tsx
  website/static/data/showcases.json
Labels: repo, docs-general, pages

chore(website): remove showcase, code samples, and help pages (#2065)
  .htaccess
  config/breadcrumb.js
  config/navbar.js
  website/docs/general/code-samples.md
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/i18n/zh/docusaurus-theme-classic/navbar.json
  website/src/css/help.scss
  website/src/css/showcase.scss
  website/src/pages/help.tsx
  website/src/pages/showcase.tsx
  website/src/theme/Footer/index.tsx
  website/static/data/showcases.json
Labels: repo, docs-general, pages

chore(website): drop images orphaned by help page removal
  website/static/img/community.png
  website/static/img/documents.png
Labels: pages

chore(website): clean up doc and blog workspace footers and i18n
  blog/i18n/zh/code.json
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  blog/src/theme/Footer/index.tsx
  doc/i18n/zh/code.json
  doc/i18n/zh/docusaurus-theme-classic/navbar.json
  doc/src/theme/Footer/index.tsx
Labels: none

feat(website): open homepage links in a new tab
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/AIGatewaySection.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/components/sections/Pathways.tsx
Labels: pages

chore(website): clean up doc/blog workspaces + open homepage links in new tab (#2066)
  blog/i18n/zh/code.json
  blog/i18n/zh/docusaurus-theme-classic/navbar.json
  blog/src/theme/Footer/index.tsx
  doc/i18n/zh/code.json
  doc/i18n/zh/docusaurus-theme-classic/navbar.json
  doc/src/theme/Footer/index.tsx
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/AIGatewaySection.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/Integrations.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/components/sections/Pathways.tsx
  website/static/img/community.png
  website/static/img/documents.png
Labels: pages

blog: add 2026 June monthly report
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

blog: update 2026 June monthly report images
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

blog: classify June monthly report features
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

blog: group June monthly report features
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

blog: fix June monthly report feature numbering
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

blog: fix June monthly report markdown lint
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

blog: add 2026 June monthly report (#2067)
  blog/en/blog/2026/06/30/2026-jun-monthly-report.md
  blog/zh/blog/2026/06/30/2026-jun-monthly-report.md
Labels: none

Improve CTR for high-impression APISIX pages
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/08/10/apisix-nginx.md
  blog/en/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/10/18/ingress-apisix.md
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
  blog/en/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/en/blog/2025/06/18/ai-gateway-future-trend-of-ai-infrastructure.md
  blog/en/blog/2025/06/18/mcp-monetization-navigating-ai-economy.md
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2023/02/08/what-is-restful-api.md
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/mcp-protocol-ai-gateway.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

chore(seo): revert SEO changes on release notes and changelogs
  blog/en/blog/2025/10/10/release-apache-apisix-3.14.0.md
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix(seo): fix context mismatch in RESTful api post and Kong comparison
  blog/zh/blog/2023/02/08/what-is-restful-api.md
  website/learning-center/apisix-vs-kong.md
Labels: none

refactor(seo): rewrite or remove generic Quick Overviews and duplicated FAQs
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/08/10/apisix-nginx.md
  blog/en/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/10/18/ingress-apisix.md
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
  blog/en/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/en/blog/2025/06/18/ai-gateway-future-trend-of-ai-infrastructure.md
  blog/en/blog/2025/06/18/mcp-monetization-navigating-ai-economy.md
  blog/zh/blog/2023/02/08/what-is-restful-api.md
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/mcp-protocol-ai-gateway.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

docs: improve CTR for high-impression APISIX pages (#2068)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/08/10/apisix-nginx.md
  blog/en/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/10/18/ingress-apisix.md
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
  blog/en/blog/2025/04/21/host-mcp-server-with-api-gateway.md
  blog/en/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/en/blog/2025/06/18/ai-gateway-future-trend-of-ai-infrastructure.md
  blog/en/blog/2025/06/18/mcp-monetization-navigating-ai-economy.md
  blog/zh/blog/2023/02/08/what-is-restful-api.md
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
  blog/zh/blog/2025/04/01/embrace-intelligent-api-management-with-ai-and-mcp.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/mcp-protocol-ai-gateway.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

blog: manage Apache APISIX with AI coding agents
  blog/en/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
  blog/zh/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
Labels: none

fix: canonicalize versioned doc pages to the version-less latest URL
  doc/src/theme/LayoutHead/index.tsx
Labels: none

docs: revise AI Agent Skills blog
  blog/zh/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
Labels: none
