Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

change release dates
  blog/en/blog/2026/04/07/release-apache-apisix-3.16.0.md
  blog/zh/blog/2026/04/07/release-apache-apisix-3.16.0.md
Labels: none

change release dates
  blog/zh/blog/2026/04/07/release-apache-apisix-3.16.0.md
Labels: none

docs: release APISIX v3.16.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

fix: update release date to 2026-04-07
  config/docs.js
  config/downloads.js
Labels: none

docs: release APISIX v3.16.0 (#2012)
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

blog: add 3.16.0 release notes (#2010)
  blog/en/blog/2026/04/07/release-apache-apisix-3.16.0.md
  blog/zh/blog/2026/04/07/release-apache-apisix-3.16.0.md
Labels: none

blog: add 2026 March monthly report
  blog/en/blog/2026/03/31/2026-mar-monthly-report.md
  blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

update
  blog/en/blog/2026/03/31/2026-mar-monthly-report.md
  blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

Update blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
  blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

Update blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
  blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

Update blog/en/blog/2026/03/31/2026-mar-monthly-report.md
  blog/en/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

Update blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
  blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

blog: add 2026 March monthly report (#2014)
  blog/en/blog/2026/03/31/2026-mar-monthly-report.md
  blog/zh/blog/2026/03/31/2026-mar-monthly-report.md
Labels: none

fix(seo): reduce sitemap bloat by filtering versioned docs and low-value pages
  scripts/update-sitemap-loc.js
  website/static/robots.txt
Labels: pages, scripts

fix(seo): shorten title tag suffix to prevent truncation in search results
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/src/pages/ai-gateway.tsx
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

feat(seo): add BlogPosting JSON-LD structured data to blog posts
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

perf: preload only the primary body font (MaisonNeue-Medium)
  config/ssrTemplate.js
Labels: none

fix(seo): rewrite titles and descriptions for 30 high-value blog posts
  blog/en/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/en/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/08/06/using-apache-apisix-to-improve-the-observability-of-nginx.md
  blog/en/blog/2021/08/16/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/en/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/en/blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/02/10/splunk-apisix-integration.md
  blog/en/blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/07/04/apisix-integrates-with-hydra.md
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/10/05/rust-apisix.md
  blog/en/blog/2022/11/09/georouting-apisix.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/03/23/mtls-everywhere.md
  blog/en/blog/2023/12/26/access-kafka-by-apisix.md
  blog/en/blog/2023/12/26/zhengcaiyun-uses-apisix.md
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
  blog/en/blog/2024/10/22/apisix-integrates-with-open-appsec.md
  blog/en/blog/2025/07/31/load-balancing-between-ai-ml-api-with-apisix.md
Labels: none

fix(seo): shorten title tag suffix to prevent truncation in search results (#2017)
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/src/pages/ai-gateway.tsx
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

perf: preload only the primary body font (MaisonNeue-Medium) (#2019)
  config/ssrTemplate.js
Labels: none

fix(seo): rewrite titles and descriptions for 30 high-value blog posts (#2020)
  blog/en/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/en/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/08/06/using-apache-apisix-to-improve-the-observability-of-nginx.md
  blog/en/blog/2021/08/16/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/en/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/en/blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/02/10/splunk-apisix-integration.md
  blog/en/blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/07/04/apisix-integrates-with-hydra.md
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/10/05/rust-apisix.md
  blog/en/blog/2022/11/09/georouting-apisix.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/03/23/mtls-everywhere.md
  blog/en/blog/2023/12/26/access-kafka-by-apisix.md
  blog/en/blog/2023/12/26/zhengcaiyun-uses-apisix.md
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
  blog/en/blog/2024/10/22/apisix-integrates-with-open-appsec.md
  blog/en/blog/2025/07/31/load-balancing-between-ai-ml-api-with-apisix.md
Labels: none

Update blog/en/blog/2022/02/25/consul-api-gateway.md
  blog/en/blog/2022/02/25/consul-api-gateway.md
Labels: none

Update blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
Labels: none

Update blog/en/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  blog/en/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
Labels: none

fix(seo): reduce sitemap bloat by filtering versioned docs and low-value pages (#2016)
  scripts/update-sitemap-loc.js
  website/static/robots.txt
Labels: pages, scripts

Update blog/en/blog/2020/12/16/another-way-to-implement-envoy-filter.md
  blog/en/blog/2020/12/16/another-way-to-implement-envoy-filter.md
Labels: none

fix
  blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/en/blog/2021/08/10/apisix-nginx.md
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

feat(seo): add BlogPosting JSON-LD structured data to blog posts (#2018)
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

feat(seo): add Learning Center, hreflang, OG tags, and high-value content pages
  config/hreflang.js
  config/navbar.js
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-api-management.md
  website/src/pages/ai-gateway.tsx
  website/src/pages/index.tsx
Labels: pages

feat(seo): add sitemap optimization and 5 Learning Center articles (P1)
  scripts/update-sitemap-loc.js
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/kubernetes-api-gateway.md
Labels: scripts

feat(seo): add GEO optimization (llms.txt, robots.txt) and 4 Learning Center articles (P2)
  website/learning-center/api-monetization-guide.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
  website/static/llms.txt
  website/static/robots.txt
Labels: pages

fix: rewrite API gateway comparison to remove unverifiable claims
  website/learning-center/open-source-api-gateway-comparison.md
Labels: none

feat(seo): add 5 Learning Center articles and SEO contributing guide (P3)
  CONTRIBUTING-SEO.md
  website/learning-center/api-gateway-observability.md
  website/learning-center/api-gateway-security.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/mcp-protocol-ai-gateway.md
  website/learning-center/what-is-cloud-native.md
Labels: repo

fix: remove unverifiable statistics from API management article
  website/learning-center/what-is-api-management.md
Labels: none

fix: remove unverifiable statistics from 5 Learning Center articles
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/kubernetes-api-gateway.md
Labels: none

fix: remove unverifiable statistics from 3 Learning Center articles
  website/learning-center/api-monetization-guide.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

blog: add article on APISIX 3.16 dynamic rate limiting features
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

feat(seo): add BreadcrumbList, SoftwareApplication schema, and image alt text
  config/breadcrumb.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/src/pages/downloads.tsx
  website/src/pages/team.tsx
Labels: pages

fix
  website/learning-center/what-is-grpc.md
Labels: none

Apply suggestion from @Baoyuantop
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
