Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

test(seo): lock APISIX documentation ownership signals (#2119)
  .github/workflows/lint.yml
  doc/src/theme/LayoutHead/index.tsx
  doc/src/theme/LayoutHead/versionedDocSignals.d.mts
  doc/src/theme/LayoutHead/versionedDocSignals.mjs
  next/package-lock.json
  next/package.json
  next/scripts/check-documentation-ownership-signals.mjs
  next/scripts/check-historical-doc-signals.mjs
  next/scripts/check-ingress-redirects.mjs
  next/scripts/generate-sitemaps.test.mjs
  next/tests/e2e/seo-signals.spec.mjs
  next/tests/fixtures/documentation-search-signals.mjs
Labels: none

fix(ai-gateway): address review feedback
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
  next/public/img/ai-gateway/ai-cache.svg
  next/src/components/MainPages/AiGatewayPage.astro
  next/tests/e2e/ai-gateway-content.spec.mjs
  next/tests/e2e/main-pages.spec.mjs
Labels: none

refactor(seo): clarify APISIX AI Gateway search intent (#2120)
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/en/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/zh/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/zh/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/zh/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
  next/public/img/ai-gateway/ai-cache.svg
  next/src/components/HomePage.astro
  next/src/components/MainPages/AiGatewayPage.astro
  next/tests/e2e/ai-gateway-content.spec.mjs
  next/tests/e2e/main-pages.spec.mjs
  website/static/llms.txt
Labels: pages

fix(content): address APISIX vs Kong review feedback
  website/learning-center/apisix-vs-kong.md
Labels: none

refactor(content): refresh APISIX vs Kong comparison
  website/learning-center/apisix-vs-kong.md
Labels: none

docs(seo): align APISIX vs Kong discovery metadata
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

refactor(content): refresh APISIX vs Traefik comparison
  website/learning-center/apisix-vs-traefik.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

refactor(content): clarify API gateway and load balancer roles
  website/learning-center/api-gateway-vs-load-balancer.md
Labels: none

chore(content): fix comparison table lint
  website/learning-center/apisix-vs-kong.md
Labels: none

fix(content): scope API-driven standalone mode
  website/learning-center/apisix-vs-kong.md
Labels: none

fix(seo): add useful comparison FAQs
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/apisix-vs-traefik.md
Labels: none

refactor(seo): refresh APISIX comparison content (#2121)
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/apisix-vs-kong.md
  website/learning-center/apisix-vs-traefik.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

docs(seo): add contextual links to learning center guides
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2023/03/23/mtls-everywhere.md
  blog/en/blog/2023/08/14/rate-limit.md
  blog/en/blog/2023/10/18/ingress-apisix.md
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

fix(seo): resolve stale coverage redirects
  .htaccess
  next/scripts/check-historical-doc-signals.mjs
Labels: repo

docs(seo): add contextual links to learning center guides (#2122)
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2023/03/23/mtls-everywhere.md
  blog/en/blog/2023/08/14/rate-limit.md
  blog/en/blog/2023/10/18/ingress-apisix.md
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

fix(seo): resolve stale coverage redirects (#2123)
  .htaccess
  next/scripts/check-historical-doc-signals.mjs
Labels: repo

docs(seo): refresh OIDC and Coraza guides
  blog/en/blog/2023/03/09/authenticate-openid-connect.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-security.md
Labels: none

fix(seo): consolidate duplicate non-indexed pages
  .htaccess
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
Labels: repo

test(seo): protect non-indexed content decisions
  next/package.json
  next/scripts/check-non-indexed-content-decisions.mjs
  next/scripts/check-non-indexed-content-sitemaps.mjs
  next/tests/fixtures/non-indexed-content-decisions.mjs
Labels: none

feat(content): add API gateway vs service mesh guide
  website/learning-center/api-gateway-vs-service-mesh.md
Labels: none

docs(seo): connect service mesh comparison content
  blog/en/blog/2021/12/17/exposure-istio-with-apisix-ingress.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-vs-service-mesh.md
  website/learning-center/what-is-an-api-gateway.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

fix(content): correct Coraza evaluation guidance
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/09/13/biweekly-report.md
  blog/en/blog/2023/09/26/bi-weekly-report.md
  blog/en/blog/2023/10/26/bi-weekly-report.md
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
  blog/zh/blog/2023/09/13/biweekly-report.md
  blog/zh/blog/2023/09/26/bi-weekly report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
  next/scripts/check-non-indexed-content-decisions.mjs
Labels: none

docs: add Apache APISIX 3.19.0 release notes
  blog/en/blog/2026/09/24/release-apache-apisix-3.19.0.md
  blog/zh/blog/2026/09/24/release-apache-apisix-3.19.0.md
Labels: none

docs: refine APISIX 3.19.0 upgrade guidance
  blog/en/blog/2026/09/24/release-apache-apisix-3.19.0.md
  blog/zh/blog/2026/09/24/release-apache-apisix-3.19.0.md
Labels: none

fix(seo): consolidate duplicate pages and refresh OIDC/Coraza guides (#2124)
  .htaccess
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
  blog/en/blog/2023/03/09/authenticate-openid-connect.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/09/13/biweekly-report.md
  blog/en/blog/2023/09/26/bi-weekly-report.md
  blog/en/blog/2023/10/26/bi-weekly-report.md
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
  blog/zh/blog/2023/09/13/biweekly-report.md
  blog/zh/blog/2023/09/26/bi-weekly report.md
  blog/zh/blog/2023/10/26/bi-weekly-report.md
  next/package.json
  next/scripts/check-non-indexed-content-decisions.mjs
  next/scripts/check-non-indexed-content-sitemaps.mjs
  next/tests/fixtures/non-indexed-content-decisions.mjs
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-security.md
Labels: repo

feat(content): add API gateway vs service mesh guide (#2125)
  blog/en/blog/2021/12/17/exposure-istio-with-apisix-ingress.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-vs-service-mesh.md
  website/learning-center/what-is-an-api-gateway.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

docs: sync release notes with APISIX changelog
  blog/en/blog/2026/09/24/release-apache-apisix-3.19.0.md
  blog/zh/blog/2026/09/24/release-apache-apisix-3.19.0.md
Labels: none

docs: reconcile final WebSocket behavior
  blog/en/blog/2026/09/24/release-apache-apisix-3.19.0.md
  blog/zh/blog/2026/09/24/release-apache-apisix-3.19.0.md
Labels: none

fix(seo): qualify benchmarks and clarify page intent
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix(content): address homepage and blog review feedback
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

fix(seo): align core APISIX search visibility content
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  doc/seo/semrush-on-page-seo-register.md
  next/src/components/CollectionPages.astro
  next/src/components/MainPages/AiGatewayPage.astro
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/learning-center/index.astro
  next/tests/e2e/main-pages.spec.mjs
  next/tests/e2e/seo-signals.spec.mjs
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

fix(seo): address review feedback
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  doc/seo/semrush-on-page-seo-register.md
  next/src/lib/content.ts
  next/tests/e2e/main-pages.spec.mjs
  next/tests/e2e/seo-signals.spec.mjs
Labels: none

fix(seo): improve APISIX core search visibility and metadata (#2127)
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  doc/seo/semrush-on-page-seo-register.md
  next/src/components/CollectionPages.astro
  next/src/components/MainPages/AiGatewayPage.astro
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/learning-center/index.astro
  next/tests/e2e/main-pages.spec.mjs
  next/tests/e2e/seo-signals.spec.mjs
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

fix(next): render all authors in blog post byline (#2098)
  next/src/layouts/Article.astro
  next/src/lib/content.ts
Labels: none

docs: set APISIX 3.19.0 release date
  blog/en/blog/2026/09/28/release-apache-apisix-3.19.0.md
  blog/zh/blog/2026/09/28/release-apache-apisix-3.19.0.md
Labels: none

fix(seo): consolidate overlapping gateway content
  .htaccess
  blog/en/blog/2023/05/19/why-do-microservices-need-an-api-gateway.md
  blog/en/blog/2024/07/25/different-rate-limits-apisix.md
  next/scripts/check-historical-doc-signals.mjs
  next/tests/fixtures/non-indexed-content-decisions.mjs
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-rate-limiting.md
Labels: repo

docs: release APISIX v3.19.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

docs: clarify upstream TLS upgrade guidance
  blog/en/blog/2026/09/28/release-apache-apisix-3.19.0.md
  blog/zh/blog/2026/09/28/release-apache-apisix-3.19.0.md
Labels: none

docs: polish Chinese APISIX 3.19.0 release notes
  blog/zh/blog/2026/09/28/release-apache-apisix-3.19.0.md
Labels: none

docs: preserve microservices gateway guidance
  website/learning-center/api-gateway-for-microservices.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
