Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

add en version
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

Update apisix-ai-gateway-features.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

Update apisix-ai-gateway-features.md
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

fix typo
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

update metadata
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

update metadata
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

fix lint in why-reinvent-api-gateways
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

blog: add apisix-ai-gateway-features (#1862)
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/zh/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

Contributor Over Time sectionn (#1846)
  website/src/pages/team.tsx
Labels: pages

blog: add Feb. monthly-report
  blog/zh/blog/2025/02/28/monthly-report.md
Labels: none

add monthly-report (en)
  blog/en/blog/2025/02/28/monthly-report.md
Labels: none

update
  blog/en/blog/2025/02/28/monthly-report.md
  blog/zh/blog/2025/02/28/monthly-report.md
Labels: none

fix comment
  blog/en/blog/2025/02/28/monthly-report.md
Labels: none

Update blog/en/blog/2025/02/28/monthly-report.md
  blog/en/blog/2025/02/28/monthly-report.md
Labels: none

Update blog/en/blog/2025/02/28/monthly-report.md
  blog/en/blog/2025/02/28/monthly-report.md
Labels: none

fix image
  blog/en/blog/2025/02/28/monthly-report.md
Labels: none

fix image
  blog/zh/blog/2025/02/28/monthly-report.md
Labels: none

blog: add Feb monthly-report (#1863)
  blog/en/blog/2025/02/28/monthly-report.md
  blog/zh/blog/2025/02/28/monthly-report.md
Labels: none

Scrollbar is hidden
  package-lock.json
  website/src/css/customTheme.scss
  yarn.lock
Labels: repo, pages

Update picked-posts.json
  blog/en/config/picked-posts.json
Labels: none

Update blog/en/config/picked-posts.json
  blog/en/config/picked-posts.json
Labels: none

docs: Update picked-posts.json (#1865)
  blog/en/config/picked-posts.json
Labels: none

feat: update the homepage
  blog/en/docusaurus.config.js
  blog/i18n/zh/code.json
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  doc/i18n/zh/code.json
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/landing-sections/endcta.module.scss
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

blog: add what-is-an-ai-gateway
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
Labels: none

Update what-is-an-ai-gateway.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
Labels: none

feat: update the homepage (#1866)
  blog/en/docusaurus.config.js
  blog/i18n/zh/code.json
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  doc/i18n/zh/code.json
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/landing-sections/endcta.module.scss
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

blog: add what-is-an-ai-gateway (#1867)
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
Labels: none

fix: replace useBaseUrl to href
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/landing-sections/endcta.module.scss
Labels: pages

fix: replace useBaseUrl to href (#1868)
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/landing-sections/endcta.module.scss
Labels: pages

docs: update editor's pick & fix covers
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
Labels: none

Update apisix-ai-gateway-features.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
Labels: none

Update why-reinvent-api-gateways.md
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
Labels: none

Update picked-posts.json
  blog/en/config/picked-posts.json
Labels: none

fix: add target "_parent" to meak sure page reload
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
Labels: pages

fix: homepage link 404 (#1870)
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
Labels: pages

docs: update editor's pick & fix covers (#1869)
  blog/en/blog/2025/02/21/why-reinvent-api-gateways.md
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/config/picked-posts.json
Labels: none

chore: add @shreemaan-abhishek to team
  config/team.js
Labels: none

chore: cleanup
  config/team.js
Labels: none

fix name
  config/team.js
Labels: none

chore: add @shreemaan-abhishek to team (#1872)
  config/team.js
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
