Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

docs:add what is service mesh
  blog/zh/blog/2023/01/18/what-is-service-mesh.md
Labels: none

Update blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

docs: add "Accessing Apisix-dashboard from everywhere with Keycloak authentication" (#1468)
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

docs: add weekly report 20230115 (#1479)
  blog/zh/blog/2023/01/19/weekly-report-0115.md
Labels: none

fix cr
  blog/en/blog/2023/01/18/consul-with-apisix.md
  blog/zh/blog/2023/01/18/consul-with-apisix.md
Labels: none

fix: front matter
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

Update accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

fix: front matter (#1482)
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

docs: add apisix with consul blog (#1478)
  blog/en/blog/2023/01/18/consul-with-apisix.md
  blog/zh/blog/2023/01/18/consul-with-apisix.md
Labels: none

Update pictures
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

chore: use CDN to speed up blog images (#1483)
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

docs: add how to contribute
  website/docs/general/how-to-contribute.md
  website/docs/general/sidebars.json
Labels: docs-general

Update accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

docs: update accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md (#1487)
  blog/en/blog/2023/01/02/accessing_apisix-dashboard_from_everywhere_with_keycloak_authentication.md
Labels: none

docs:add something about api gateway policy blog
  blog/zh/blog/2023/01/30/something-about-api-gateway-policy.md
Labels: none

chore: APISIX Ingress controller v1.6
  config/docs.js
  config/downloads.js
Labels: none

fix: update code
  .markdownlint.yml
  website/docs/general/how-to-contribute.md
Labels: repo, docs-general

chore: APISIX Ingress controller v1.6 (#1489)
  config/docs.js
  config/downloads.js
Labels: none

feat: add how to contribute (#1486)
  .markdownlint.yml
  website/docs/general/how-to-contribute.md
  website/docs/general/sidebars.json
Labels: repo, docs-general

feat: pecial-process-ingress-v2md
  scripts/package.json
  scripts/special-process-v2md.sh
Labels: scripts

feat: special process ingress v2md (#1490)
  scripts/package.json
  scripts/special-process-v2md.sh
Labels: scripts

fix: trigger website cache
  .github/workflows/deploy.yml
Labels: none

fix errors
  blog/zh/blog/2023/01/18/what-is-service-mesh.md
Labels: none

fix code
  blog/zh/blog/2023/01/30/something-about-api-gateway-policy.md
Labels: none

docs:add four blogs (#1471)
  blog/zh/blog/2023/01/11/apisix-amesh-introduction.md
  blog/zh/blog/2023/01/11/apisix-ingress-vs-ingress-nginx.md
  blog/zh/blog/2023/01/12/amesh-config-plugin.md
  blog/zh/blog/2023/01/12/serverless-auth-type.md
Labels: none

docs:add what is service mesh blog (#1480)
  blog/zh/blog/2023/01/18/what-is-service-mesh.md
Labels: none

docs:add something about api gateway policy blog (#1488)
  blog/zh/blog/2023/01/30/something-about-api-gateway-policy.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/12/14/web-caching-server.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/12/07/web-caching-client.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/12/06/choose-the-right-api-style-technology.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/11/09/georouting-apisix.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/10/05/rust-apisix.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

doc: fix error tags
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none
