Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Update blog/en/blog/2025/07/31/2025-july-monthly-report.md
  blog/en/blog/2025/07/31/2025-july-monthly-report.md
Labels: none

Update blog/en/blog/2025/07/31/2025-july-monthly-report.md
  blog/en/blog/2025/07/31/2025-july-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2025/07/31/2025-july-monthly-report.md
  blog/zh/blog/2025/07/31/2025-july-monthly-report.md
Labels: none

fix
  blog/zh/blog/2025/07/31/2025-july-monthly-report.md
Labels: none

fix typo
  blog/zh/blog/2025/07/31/2025-july-monthly-report.md
Labels: none

blog: add 2025 July monthly report (#1943)
  blog/en/blog/2025/07/31/2025-july-monthly-report.md
  blog/zh/blog/2025/07/31/2025-july-monthly-report.md
Labels: none

fix: disable the event poster card
  config/event-poster-card.json
Labels: none

fix: disable the event poster card (#1944)
  config/event-poster-card.json
Labels: none

update diagrams
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/en/blog/2025/03/24/6-essential-ai-gateway-use-cases.md
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

Update how-to-contribute.md
  website/docs/general/how-to-contribute.md
Labels: docs-general

Update how-to-contribute.md (#1947)
  website/docs/general/how-to-contribute.md
Labels: docs-general

fix: ingress controller 404 links
  .htaccess
Labels: repo

fix: ingress controller 404 links (#1948)
  .htaccess
Labels: repo

docs: add diagrams for AI Gateway blogs (#1906)
  blog/en/blog/2025/02/24/apisix-ai-gateway-features.md
  blog/en/blog/2025/03/06/what-is-an-ai-gateway.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/en/blog/2025/03/24/6-essential-ai-gateway-use-cases.md
  blog/en/blog/2025/04/08/introducing-apisix-ai-gateway.md
Labels: none

fix: redirect ingress next version links to version 1.8.0
  .htaccess
Labels: repo

fix: zh links
  .htaccess
Labels: repo

fix: change rules
  .htaccess
Labels: repo

fix: redirect old ingress next version links to new content (#1949)
  .htaccess
Labels: repo

update
  blog/en/blog/2025/08/31/2025-august-monthly-report.md
  blog/zh/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2025/08/31/2025-august-monthly-report.md
  blog/zh/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2025/08/31/2025-august-monthly-report.md
  blog/zh/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

fix
  blog/en/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

fix
  blog/zh/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

fix typo
  blog/zh/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

blog: add 2025 August monthly report (#1950)
  blog/en/blog/2025/08/31/2025-august-monthly-report.md
  blog/zh/blog/2025/08/31/2025-august-monthly-report.md
Labels: none

update
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

Update 360-built-unified-l7-load-balancer-with-apisix.md
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

update
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

fix
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

fix typo
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

fix
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

fix
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

update 360 link
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

update 360 links
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

blog: 360-built-unified-l7-load-balancer-with-apisix (#1951)
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

fix
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

update
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
Labels: none

update
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

update
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
Labels: none

fix: syntax
  blog/en/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/en/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/en/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
  blog/zh/blog/2025/04/27/apisix-honor-gateway-practice-in-massive-business.md
  blog/zh/blog/2025/05/07/apisix-gateway-practice-in-tencent-timi.md
  blog/zh/blog/2025/09/03/360-built-unified-l7-load-balancer-with-apisix.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
