Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update picked-posts.json
  blog/en/config/picked-posts.json
Labels: none

Update picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md (#1376)
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/config/picked-posts.json
Labels: none

docs: Update arm-performance-google-aws-azure-with-apisix.md (#1375)
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/config/picked-posts.json
Labels: none

fix: docs not found in dockerfile
  Dockerfile
  docker-compose.yml
Labels: repo

fix: docs not found in dockerfile
  Dockerfile
  docker-compose.yml
Labels: repo

Add new blog post 10 usecases of an API Gateway
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

Add list to community
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

Remove reverse-proxy and modern
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

Make bold selling point
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

Replace Sidecar API gateway to API versioning
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

rephrase the API Fault handling block
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

docs: add Horizon.ai Ingress usecase
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

update Lint comment
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

update format details
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

Update blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

Update blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

Update blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

Update blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

Update blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

Update blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

initial update for 11 highlights
  blog/en/blog/2022/10/31/apache-apisix-v3-preview.md
Labels: none

fixed lint
  blog/en/blog/2022/10/31/apache-apisix-v3-preview.md
Labels: none

Update picked-posts.json
  blog/en/config/picked-posts.json
Labels: none

Update event-poster-card.json
  config/event-poster-card.json
Labels: none

Update event-poster-card.json
  config/event-poster-card.json
Labels: none

Update event-poster-card.json
  config/event-poster-card.json
Labels: none

docs: Added cover image for Rust plugin blog
  blog/en/blog/2022/10/05/rust-apisix.md
Labels: none

docs: Added cover image for Azure ARM blog
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

docs: Added cover image for Server Comparison blog
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

update incompatible pictures
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

docs: 'docs' not found when use docker (#1378)
  Dockerfile
  docker-compose.yml
Labels: repo

fix: ignore docs submodule
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix
  .github/workflows/deploy.yml
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts
