Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

docs: revise AI Agent Skills blog
  blog/en/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
Labels: none

ci: assert versioned-docs canonical contract after build
  .github/workflows/deploy.yml
Labels: none

blog: manage Apache APISIX with AI coding agents (en + zh) (#2069)
  blog/en/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
  blog/zh/blog/2026/07/10/manage-apache-apisix-with-ai-agents.md
Labels: none

fix: canonicalize versioned doc pages to the version-less latest URL (#2070)
  .github/workflows/deploy.yml
  doc/src/theme/LayoutHead/index.tsx
Labels: none

feat: give the Learning Center index its own meta description
  website/docusaurus.config.js
  website/src/theme/BlogListPage/index.tsx
Labels: pages

refactor: swap 'observability' for 'mutual TLS' in LC description
  website/docusaurus.config.js
Labels: none

fix: repair dead-URL redirects and add 301s for removed doc versions
  .htaccess
Labels: repo

fix: retarget four stale apisix redirects surfaced by audit
  .htaccess
Labels: repo

fix: repair dead-URL redirects and add 301s for removed doc versions (#2072)
  .htaccess
Labels: repo

feat: give the Learning Center index its own meta description (#2071)
  website/docusaurus.config.js
  website/src/theme/BlogListPage/index.tsx
Labels: pages

feat(seo): improve APISIX on-page content and metadata
  blog/en/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
  website/src/components/AIGateway/Hero.tsx
  website/src/pages/ai-gateway.tsx
  website/src/pages/index.tsx
  website/src/pages/plugins.tsx
Labels: pages

fix(homepage): copy consistency — one story for the plugin count
  next/src/components/HomePage.astro
Labels: none

fix(seo): improve AI and monetization content accuracy
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  website/src/components/AIGateway/Hero.tsx
  website/src/pages/ai-gateway.tsx
Labels: pages

fix(homepage): copy consistency — one story for the plugin count (#2076)
  next/src/components/HomePage.astro
Labels: none

fix(seo): preserve existing blog cover images
  blog/en/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
Labels: none

feat(seo): improve APISIX on-page content and metadata (#2074)
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2025/03/21/ai-gateway-vs-api-gateway-differences-explained.md
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
  website/src/components/AIGateway/Hero.tsx
  website/src/pages/ai-gateway.tsx
  website/src/pages/index.tsx
  website/src/pages/plugins.tsx
Labels: pages

fix(nav): restore the Comparisons entry point and historical resource links
  .github/workflows/deploy.yml
  next/src/lib/site.ts
Labels: none

feat(docs): serve the latest-version docs from the static build (wave 3)
  .github/workflows/deploy.yml
  next/.gitignore
  next/src/components/Header.astro
  next/src/layouts/Base.astro
  next/src/layouts/DocPage.astro
  next/src/styles/global.css
Labels: none

fix(docs): sync release refs, resolve relative links, keep archive links navigating
  .github/workflows/deploy.yml
  next/scripts/sync-content.mjs
  next/src/layouts/Base.astro
Labels: none

feat(docs): publish Markdown twins and an /llms.txt index for agents
  .github/workflows/deploy.yml
  next/scripts/generate-md-twins.mjs
Labels: none

fix(nav): restore the Comparisons entry point and historical resource links (#2077)
  .github/workflows/deploy.yml
  next/src/lib/site.ts
Labels: none

fix(docs): address review — SPA routing, sidebar depth, edit refs, twins
  .github/workflows/deploy.yml
  doc/docusaurus.config.js
  next/scripts/generate-md-twins.mjs
  next/scripts/sync-content.mjs
  next/src/components/SidebarNodes.astro
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/docs/[project]/[...id].astro
  next/src/pages/docs/apisix/[...id].astro
  next/src/pages/zh/docs/[project]/[...id].astro
  next/src/pages/zh/docs/apisix/[...id].astro
  next/src/styles/global.css
Labels: none

docs: add Apache APISIX vs AISIX comparison
  next/src/components/StaticPages.astro
  website/learning-center/apisix-vs-aisix.md
  website/static/llms.txt
Labels: pages

fix(docs): second review round — version paths, fallback edit links, dedup
  doc/docusaurus.config.js
  next/scripts/generate-md-twins.mjs
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/docs/[project]/[...id].astro
  next/src/pages/docs/apisix/[...id].astro
  next/src/pages/zh/docs/[project]/[...id].astro
  next/src/pages/zh/docs/apisix/[...id].astro
Labels: none

feat(docs): serve the latest-version docs from the static build (wave 3) (#2078)
  .github/workflows/deploy.yml
  doc/docusaurus.config.js
  next/.gitignore
  next/scripts/generate-md-twins.mjs
  next/scripts/sync-content.mjs
  next/src/components/Header.astro
  next/src/components/SidebarNodes.astro
  next/src/layouts/Base.astro
  next/src/layouts/DocPage.astro
  next/src/lib/content.ts
  next/src/pages/docs/[project]/[...id].astro
  next/src/pages/docs/apisix/[...id].astro
  next/src/pages/zh/docs/[project]/[...id].astro
  next/src/pages/zh/docs/apisix/[...id].astro
  next/src/styles/global.css
Labels: none

fix(llms): keep the curated index, put the generated one after it
  next/scripts/generate-md-twins.mjs
Labels: none

fix(ci): drop the canonical assertion for a page Docusaurus no longer builds
  .github/workflows/deploy.yml
Labels: none

fix(llms): keep the curated index, put the generated one after it
  next/scripts/generate-md-twins.mjs
Labels: none

fix(ci): drop the canonical assertion for a page Docusaurus no longer builds (#2081)
  .github/workflows/deploy.yml
Labels: none

fix(ci): stop the docs overlay exiting 1 on a page with no Markdown twin
  .github/workflows/deploy.yml
Labels: none

fix(ci): stop the docs overlay exiting 1 on a page with no Markdown twin (#2083)
  .github/workflows/deploy.yml
Labels: none

fix(ci): check a generated blog Markdown twin
  .github/workflows/deploy.yml
Labels: none

fix(ci): require a regular blog twin file
  .github/workflows/deploy.yml
Labels: none

fix(ci): check a generated blog Markdown twin (#2084)
  .github/workflows/deploy.yml
Labels: none

fix(seo): curate sitemap index entries
  next/package.json
  next/scripts/generate-sitemaps.mjs
  next/scripts/generate-sitemaps.test.mjs
  website/static/llms.txt
Labels: pages

fix(ci): generate final sitemaps after Astro overlay
  .github/workflows/deploy.yml
Labels: none

fix(seo): scope sitemap exclusions to root sections
  next/scripts/generate-sitemaps.mjs
  next/scripts/generate-sitemaps.test.mjs
Labels: none

fix: address main page migration audit
  .github/workflows/deploy.yml
  config/downloads.js
  next/.gitignore
  next/playwright.config.mjs
  next/public/img/apache-apisix.png
  next/scripts/sync-content.mjs
  next/src/components/MainPages/DownloadsPage.astro
  next/src/components/MainPages/PluginHubPage.astro
  next/src/layouts/Base.astro
  next/src/lib/site-data.ts
  next/src/lib/site.ts
  next/tests/e2e/main-pages.spec.mjs
Labels: none

fix(llms): keep the curated index, put the generated one after it (#2082)
  next/scripts/generate-md-twins.mjs
Labels: none

fix(ci): ignore patch-version doc archives
  .github/workflows/deploy.yml
Labels: none
