Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

fix: options
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix
  .github/workflows/deploy.yml
Labels: none

fix: sub
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix: all
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix: add log
  scripts/sync-docs.js
Labels: scripts

fix: docs
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

fix
  scripts/sync-docs.js
Labels: scripts

chore: rm useless code
  scripts/sync-docs.js
Labels: scripts

fix: ignore docs submodule (#1385)
  .github/workflows/deploy.yml
  scripts/sync-docs.js
Labels: scripts

update comments
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

docs: add Horizon.ai Ingress usecase (#1381)
  blog/zh/blog/2022/10/28/apisix-ingress-with-horizon-ai.md
Labels: none

docs: Add new blog post 10 usecases of an API Gateway (#1380)
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

Update the title and corrected 10th item
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

docs: update the title and corrected 10th item (#1386)
  blog/en/blog/2022/10/27/ten-use-cases-api-gateway.md
Labels: none

docs: Added cover images for blogs (#1383)
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/en/blog/2022/10/05/rust-apisix.md
Labels: none

docs: Added cover image for Event-driven APIs blog
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

feat: release APISIX 3.0.0
  config/docs.js
  config/downloads.js
Labels: none

feat: release APISIX 3.0.0 (#1388)
  config/docs.js
  config/downloads.js
Labels: none

fix: update the date
  blog/en/blog/2022/11/02/apache-apisix-v3-preview.md
  blog/en/config/picked-posts.json
  config/event-poster-card.json
Labels: none

fix: update redirect
  .htaccess
Labels: repo

docs: update Apache APISIX 3.0 blog (#1382)
  .htaccess
  blog/en/blog/2022/11/02/apache-apisix-v3-preview.md
  blog/en/config/picked-posts.json
  config/event-poster-card.json
Labels: repo

feat: replace linkdin share with cover
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

chore: update cover_image
  blog/en/blog/2022/11/02/apache-apisix-v3-preview.md
Labels: none

chore: update cover_image (#1390)
  blog/en/blog/2022/11/02/apache-apisix-v3-preview.md
Labels: none

docs: update apisix doc version
  config/apisix-versions.js
Labels: none

docs: update apisix doc version
  config/apisix-versions.js
Labels: none

docs: update apisix 3.0 version doc label (#1391)
  config/apisix-versions.js
Labels: none

docs: Added cover image for Backend-Frontend blog
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

docs: Added cover images for blog (#1387)
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

blog: Add Geo-routing with Apache APISIX post
  blog/en/blog/2022/11/09/georouting-apisix.md
Labels: none

docs: Added cover image for the Best API blog
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
Labels: none

Add new post about webhook and event-driven
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
Labels: none

docs: Added cover image for NGINX and Kong blog
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

Adding November Global Community Meeting sign up link
  .htaccess
Labels: repo

docs: add new post about webhook and event-driven (#1396)
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
