Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

Create apisix-integrates-with-coraza.md
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
Labels: none

Update APISIX-interagtes-with-Coraza.md
  blog/en/blog/2023/09/08/APISIX-interagtes-with-Coraza.md
Labels: none

#1677 : Changed Twitter Logo to X
  doc/src/theme/Footer/index.tsx
Labels: none

docs: update documentation-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

Fix lint
  blog/en/blog/2023/09/08/APISIX-interagtes-with-Coraza.md
Labels: none

Fix lint
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
Labels: none

Update APISIX-interagtes-with-Coraza.md
  blog/en/blog/2023/09/08/APISIX-interagtes-with-Coraza.md
Labels: none

Update apisix-integrates-with-coraza.md
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
Labels: none

Rename APISIX-interagtes-with-Coraza.md to APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
Labels: none

Update blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
Labels: none

Update blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
Labels: none

#1677 : Changed Twitter Logo to X (#1678)
  doc/src/theme/Footer/index.tsx
Labels: none

Revert "#1677 : Changed Twitter Logo to X (#1678)"
  doc/src/theme/Footer/index.tsx
Labels: none

docs: add APISIX-integrates-with-Coraza.md (#1676)
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
Labels: none

site: Update twitter new x icon
  doc/src/theme/Footer/index.tsx
Labels: none

site: Update twitter new x icon (#1681)
  doc/src/theme/Footer/index.tsx
Labels: none

docs: update documentation-guide.md (#1679)
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

fix: update the twitter icon
  doc/src/theme/Footer/index.tsx
  website/src/theme/Footer/index.tsx
Labels: pages

fix: revert link check ci
  .github/workflows/link-check.yml
Labels: none

fix: update the twitter icon (#1683)
  .github/workflows/link-check.yml
  doc/src/theme/Footer/index.tsx
  website/src/theme/Footer/index.tsx
Labels: pages

Create test
  blog/test
Labels: none

Create biweekly-report.md
  blog/en/blog/2023/09/11/biweekly-report.md
Labels: none

Rename biweekly-report.md to biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Create biweekly-report
  blog/zh/blog/2023/09/13/biweekly-report
Labels: none

Rename biweekly-report to biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none

Delete blog/test
  blog/test
Labels: none

Update biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none

Update biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Update blog/en/blog/2023/09/13/biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Update blog/zh/blog/2023/09/13/biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none

Update biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Update blog/en/blog/2023/09/13/biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Update blog/zh/blog/2023/09/13/biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none

Update blog/zh/blog/2023/09/13/biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none

Update biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Update biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none

docs: fix category of APISIX Integrates with Coraza
  blog/zh/blog/2023/09/08/apisix-integrates-with-coraza.md
Labels: none

Update APISIX-integrates-with-Coraza.md
  blog/en/blog/2023/09/08/APISIX-integrates-with-Coraza.md
Labels: none

Update biweekly-report.md
  blog/en/blog/2023/09/13/biweekly-report.md
Labels: none

Update biweekly-report.md
  blog/zh/blog/2023/09/13/biweekly-report.md
Labels: none
