Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Update blog/src/theme/Footer/index.tsx
  blog/src/theme/Footer/index.tsx
Labels: none

Update config/navbar.js
  config/navbar.js
Labels: none

Update doc/src/theme/Footer/index.tsx
  doc/src/theme/Footer/index.tsx
Labels: none

Update website/src/theme/Footer/index.tsx
  website/src/theme/Footer/index.tsx
Labels: pages

feat: add milestones (#1604)
  blog/src/theme/Footer/index.tsx
  config/navbar.js
  doc/src/theme/Footer/index.tsx
  website/src/theme/Footer/index.tsx
Labels: pages

Update lenovo-uses-apisix.md
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

site: add details of in-person community meetups (#1605)
  website/docs/general/events.md
Labels: docs-general

Update lenovo-uses-apisix.md
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

docs: add lenovo-uses-apisix.md (#1603)
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

docs: fix error in lenovo case blog
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

docs: fix error in lenovo case blog (#1607)
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

docs: fix metadata
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

docs: fix metadata (#1608)
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

docs: fix Grafana dashboard image in Poor Man's API blog
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

Create test
  blog/test
Labels: none

Create weekly-report.md
  blog/zh/blog/2023/06/08/weekly-report.md
Labels: none

Create weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

Delete test
  blog/test
Labels: none

feat: add Malaysia meetup poster
  config/event-poster-card.json
Labels: none

feat: add Malaysia meetup poster (#1611)
  config/event-poster-card.json
Labels: none

docs: fix Grafana dashboard image in Poor Man's API blog (#1609)
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

Update blog/en/blog/2023/06/08/weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

Update weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

Update weekly-report.md
  blog/zh/blog/2023/06/08/weekly-report.md
Labels: none

Update weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

docs: fix images in two blogs
  blog/en/blog/2022/11/23/poor-man-api.md
  blog/en/blog/2023/03/16/grpc-client-side.md
Labels: none

docs: update the other images as well
  blog/en/blog/2023/03/02/security-policy-auditable.md
  blog/en/blog/2023/03/16/grpc-client-side.md
  blog/en/blog/2023/03/23/mtls-everywhere.md
Labels: none

Update blog/en/blog/2023/06/08/weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

Update blog/zh/blog/2023/06/08/weekly-report.md
  blog/zh/blog/2023/06/08/weekly-report.md
Labels: none

Update blog/en/blog/2023/06/08/weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

Update blog/en/blog/2023/06/08/weekly-report.md
  blog/en/blog/2023/06/08/weekly-report.md
Labels: none

Update blog/zh/blog/2023/06/08/weekly-report.md
  blog/zh/blog/2023/06/08/weekly-report.md
Labels: none

docs: fix images in two blogs (#1612)
  blog/en/blog/2022/11/23/poor-man-api.md
  blog/en/blog/2023/03/02/security-policy-auditable.md
  blog/en/blog/2023/03/16/grpc-client-side.md
  blog/en/blog/2023/03/23/mtls-everywhere.md
Labels: none

docs: Add bi-weekly report 0523-0605 (#1610)
  blog/en/blog/2023/06/08/weekly-report.md
  blog/zh/blog/2023/06/08/weekly-report.md
Labels: none

feat: add eventposter to all page
  config/event-poster-card.json
  website/src/pages/index.tsx
  website/src/theme/Root.tsx
Labels: pages

feat: add eventposter to all page (#1614)
  config/event-poster-card.json
  website/src/pages/index.tsx
  website/src/theme/Root.tsx
Labels: pages

docs: fix broken links
  blog/en/blog/2021/08/05/Kong-to-APISIX.md
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
  blog/zh/blog/2021/08/05/Kong-to-APISIX.md
Labels: none

docs: fix broken links (#1616)
  blog/en/blog/2021/08/05/Kong-to-APISIX.md
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
  blog/zh/blog/2021/08/05/Kong-to-APISIX.md
Labels: none

docs: update images to static.apiseven.com
  blog/en/blog/2023/03/09/authenticate-openid-connect.md
Labels: none

blog: Add Authenticate with OpenID Connect and Apache APISIX post (#1518)
  blog/en/blog/2023/03/09/authenticate-openid-connect.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
