Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

fix doc
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs: add weekly report 10.1-10.15 (#1363)
  blog/zh/blog/2022/10/18/weekly-report-0731.md
Labels: none

fix: improve visibility of Blog page in dark mode (#1359)
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.scss
  blog/src/theme/BlogLayout/style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  blog/zh/docusaurus.config.js
  doc/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  doc/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
Labels: pages

docs: add Huanbei with APISIX usercase blog (#1362)
  blog/zh/blog/2022/09/30/huanbei-in-apache-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md (#1364)
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Add new blog post Scaleway cloud deployment
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Remove trailing spaces
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

Update blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

Update blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs: Add new blog post APISIX deployment on Scaleway cloud (#1365)
  blog/en/blog/2022/10/19/deploy-apisix-on-scaleway-cloud.md
Labels: none

GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比
  GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
Labels: repo

Update GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
  GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
Labels: repo

Update GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
  GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
Labels: repo

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Delete GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
  GCP、AWS、Azure 和 OCI ARM 架构服务器性能测试对比.md
Labels: repo

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs:Added cover image for Fault Injection Testing
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

testing contributor workshop redirect link
  .htaccess
Labels: repo

testing contributor workshop redirect link (#1369)
  .htaccess
Labels: repo

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Update arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
