Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

feat: add structured data for SEO
  website/src/pages/index.tsx
Labels: pages

docs:add weekly report 20230202
  blog/zh/blog/2023/02/02/weekly-report-0202.md
Labels: none

doc: fix error tags (#1492)
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
  blog/en/blog/2022/09/08/api-monetization-using-stack.md
  blog/en/blog/2022/09/23/build-event-driven-api.md
  blog/en/blog/2022/09/28/rust-loves-apisix.md
  blog/en/blog/2022/10/05/rust-apisix.md
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
  blog/en/blog/2022/11/09/georouting-apisix.md
  blog/en/blog/2022/11/23/poor-man-api.md
  blog/en/blog/2022/12/06/choose-the-right-api-style-technology.md
  blog/en/blog/2022/12/07/web-caching-client.md
  blog/en/blog/2022/12/14/web-caching-server.md
Labels: none

blog: Add Securing Admin access to Apache APISIX post
  blog/en/blog/2023/02/09/secure-apisix-admin.md
Labels: none

feat: bump dashboard to 3.0.0
  config/docs.js
  config/downloads.js
Labels: none

update contributors
  website/src/pages/index.tsx
Labels: pages

feat: release APISIX 2.15.2
  config/downloads.js
Labels: none

feat: bump dashboard to 3.0.0 (#1496)
  config/docs.js
  config/downloads.js
Labels: none

docs: add 2022 blog top 10
  blog/zh/blog/2023/02/06/2022-top10-blogs.md
Labels: none

docs: add 2022 blog top 10
  blog/zh/blog/2023/02/06/2022-top10-blogs.md
Labels: none

docs: apisix ingress with cert manager
  blog/zh/blog/2023/02/07/apisix-ingress-with-cert-mamager.md
Labels: none

feat: release APISIX 2.15.2 (#1498)
  config/downloads.js
Labels: none

docs:add weekly report 20230202 (#1494)
  blog/zh/blog/2023/02/02/weekly-report-0202.md
Labels: none

fix docs about quote
  blog/zh/blog/2023/02/07/apisix-ingress-with-cert-mamager.md
Labels: none

Apply suggestions from code review
  blog/en/blog/2023/02/09/secure-apisix-admin.md
Labels: none

Update Recognition Certification iamge
  website/docs/general/how-to-contribute.md
Labels: docs-general

Apply suggestions from code review
  blog/en/blog/2023/02/09/secure-apisix-admin.md
Labels: none

Apply suggestions from code review
  blog/en/blog/2023/02/09/secure-apisix-admin.md
Labels: none

blog: Add Securing Admin access to Apache APISIX post (#1495)
  blog/en/blog/2023/02/09/secure-apisix-admin.md
Labels: none

fix: image size
  blog/zh/blog/2023/02/06/2022-top10-blogs.md
Labels: none

Update Recognition Certification iamge (#1501)
  website/docs/general/how-to-contribute.md
Labels: docs-general

docs:add what is RESTful API blog
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

docs:add what is RESTful API blog
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

docs:add what is RESTful API blog
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

fix typo
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
Labels: none

fix: typo (#1503)
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
Labels: none

fix table
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

docs:add weekly report 20230216
  blog/zh/blog/2023/02/16/weekly-report-0216.md
Labels: none

fix: APISIX release date
  config/downloads.js
Labels: none

fix: typo
  blog/zh/blog/2023/02/16/weekly-report-0216.md
Labels: none

fix: APISIX release date (#1507)
  config/downloads.js
Labels: none

docs: apisix ingress with cert manager (#1500)
  blog/zh/blog/2023/02/07/apisix-ingress-with-cert-mamager.md
Labels: none

docs: add weekly report 20230216 (#1506)
  blog/zh/blog/2023/02/16/weekly-report-0216.md
Labels: none

Update blog/zh/blog/2023/02/08/what-is-restful-api.md
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

docs: Add 2022 top10 blog (#1499)
  blog/zh/blog/2023/02/06/2022-top10-blogs.md
Labels: none

fix table
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

fix code part
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

blog: Add The right feature at the right place post
  blog/en/blog/2023/02/23/right-feature-right-place.md
Labels: none

blog: Add Make your security policy auditable post
  blog/en/blog/2023/03/02/security-policy-auditable.md
Labels: none

Update blog/zh/blog/2023/02/08/what-is-restful-api.md
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none
