Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Update blog/en/blog/2022/03/01/apisix-integration-public-api-plugin.md
  blog/en/blog/2022/03/01/apisix-integration-public-api-plugin.md
Labels: none

Update blog/en/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  blog/en/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
Labels: none

docs: update 2022-2/4/7 blog's desc/keywords/tags (#1272)
  blog/en/blog/2022/03/01/apisix-integration-public-api-plugin.md
  blog/en/blog/2022/03/02/apisix-integration-graphql.md
  blog/en/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  blog/en/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/en/blog/2022/03/03/weekly-report-0228.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  blog/en/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/en/blog/2022/03/24/weekly-report-0314.md
  blog/en/blog/2022/03/28/release-apache-apisix-2.13.md
  blog/en/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/en/blog/2022/07/04/apisix-integrates-with-hydra.md
  blog/en/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2022/07/07/weekly-report-0630.md
  blog/en/blog/2022/07/21/weekly-report-0715.md
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/zh/blog/2022/03/01/apisix-integration-public-api-plugin.md
  blog/zh/blog/2022/03/02/apisix-integration-graphql.md
  blog/zh/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  blog/zh/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/zh/blog/2022/03/03/weekly-report-0228.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/zh/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  blog/zh/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/zh/blog/2022/03/24/weekly-report-0314.md
  blog/zh/blog/2022/03/28/release-apache-apisix-2.13.md
  blog/zh/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/zh/blog/2022/04/20/cve-2022-29266.md
  blog/zh/blog/2022/07/04/apisix-integrates-with-hydra.md
  blog/zh/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  blog/zh/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/zh/blog/2022/07/07/weekly-report-0630.md
  blog/zh/blog/2022/07/21/weekly-report-0715.md
Labels: none

Update .htaccess
  .htaccess
Labels: repo

chore: add 301 redirect to .htaccess (#1274)
  .htaccess
Labels: repo

docs: update tags
  blog/en/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/en/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  blog/en/blog/2021/12/20/weekly-report-1215.md
  blog/en/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
Labels: none

docs: update tags
  blog/en/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/zh/blog/2021/10/18/meetup.md
  blog/zh/blog/2021/12/20/weekly-report-1215.md
  blog/zh/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/zh/blog/2022/01/17/apisix-kafka-integration.md
  blog/zh/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/zh/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  blog/zh/blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: update tags
  blog/en/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/en/blog/2021/12/20/weekly-report-1215.md
  blog/zh/blog/2021/12/20/weekly-report-1215.md
Labels: none

docs: update tags
  blog/en/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/zh/blog/2021/12/20/weekly-report-1215.md
Labels: none

docs: update keywords
  blog/zh/blog/2021/12/20/weekly-report-1215.md
Labels: none

docs: update tags
  blog/zh/blog/2021/12/20/weekly-report-1215.md
Labels: none

docs: update blog's tags (#1275)
  blog/en/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/en/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  blog/en/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  blog/zh/blog/2021/10/18/meetup.md
  blog/zh/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/zh/blog/2022/01/17/apisix-kafka-integration.md
  blog/zh/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/zh/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  blog/zh/blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
  blog/zh/blog/2022/07/22/exploration-of-apisix-in-api-and-microservices.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

update events page and add news
  website/docs/general/events.md
Labels: docs-general

docs: change user-case tag to case-studies tag and modify tags
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/zh/blog/2021/12/20/weekly-report-1215.md
  config/navbar.js
Labels: none

docs: change user-case tag to case-studies tag and modify tags
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

docs: change user-case tag to case-studies tag and modify tags (#1277)
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/zh/blog/2021/12/20/weekly-report-1215.md
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
  config/navbar.js
Labels: none

docs: add weekly report 0716-0731
  blog/en/blog/2022/08/09/weekly-report-0731.md
  blog/zh/blog/2022/08/09/weekly-report-0731.md
Labels: none

Update events.json
  website/static/data/events.json
Labels: pages

refactor: split styles, limit animation rate
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.css
  blog/src/css/customTheme.scss
  blog/src/css/rc-image.scss
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  doc/src/css/customTheme.css
  doc/src/css/customTheme.scss
  website/docusaurus.config.js
  website/src/components/HeroCanvas.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/customTheme.scss
  website/src/css/landing-sections/comparison.scss
  website/src/css/landing-sections/hero.scss
  website/src/css/plugins.scss
  website/src/css/showcase.scss
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase.tsx
  website/src/pages/showcase/styles.scss
Labels: pages

refactor: reduce styles (#1279)
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.css
  blog/src/css/customTheme.scss
  blog/src/css/rc-image.scss
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  doc/src/css/customTheme.css
  doc/src/css/customTheme.scss
  website/docusaurus.config.js
  website/src/components/HeroCanvas.tsx
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
  website/src/css/customTheme.scss
  website/src/css/help.scss
  website/src/css/landing-sections/architecture.scss
  website/src/css/landing-sections/benefits.scss
  website/src/css/landing-sections/comparison.scss
  website/src/css/landing-sections/endcta.module.scss
  website/src/css/landing-sections/features.module.scss
  website/src/css/landing-sections/hero.scss
  website/src/css/landing-sections/home-events.module.scss
  website/src/css/landing-sections/os-promo.module.scss
  website/src/css/plugins.scss
  website/src/css/rc-image.scss
  website/src/css/showcase.scss
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase.tsx
  website/src/pages/showcase/styles.scss
Labels: pages

fix type
  website/docs/general/events.md
Labels: docs-general

docs: add image
  blog/en/blog/2022/08/09/weekly-report-0731.md
  blog/zh/blog/2022/08/09/weekly-report-0731.md
Labels: none

docs: Add Azure test performance blog
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

update Lint comments
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

update details
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

update table
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

update comments
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

Update weekly-report-0731.md
  blog/zh/blog/2022/08/09/weekly-report-0731.md
Labels: none

docs: change image
  blog/en/blog/2022/08/09/weekly-report-0731.md
  blog/zh/blog/2022/08/09/weekly-report-0731.md
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

Update style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: blog images srcset
  blog/package.json
  blog/src/theme/BlogPostPage/index.tsx
  yarn.lock
Labels: repo

fix: style of first item style in list page (#1281)
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

docs: update events page and add news (#1276)
  website/docs/general/events.md
Labels: docs-general

docs: Add Azure test performance blog (#1280)
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
Labels: none

docs: Add Google/AWS/Azure test blog
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

update Lint comments
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

update comments
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
