Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

docs: add unlock-observability-for-apisix-with-deepflow.md
  blog/zh/blog/unlock-observability-for-apisix-with-deepflow.md
Labels: none

add unlock-observability-for-apisix-with-deepflow (en)
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
Labels: none

Update
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
  blog/zh/blog/unlock-observability-for-apisix-with-deepflow.md
Labels: none

Rename blog/zh/blog/unlock-observability-for-apisix-with-deepflow.md to blog/zh/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
  blog/zh/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
Labels: none

Fix lint
  blog/zh/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
Labels: none

Fix lint
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
Labels: none

docs: add unlock-observability-for-apisix-with-deepflow.md (#1769)
  blog/en/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
  blog/zh/blog/2024/02/07/unlock-observability-for-apisix-with-deepflow.md
Labels: none

blog: Add Hardening Apache APISIX with the OWASP Coraza and Core Ruleset post
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
Labels: none

blog: Add Hardening Apache APISIX with the OWASP Coraza and Core Ruleset post (#1771)
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
Labels: none

docs: add zhengcaiyun-uses-apisix.md (#1749)
  blog/en/blog/2023/12/26/zhengcaiyun-uses-apisix.md
Labels: none

fix: fix kapa with CSP for google.com
  doc/src/pages/edit.tsx
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

fix: `kapa.ai` with CSP for `google.com` (#1773)
  doc/src/pages/edit.tsx
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

fix: try to pass CSP http header to make kapa work normally
  .htaccess
Labels: repo

chore: remove meta element of CSP
  doc/src/pages/edit.tsx
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: pages

fix: try to make kapa work normally by setting CSP header (#1774)
  .htaccess
  doc/src/pages/edit.tsx
  website/src/pages/contribute.tsx
  website/src/pages/index.tsx
Labels: repo, pages

blog: Add Secure your API with these 16 Practices with Apache APISIX - part 1 post
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
Labels: none

blog: Add Secure your API with these 16 Practices with Apache APISIX - part 2 post
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
Labels: none

blog: Add Secure your API with these 16 Practices with Apache APISIX … (#1772)
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
Labels: none

blog: Add Secure your API with these 16 Practices with Apache APISIX - part 2 post (#1775)
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
Labels: none

docs: add monthly-report (0129-0229)
  blog/zh/blog/2024/03/05/monthly-report.md
Labels: none

add monthly-report (en)
  blog/en/blog/2024/03/05/monthly-report.md
Labels: none

Update monthly-report.md
  blog/en/blog/2024/03/05/monthly-report.md
Labels: none

Update monthly-report.md
  blog/en/blog/2024/03/05/monthly-report.md
Labels: none

Update monthly-report.md
  blog/zh/blog/2024/03/05/monthly-report.md
Labels: none

Update images
  blog/en/blog/2024/03/05/monthly-report.md
Labels: none

Update monthly-report.md
  blog/zh/blog/2024/03/05/monthly-report.md
Labels: none

docs: add monthly-report (0129-0229) (#1776)
  blog/en/blog/2024/03/05/monthly-report.md
  blog/zh/blog/2024/03/05/monthly-report.md
Labels: none

Add release notes 3.9.0
  blog/en/blog/2024/03/22/release-apache-apisix-3.9.0.md
  blog/zh/blog/2024/03/22/release-apache-apisix-3.9.0.md
Labels: none

Update blog/en/blog/2024/03/22/release-apache-apisix-3.9.0.md
  blog/en/blog/2024/03/22/release-apache-apisix-3.9.0.md
Labels: none

update date and add link for ocsp-stapling plugin doc
  blog/en/blog/2024/03/27/release-apache-apisix-3.9.0.md
Labels: none

ditto as last commit for zh doc
  blog/zh/blog/2024/03/27/release-apache-apisix-3.9.0.md
Labels: none

blog: Add Apache APISIX North America Tour post
  blog/en/blog/2024/03/28/apisix-north-america-tour.md
Labels: none

fix: Fix canonical links
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
Labels: none

fix: Fix canonical links (#1779)
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
Labels: none

blog: Add Apache APISIX North America Tour post (#1778)
  blog/en/blog/2024/03/28/apisix-north-america-tour.md
Labels: none

doc: release APISIX 3.9.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

fix: Fix link in blog
  blog/en/blog/2024/03/28/apisix-north-america-tour.md
Labels: none

blog: Add Fixing duplicate API requests post
  blog/en/blog/2024/04/04/fix-duplicate-api-requests.md
Labels: none

fix: Fix link in blog (#1781)
  blog/en/blog/2024/03/28/apisix-north-america-tour.md
Labels: none

update dates
  blog/en/blog/2024/03/29/release-apache-apisix-3.9.0.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
