Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Update grpc-client-side.md
  blog/en/blog/2023/03/16/grpc-client-side.md
Labels: none

docs: fix blog description (#1836)
  blog/en/blog/2023/03/16/grpc-client-side.md
  blog/en/blog/2023/08/17/ops-friendly-apisix.md
  blog/en/blog/2023/10/05/resize-images-on-the-fly.md
  blog/en/blog/2023/11/09/api-versioning.md
  blog/en/blog/2024/02/13/apisix-owasp-coraza-core-ruleset.md
  blog/en/blog/2024/02/20/secure-api-practices-apisix-1.md
  blog/en/blog/2024/02/27/secure-api-practices-apisix-2.md
Labels: none

new committer-guide is added
  package-lock.json
  package.json
  website/docs/general/committer-guide-2.md
  yarn.lock
Labels: repo, docs-general

blog: add dec monthly report
  blog/en/blog/2024/12/31/monthly-report.md
Labels: none

Update monthly-report.md
  blog/en/blog/2024/12/31/monthly-report.md
Labels: none

Add Chinese version
  blog/en/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

fix
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

fix comments
  blog/en/blog/2024/12/31/monthly-report.md
Labels: none

fix comment
  blog/en/blog/2024/12/31/monthly-report.md
Labels: none

fix comments
  blog/en/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

fix image & comment
  blog/en/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

update sequence
  blog/en/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

update
  blog/en/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

blog: add dec monthly report (#1838)
  blog/en/blog/2024/12/31/monthly-report.md
  blog/zh/blog/2024/12/31/monthly-report.md
Labels: none

blog: add apisix-2024-ospp
  blog/zh/blog/2025/01/13/apisix-2024-ospp.md
Labels: none

Update apisix-2024-ospp.md
  blog/zh/blog/2025/01/13/apisix-2024-ospp.md
Labels: none

Update apisix-2024-ospp.md
  blog/zh/blog/2025/01/13/apisix-2024-ospp.md
Labels: none

blog: add apisix-2024-ospp (#1839)
  blog/zh/blog/2025/01/13/apisix-2024-ospp.md
Labels: none

remove img
  website/src/pages/team.tsx
Labels: pages

fix: cover in high-availability-of-apisix-and-api7
  blog/zh/blog/2023/12/15/high-availability-of-apisix-and-api7.md
Labels: none

fix: cover in high-availability-of-apisix-and-api7 (#1841)
  blog/zh/blog/2023/12/15/high-availability-of-apisix-and-api7.md
Labels: none

blog: add so-yang-international-uses-apisix
  blog/zh/blog/2025/01/15/so-yang-international-uses-apisix.md
Labels: none

Update so-yang-international-uses-apisix.md
  blog/zh/blog/2025/01/15/so-yang-international-uses-apisix.md
Labels: none

add description
  blog/zh/blog/2025/01/15/so-yang-international-uses-apisix.md
Labels: none

fix typo
  blog/zh/blog/2025/01/15/so-young-international-uses-apisix.md
Labels: none

Update and rename so-young-international-uses-apisix.md to apisix-practice-in-soyoung-data-security-gateway.md
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

blog: add so-young-international-uses-apisix (#1842)
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

patch: add missing image
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

patch: add missing image (#1843)
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

fix: image order in soyoung case study
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

fix: image order in soyoung case study
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

fix: image order in soyoung case study (#1844)
  blog/zh/blog/2025/01/15/apisix-practice-in-soyoung-data-security-gateway.md
Labels: none

fix: remove gtag code
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
Labels: none

removed thecontrbuter over time section
  .DS_Store
Labels: repo

Contributor Over Time sectionn
  website/src/pages/team.tsx
Labels: pages

fix: remove gtag code (#1845)
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
Labels: none

removed the google clander in event calander which is not loading
  website/docs/general/events.md
Labels: docs-general

blog: add Jan. monthly-report
  blog/zh/blog/2025/01/26/monthly-report.md
Labels: none

add en version
  blog/en/blog/2025/01/26/monthly-report.md
Labels: none

update image
  blog/en/blog/2025/01/26/monthly-report.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
