Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

docs: update blog error
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: update blog error (#1232)
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/zh/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: add 7.1-7.15 weekly report (#1227)
  blog/en/blog/2022/07/21/weekly-report-0715.md
  blog/zh/blog/2022/07/21/weekly-report-0715.md
  website/static/data/events.json
Labels: pages

refactor: blog list page
  blog/en/docusaurus.config.js
  blog/package.json
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
  blog/src/theme/BlogPostAuthor/index.tsx
  blog/src/theme/BlogPostAuthor/styles.module.css
  blog/src/theme/BlogPostAuthors/index.tsx
  blog/src/theme/BlogPostAuthors/styles.module.css
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPostItem/styles.module.css
  blog/static/img/default-blog-header.jpg
  yarn.lock
Labels: repo

fix: img path
  website/static/img/default-blog-header.jpg
Labels: pages

fix: correct zh blog config
  blog/zh/docusaurus.config.js
Labels: none

fix: first list page style
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
Labels: none

fix: blog list style
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
  blog/src/theme/BlogListPaginator/index.tsx
  blog/src/theme/BlogListPaginator/style.module.scss
Labels: none

feat: title with page number to improve seo
  blog/src/theme/BlogListPage/index.tsx
Labels: none

fix: first item style
  blog/src/theme/BlogListPage/style.module.scss
Labels: none

fix: preserve line break in firefox
  blog/src/theme/CodeBlock/index.tsx
  blog/src/theme/CodeBlock/styles.module.css
  doc/src/theme/CodeBlock/index.tsx
  doc/src/theme/CodeBlock/styles.module.css
Labels: none

refactor: BlogTagsPostsPage
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
Labels: none

fix: preserve line break in firefox (#1234)
  blog/src/theme/CodeBlock/index.tsx
  blog/src/theme/CodeBlock/styles.module.css
  doc/src/theme/CodeBlock/index.tsx
  doc/src/theme/CodeBlock/styles.module.css
Labels: none

Update how-is-google-cloud-tau-t2a-performing.md
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: fix typo (#1235)
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

fix: style, add share
  blog/package.json
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
  blog/src/theme/BlogPostPage/index.tsx
  yarn.lock
Labels: repo

fix: default size, item size
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
Labels: none

feat: share buttons
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogPostPage/index.tsx
Labels: none

fix: err style
  blog/src/theme/BlogLayout/index.tsx
Labels: none

fix: toc style
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
Labels: none

fix: list style
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogListPage/index.tsx
Labels: none

fix: pic style
  blog/src/theme/BlogListPage/index.tsx
Labels: none

refactor: blog pages (#1236)
  blog/en/docusaurus.config.js
  blog/package.json
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
  blog/src/theme/BlogListPaginator/index.tsx
  blog/src/theme/BlogListPaginator/style.module.scss
  blog/src/theme/BlogPostAuthor/index.tsx
  blog/src/theme/BlogPostAuthor/styles.module.css
  blog/src/theme/BlogPostAuthors/index.tsx
  blog/src/theme/BlogPostAuthors/styles.module.css
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPostItem/styles.module.css
  blog/src/theme/BlogPostPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
  blog/static/img/default-blog-header.jpg
  blog/zh/docusaurus.config.js
  website/static/img/default-blog-header.jpg
  yarn.lock
Labels: repo, pages

chore: htaccess, deploy
  .github/workflows/deploy.yml
  .htaccess
Labels: repo

chore: rm trailing space
  .github/workflows/deploy.yml
Labels: none

fix: scripts, LazyLoadImage in doc pages
  doc/src/theme/DocPage/index.tsx
  package.json
Labels: repo

fix: LazyLoadImage placeholder
  doc/src/theme/DocPage/index.tsx
Labels: none

fix: htaccess, deploy.yml, scripts, LazyLoadImage (#1237)
  .github/workflows/deploy.yml
  .htaccess
  doc/src/theme/DocPage/index.tsx
  package.json
Labels: repo

feat: Blog listing page adapted to mobile
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
Labels: none

fix: rm share section in mobile
  blog/src/theme/BlogLayout/index.tsx
Labels: none

feat: BlogTagsPostsPage adapted to mobile
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
Labels: none

refactor: extract BlogPosts component
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
Labels: none

feat: EventPosterCard adapted to mobile
  website/src/components/EventPosterCard.tsx
  website/src/css/event-poster-card.module.scss
Labels: pages

fix: EventPosterCard style
  website/src/components/EventPosterCard.tsx
  website/src/css/event-poster-card.module.scss
Labels: pages

feat: adapt blog pages, EventPosterCard for mobile (#1238)
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogListPage/index.tsx
  blog/src/theme/BlogListPage/style.module.scss
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
  website/src/components/EventPosterCard.tsx
  website/src/css/event-poster-card.module.scss
Labels: pages

fix: footer slack links
  blog/src/theme/Footer/index.tsx
  doc/src/theme/Footer/index.tsx
Labels: none

fix: default author img
  blog/src/theme/BlogPostAuthor/index.tsx
  blog/src/theme/BlogPostAuthors/index.tsx
Labels: none

fix: CJK reading time, rm useless deps
  blog/en/docusaurus.config.js
  blog/i18n/zh/code.json
  blog/package.json
  blog/src/theme/BlogPostItem/index.tsx
  blog/zh/docusaurus.config.js
  doc/package.json
  website/docusaurus.config.js
  website/package.json
  yarn.lock
Labels: repo

refactor: replace client redirect with server redirect
  .htaccess
  website/docusaurus.config.js
Labels: repo

fix: disable blur effect in mobile
  blog/src/theme/BlogPosts/index.tsx
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
