Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix comment
  blog/zh/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

update
  blog/en/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
Labels: none

blog: add 2025 May monthly report (#1919)
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
  blog/zh/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

fix: update commits to 39 to align with pictures and ZH-CN blog
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

fix: update commits to 39 to align with pictures and ZH-CN blog (#1920)
  blog/en/blog/2025/05/30/2025-may-monthly-report.md
Labels: none

Create apisix-mcp-intelligent-management-practices.md
  blog/zh/blog/2025/06/04/apisix-mcp-intelligent-management-practices.md
Labels: none

update
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

fix comments
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

update
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

update images
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

Update blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
Labels: none

Update blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
Labels: none

Update blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
Labels: none

blog: add apisix-ai-gateway-from-cloud-native-to-ai-native (#1918)
  blog/en/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
  blog/zh/blog/2025/05/29/apisix-ai-gateway-from-cloud-native-to-ai-native.md
Labels: none

refine tone and expressions
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

fix comments
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

Update blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

docs: remove slack invite link
  README.md
  website/docs/general/join.md
Labels: repo, docs-general

update en version
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

blog: add configure-apisix-in-a-single-command-with-apisix-mcp (#1921)
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
  blog/zh/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

Update .htaccess
  .htaccess
Labels: repo

f
  .htaccess
Labels: repo

docs: add redirect rules for APISIX 3.2 docs to netlify (#1923)
  .htaccess
Labels: repo

fix: metadata of configure apisix in a single command
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

fix: metadata of configure apisix in a single command (#1924)
  blog/en/blog/2025/06/04/configure-apisix-in-a-single-command-with-apisix-mcp.md
Labels: none

update
  blog/en/blog/2025/06/18/ai-gateway-future-trend-of-ai-infrastructure.md
  blog/en/blog/2025/06/18/mcp-monetization-navigating-ai-conomy.md.md
Labels: none

remove mermaid diagram
  blog/en/blog/2025/06/18/ai-gateway-future-trend-of-ai-infrastructure.md
Labels: none

add links & fix
  blog/en/blog/2025/06/18/ai-gateway-future-trend-of-ai-infrastructure.md
  blog/en/blog/2025/06/18/mcp-monetization-navigating-ai-conomy.md.md
Labels: none

docs: remove slack invite link (#1922)
  README.md
  website/docs/general/join.md
Labels: repo, docs-general

add release notes
  blog/en/blog/2025/06/30/release-apache-apisix-3.13.0.md
  blog/zh/blog/2025/06/30/release-apache-apisix-3.13.0.md
Labels: none

Update release-apache-apisix-3.13.0.md
  blog/en/blog/2025/06/30/release-apache-apisix-3.13.0.md
Labels: none

docs: fix typo for doc sync script (#1917)
  README.md
Labels: repo

docs: release APISIX 3.13.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

change release date to June 27
  blog/en/blog/2025/06/27/release-apache-apisix-3.13.0.md
  blog/zh/blog/2025/06/27/release-apache-apisix-3.13.0.md
Labels: none

docs: release APISIX 3.13.0 (#1928)
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

Apply suggestions from code review
  blog/zh/blog/2025/06/27/release-apache-apisix-3.13.0.md
Labels: none

blog: add 3.13.0 release notes (#1927)
  blog/en/blog/2025/06/27/release-apache-apisix-3.13.0.md
  blog/zh/blog/2025/06/27/release-apache-apisix-3.13.0.md
Labels: none

update
  blog/en/blog/2025/06/30/2025-june-monthly-report.md
  blog/zh/blog/2025/06/30/2025-june-monthly-report.md
Labels: none

fix expressions
  blog/en/blog/2025/06/30/2025-june-monthly-report.md
Labels: none

fix
  blog/en/blog/2025/06/30/2025-june-monthly-report.md
Labels: none
