Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

docs: Update 2022-01 blogs tags/keywords/decs (#1254)
  blog/en/blog/2022/01/04/authing.md
  blog/en/blog/2022/01/05/weekly-report-1231.md
  blog/en/blog/2022/01/11/apisix-with-shardingsphere-meetup.md
  blog/en/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  blog/en/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/19/weekly-report-0116.md
  blog/en/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
  blog/en/blog/2022/01/24/apisix-with-qingcloud-meetup.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/01/25/release-apache-apisix-2.12.md
  blog/en/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  blog/zh/blog/2022/01/04/authing.md
  blog/zh/blog/2022/01/05/weekly-report-1231.md
  blog/zh/blog/2022/01/11/apisix-with-shardingsphere-meetup.md
  blog/zh/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  blog/zh/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/zh/blog/2022/01/17/apisix-kafka-integration.md
  blog/zh/blog/2022/01/19/weekly-report-0116.md
  blog/zh/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/zh/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/zh/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
  blog/zh/blog/2022/01/24/apisix-with-qingcloud-meetup.md
  blog/zh/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/zh/blog/2022/01/25/release-apache-apisix-2.12.md
  blog/zh/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
Labels: none

docs: Update 2022-456-month tag/keyword/decs (#1257)
  blog/en/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/en/blog/2022/04/17/api-observability.md
  blog/en/blog/2022/04/20/weekly-report-0420.md
  blog/en/blog/2022/04/22/apisix-with-tidb-practice.md
  blog/en/blog/2022/04/29/interview-juzhiyuan-apache-member.md
  blog/en/blog/2022/05/10/weekly-report-0510.md
  blog/en/blog/2022/05/19/weekly-report-0519.md
  blog/en/blog/2022/05/31/release-apache-apisix-2.14.md
  blog/en/blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
  blog/en/blog/2022/06/07/weekly-report-0607.md
  blog/en/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/en/blog/2022/06/14/beeto-with-apache-apisix.md
  blog/en/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/en/blog/2022/06/14/xueqiu-with-apache-apisix.md
  blog/en/blog/2022/06/21/weekly-report-0621.md
  blog/en/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  blog/zh/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/zh/blog/2022/04/20/weekly-report-0420.md
  blog/zh/blog/2022/04/22/apisix-with-tidb-practice.md
  blog/zh/blog/2022/04/29/interview-juzhiyuan-apache-member.md
  blog/zh/blog/2022/05/10/weekly-report-0510.md
  blog/zh/blog/2022/05/19/weekly-report-0519.md
  blog/zh/blog/2022/05/31/release-apache-apisix-2.14.md
  blog/zh/blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
  blog/zh/blog/2022/06/07/weekly-report-0607.md
  blog/zh/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/zh/blog/2022/06/14/beeto-with-apache-apisix.md
  blog/zh/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/zh/blog/2022/06/14/xueqiu-with-apache-apisix.md
  blog/zh/blog/2022/06/21/weekly-report-0621.md
  blog/zh/blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: none

docs: fix typo
  blog/en/blog/2021/10/01/openEuler.md
  blog/zh/blog/2021/10/01/openEuler.md
Labels: none

docs: fix comment
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

docs: fix comment
  blog/en/blog/2021/10/01/openEuler.md
  blog/zh/blog/2021/10/01/openEuler.md
Labels: none

doc: update README
  README.md
Labels: repo

fix: lint
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

docs: update blog desc
  blog/en/blog/2021/10/01/openEuler.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2021/10/13/celebrating-300-contributors-of-apisix.md
  blog/en/blog/2021/10/14/weekly-report-1014.md
  blog/en/blog/2021/10/18/meetup.md
  blog/en/blog/2021/10/22/cert-manager-in-ingress.md
  blog/en/blog/2021/10/26/APISIX-Ingress.md
  blog/en/blog/2021/10/29/Extension-guide.md
  blog/zh/blog/2021/10/01/openEuler.md
  blog/zh/blog/2021/10/09/apisix-ingress-techblog.md
  blog/zh/blog/2021/10/13/celebrating-300-contributors-of-apisix.md
  blog/zh/blog/2021/10/14/weekly-report-1014.md
  blog/zh/blog/2021/10/18/meetup.md
  blog/zh/blog/2021/10/22/cert-manager-in-ingress.md
  blog/zh/blog/2021/10/26/APISIX-Ingress.md
  blog/zh/blog/2021/10/29/Extension-guide.md
Labels: none

docs: fix typo
  blog/zh/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
Labels: none

doc: update README (#1263)
  README.md
Labels: repo

docs: update `why-we-need-apache-apisix` blog and add en blog (#1259)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/en/config/picked-posts.json
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/zh/config/picked-posts.json
Labels: none

docs: fix typo (#1265)
  blog/zh/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
Labels: none

docs: update 2021-10/11 blog's des/tags/keywords
  blog/en/blog/2021/11/02/weekly-report-1031.md
  blog/en/blog/2021/11/03/airwallex-usercase.md
  blog/en/blog/2021/11/04/skywalking.md
  blog/en/blog/2021/11/12/apisix-datadog.md
  blog/en/blog/2021/11/16/weekly-report-1114.md
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/en/blog/2021/11/19/apisix-supports-wasm.md
  blog/en/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  blog/en/blog/2021/11/23/cve-2021-43557-research-report.md
  blog/en/blog/2021/11/23/cve-2021-43557.md
  blog/en/blog/2021/11/26/apache-apisix-committer-experience.md
  blog/en/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  blog/zh/blog/2021/11/02/weekly-report-1031.md
  blog/zh/blog/2021/11/03/airwallex-usercase.md
  blog/zh/blog/2021/11/04/skywalking.md
  blog/zh/blog/2021/11/12/apisix-datadog.md
  blog/zh/blog/2021/11/16/weekly-report-1114.md
  blog/zh/blog/2021/11/17/dapr-with-apisix.md
  blog/zh/blog/2021/11/19/apisix-supports-wasm.md
  blog/zh/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  blog/zh/blog/2021/11/23/cve-2021-43557-research-report.md
  blog/zh/blog/2021/11/23/cve-2021-43557.md
  blog/zh/blog/2021/11/26/apache-apisix-committer-experience.md
  blog/zh/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
Labels: none

docs: fix comment
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/zh/blog/2021/10/09/apisix-ingress-techblog.md
  blog/zh/blog/2021/11/26/apache-apisix-committer-experience.md
Labels: none

fix: tag header's mobile style
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: none

fix: tag header's mobile style (#1267)
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: none

perf: optimize generate-picked-posts-info
  scripts/generate-picked-posts-info.mjs
Labels: scripts

docs: update 2021-12 blog's desc/keywords/tags
  blog/en/blog/2021/12/01/apisix-supports-azure-functions.md
  blog/en/blog/2021/12/01/release-apache-apisix-2.11.md
  blog/en/blog/2021/12/02/weekly-report-1130.md
  blog/en/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  blog/en/blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  blog/en/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/en/blog/2021/12/13/monitor-apisix-ingress-controller-with-prometheus.md
  blog/en/blog/2021/12/15/deploy-apisix-in-kubernetes.md
  blog/en/blog/2021/12/16/apisix-with-rocketmq-meetup.md
  blog/en/blog/2021/12/17/exposure-istio-with-apisix-ingress.md
  blog/en/blog/2021/12/20/weekly-report-1215.md
  blog/en/blog/2021/12/22/google-logging.md
  blog/en/blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
  blog/en/blog/2021/12/24/open-policy-agent.md
  blog/en/blog/2021/12/28/dashboard-cve-2021-45232.md
  blog/en/blog/2021/12/30/apisix-proxy-grpc-service.md
  blog/zh/blog/2021/12/01/apisix-supports-azure-functions.md
  blog/zh/blog/2021/12/01/release-apache-apisix-2.11.md
  blog/zh/blog/2021/12/02/weekly-report-1130.md
  blog/zh/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  blog/zh/blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  blog/zh/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  blog/zh/blog/2021/12/13/monitor-apisix-ingress-controller-with-prometheus.md
  blog/zh/blog/2021/12/15/deploy-apisix-in-kubernetes.md
  blog/zh/blog/2021/12/16/apisix-with-rocketmq-meetup.md
  blog/zh/blog/2021/12/17/exposure-istio-with-apisix-ingress.md
  blog/zh/blog/2021/12/20/weekly-report-1215.md
  blog/zh/blog/2021/12/22/google-logging.md
  blog/zh/blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
  blog/zh/blog/2021/12/24/open-policy-agent.md
  blog/zh/blog/2021/12/28/dashboard-cve-2021-45232.md
  blog/zh/blog/2021/12/30/apisix-proxy-grpc-service.md
Labels: none

chore: rm deps
  scripts/generate-repos-info.js
  scripts/package.json
  yarn.lock
Labels: repo, scripts

chore: rm useless deps
  scripts/package.json
  yarn.lock
Labels: repo, scripts

chore: make script command naming consistent
  package.json
  scripts/package.json
Labels: repo, scripts

fix: workflow script
  .github/workflows/link-check.yml
Labels: none

docs: update 2021-10/11 blog's des/tags/keywords (#1266)
  blog/en/blog/2021/10/01/openEuler.md
  blog/en/blog/2021/10/09/apisix-ingress-techblog.md
  blog/en/blog/2021/10/13/celebrating-300-contributors-of-apisix.md
  blog/en/blog/2021/10/14/weekly-report-1014.md
  blog/en/blog/2021/10/18/meetup.md
  blog/en/blog/2021/10/22/cert-manager-in-ingress.md
  blog/en/blog/2021/10/26/APISIX-Ingress.md
  blog/en/blog/2021/10/29/Extension-guide.md
  blog/en/blog/2021/11/02/weekly-report-1031.md
  blog/en/blog/2021/11/03/airwallex-usercase.md
  blog/en/blog/2021/11/04/skywalking.md
  blog/en/blog/2021/11/12/apisix-datadog.md
  blog/en/blog/2021/11/16/weekly-report-1114.md
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/en/blog/2021/11/19/apisix-supports-wasm.md
  blog/en/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  blog/en/blog/2021/11/23/cve-2021-43557-research-report.md
  blog/en/blog/2021/11/23/cve-2021-43557.md
  blog/en/blog/2021/11/26/apache-apisix-committer-experience.md
  blog/en/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  blog/zh/blog/2021/10/01/openEuler.md
  blog/zh/blog/2021/10/09/apisix-ingress-techblog.md
  blog/zh/blog/2021/10/13/celebrating-300-contributors-of-apisix.md
  blog/zh/blog/2021/10/14/weekly-report-1014.md
  blog/zh/blog/2021/10/18/meetup.md
  blog/zh/blog/2021/10/22/cert-manager-in-ingress.md
  blog/zh/blog/2021/10/26/APISIX-Ingress.md
  blog/zh/blog/2021/10/29/Extension-guide.md
  blog/zh/blog/2021/11/02/weekly-report-1031.md
  blog/zh/blog/2021/11/03/airwallex-usercase.md
  blog/zh/blog/2021/11/04/skywalking.md
  blog/zh/blog/2021/11/12/apisix-datadog.md
  blog/zh/blog/2021/11/16/weekly-report-1114.md
  blog/zh/blog/2021/11/17/dapr-with-apisix.md
  blog/zh/blog/2021/11/19/apisix-supports-wasm.md
  blog/zh/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  blog/zh/blog/2021/11/23/cve-2021-43557-research-report.md
  blog/zh/blog/2021/11/23/cve-2021-43557.md
  blog/zh/blog/2021/11/26/apache-apisix-committer-experience.md
  blog/zh/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
Labels: none

docs: update blog
  blog/en/blog/2022/02/10/splunk-apisix-integration.md
  blog/en/blog/2022/02/11/cve-2022-24112.md
  blog/en/blog/2022/02/16/file-logger-api-gateway.md
  blog/en/blog/2022/02/17/weekly-report-0214.md
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/02/23/csrf-api-gateway.md
  blog/en/blog/2022/02/25/consul-api-gateway.md
  blog/en/blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
  blog/zh/blog/2022/02/10/splunk-apisix-integration.md
  blog/zh/blog/2022/02/11/cve-2022-24112.md
  blog/zh/blog/2022/02/16/file-logger-api-gateway.md
  blog/zh/blog/2022/02/17/weekly-report-0214.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/02/23/csrf-api-gateway.md
  blog/zh/blog/2022/02/25/consul-api-gateway.md
  blog/zh/blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
Labels: none

docs: Add APISIX Ingress v1.5 release blog
  blog/en/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
  blog/zh/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
Labels: none

fix Lint comments
  blog/en/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
  blog/zh/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
Labels: none

fix: `enter` cause redirect to 404
  blog/src/theme/SearchBar/index.js
  doc/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/index.js
Labels: pages

perf: optimize scripts (#1269)
  .github/workflows/link-check.yml
  package.json
  scripts/generate-picked-posts-info.mjs
  scripts/generate-repos-info.js
  scripts/package.json
  yarn.lock
Labels: repo, scripts

fix: `enter` cause redirect to 404 (#1271)
  blog/src/theme/SearchBar/index.js
  doc/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/index.js
Labels: pages

update details
  blog/zh/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
Labels: none

update comments
  blog/en/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
  blog/zh/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
Labels: none

docs: update 2022-2/4/7 blog's desc/keywords/tags
  blog/en/blog/2022/03/01/apisix-integration-public-api-plugin.md
  blog/en/blog/2022/03/02/apisix-integration-graphql.md
  blog/en/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  blog/en/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/en/blog/2022/03/03/weekly-report-0228.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  blog/en/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/en/blog/2022/03/24/weekly-report-0314.md
  blog/en/blog/2022/03/28/release-apache-apisix-2.13.md
  blog/en/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/en/blog/2022/07/04/apisix-integrates-with-hydra.md
  blog/en/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  blog/en/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/en/blog/2022/07/07/weekly-report-0630.md
  blog/en/blog/2022/07/21/weekly-report-0715.md
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
  blog/zh/blog/2022/03/01/apisix-integration-public-api-plugin.md
  blog/zh/blog/2022/03/02/apisix-integration-graphql.md
  blog/zh/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  blog/zh/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/zh/blog/2022/03/03/weekly-report-0228.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/zh/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  blog/zh/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  blog/zh/blog/2022/03/24/weekly-report-0314.md
  blog/zh/blog/2022/03/28/release-apache-apisix-2.13.md
  blog/zh/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/zh/blog/2022/04/20/cve-2022-29266.md
  blog/zh/blog/2022/07/04/apisix-integrates-with-hydra.md
  blog/zh/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  blog/zh/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  blog/zh/blog/2022/07/07/weekly-report-0630.md
  blog/zh/blog/2022/07/21/weekly-report-0715.md
Labels: none

docs: update desc
  blog/en/blog/2022/07/21/weekly-report-0715.md
Labels: none

docs: update desc
  blog/en/blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  blog/zh/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  blog/zh/blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  blog/zh/blog/2021/12/13/monitor-apisix-ingress-controller-with-prometheus.md
  blog/zh/blog/2021/12/16/apisix-with-rocketmq-meetup.md
  blog/zh/blog/2021/12/22/google-logging.md
  blog/zh/blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
Labels: none

docs: update desc
  blog/en/blog/2022/03/01/apisix-integration-public-api-plugin.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
Labels: none

docs: Add APISIX Ingress v1.5 release blog (#1270)
  blog/en/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
  blog/zh/blog/2022/08/05/apisix-ingress-1.5rc1-release.md
Labels: none

refactor: reduce styles
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
  website/src/css/help.scss
  website/src/css/hero.scss
  website/src/css/landing-sections/architecture.scss
  website/src/css/landing-sections/benefits.scss
  website/src/css/landing-sections/endcta.module.scss
  website/src/css/landing-sections/features.module.scss
  website/src/css/landing-sections/home-events.module.scss
  website/src/css/landing-sections/os-promo.module.scss
  website/src/css/pluginhub.scss
  website/src/css/rc-image.scss
  website/src/css/showcase.scss
Labels: pages

docs: update desc
  blog/en/blog/2022/03/24/weekly-report-0314.md
  blog/zh/blog/2022/03/28/release-apache-apisix-2.13.md
  blog/zh/blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: none

docs: update desc
  blog/en/blog/2022/02/17/weekly-report-0214.md
  blog/en/blog/2022/02/25/consul-api-gateway.md
  blog/zh/blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  blog/zh/blog/2021/12/24/apisix-integrate-openwhisk-plugin.md
  blog/zh/blog/2022/02/25/consul-api-gateway.md
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
