Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Adding November Global Community Meeting sign up link (#1397)
  .htaccess
Labels: repo

blog: Add Geo-routing with Apache APISIX post (#1394)
  blog/en/blog/2022/11/09/georouting-apisix.md
Labels: none

feat: release APISIX Go Plugin Runner 0.5.0
  config/docs.js
  config/downloads.js
Labels: none

Update events.md
  website/docs/general/events.md
Labels: docs-general

docs: Added cover image for blog (#1395)
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/en/blog/2022/09/13/why-is-apache-apisix-the-best-api-gateway.md
Labels: none

docs: update events.md (#1402)
  website/docs/general/events.md
Labels: docs-general

feat: release APISIX Go Plugin Runner 0.5.0 (#1401)
  config/docs.js
  config/downloads.js
Labels: none

feat: release apisix-java-plugin-runner
  config/docs.js
  config/downloads.js
Labels: none

feat: release apisix-java-plugin-runner (#1403)
  config/docs.js
  config/downloads.js
Labels: none

docs: Added cover image for Google Tau T2A blog
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

docs: Added cover image for Test Cases blog
  blog/en/blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: none

docs: add Service discovery bolg
  blog/zh/blog/2022/11/10/what-is-service-in-microservice-found.md
Labels: none

update file name
  blog/zh/blog/2022/11/10/what-is-service-in-microservice-discovery.md
Labels: none

update Lint comments
  blog/zh/blog/2022/11/10/what-is-service-in-microservice-discovery.md
Labels: none

update comments
  blog/zh/blog/2022/11/10/what-is-service-in-microservice-discovery.md
Labels: none

fix: link behavior
  doc/src/theme/DocPage/index.tsx
  package.json
Labels: repo

docs: Added cover image for blog (#1404)
  blog/en/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  blog/en/blog/2022/07/22/how-is-google-cloud-tau-t2a-performing.md
Labels: none

fix: link behavior (#1406)
  doc/src/theme/DocPage/index.tsx
  package.json
Labels: repo

chore: expire apisix 3.0 preview poster
  config/event-poster-card.json
Labels: none

chore: expire apisix 3.0 preview poster (#1407)
  config/event-poster-card.json
Labels: none

update comments
  blog/zh/blog/2022/11/10/what-is-service-in-microservice-discovery.md
Labels: none

docs: add Service discovery blog (#1405)
  blog/zh/blog/2022/11/10/what-is-service-in-microservice-discovery.md
Labels: none

fix: update CDN address
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2022/09/28/rust-loves-apisix.md
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

fix: lint
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

fix: update CDN address (#1409)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2022/09/28/rust-loves-apisix.md
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

add an event poster-1119
  config/event-poster-card.json
Labels: none

feat: add an event poster (#1410)
  config/event-poster-card.json
Labels: none

feat: release 2.15.1
  config/downloads.js
Labels: none

feat: release 2.15.1 (#1412)
  config/downloads.js
Labels: none

docs: add Tencent Blueking blog
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
Labels: none

refactor: event poster card
  config/event-poster-card.json
  website/src/components/EventPosterCard.tsx
  website/src/components/event-poster-card-schema.json
Labels: pages

refactor: event poster card (#1414)
  config/event-poster-card.json
  website/src/components/EventPosterCard.tsx
  website/src/components/event-poster-card-schema.json
Labels: pages

docs: add vivo usercase blog
  blog/zh/blog/2022/11/13/vivo-with-apache-apisix.md
Labels: none

docs: add vivo usercase blog
  blog/zh/blog/2022/11/13/vivo-with-apache-apisix.md
Labels: none

blog: Add A poor man API post
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

docs: Added cover image for the ClickHouse blog
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

docs: Added cover image for DataAnt blog
  blog/en/blog/2022/07/05/use-dataant-to-monitor-apisix.md
Labels: none

Update according to review suggestion
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

docs: Added cover image for blog (#1417)
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/07/05/use-dataant-to-monitor-apisix.md
Labels: none

refactor: adjust link style
  blog/src/theme/BlogTagsPostsPage/index.tsx
  blog/src/theme/BlogTagsPostsPage/style.module.scss
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
