Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

docs:add why do you need apache apisix when using amazon lambda
  blog/zh/blog/2022/11/04/why-do-you-need-apache-apisix-when-using-amazon-lambda.md
Labels: none

docs:Add How to scale application elastically in Kubernetes
  blog/zh/blog/2023/02/21/how-to-scale-application-elastically-in-kubernetes.md
Labels: none

add author info
  blog/zh/blog/2023/02/21/how-to-scale-application-elastically-in-kubernetes.md
Labels: none

docs:add what is RESTful API blog (#1502)
  blog/zh/blog/2023/02/08/what-is-restful-api.md
Labels: none

chore: add @Gallardot to Team page
  config/team.js
Labels: none

chore: add @Gallardot to Team page (#1512)
  config/team.js
Labels: none

feat: update Slack invitation link
  .htaccess
Labels: repo

feat: update Slack invitation link (#1513)
  .htaccess
Labels: repo

docs: add info about community meeting
  website/docs/general/events.md
Labels: docs-general

docs: add info about community meeting (#1514)
  website/docs/general/events.md
Labels: docs-general

Update blog/en/blog/2023/02/23/right-feature-right-place.md
  blog/en/blog/2023/02/23/right-feature-right-place.md
Labels: none

docs:add weekly report 20230301
  blog/zh/blog/2023/02/02/weekly-report-0202.md
  blog/zh/blog/2023/03/01/weekly-report-0301.md
Labels: none

docs:add how to prevent sensitive data from leaking
  blog/zh/blog/2023/02/23/how-to-prevent-sensitive-data-from-leaking.md
Labels: none

Create weekly-report-0226.md
  blog/en/blog/2023/03/02/weekly-report-0226.md
Labels: none

blog: Add Authenticate with OpenID Connect and Apache APISIX post
  blog/en/blog/2023/03/09/authenticate-openid-connect.md
Labels: none

blog: Add The right feature at the right place post (#1508)
  blog/en/blog/2023/02/23/right-feature-right-place.md
Labels: none

Replace // by # in Rego file as per review
  blog/en/blog/2023/03/02/security-policy-auditable.md
Labels: none

blog: Add Make your security policy auditable post (#1509)
  blog/en/blog/2023/03/02/security-policy-auditable.md
Labels: none

Create weekly-report-0226.md (#1517)
  blog/en/blog/2023/03/02/weekly-report-0226.md
Labels: none

blog(weekly-report-0226.md): fix syntax
  blog/en/blog/2023/03/02/weekly-report-0226.md
Labels: none

blog(weekly-report-0226.md): fix syntax (#1519)
  blog/en/blog/2023/03/02/weekly-report-0226.md
Labels: none

feat: release APISIX 3.2.0
  config/docs.js
  config/downloads.js
Labels: none

chore: release apisix version 3.2 docs
  config/apisix-versions.js
Labels: none

feat: release APISIX 3.2.0 (#1520)
  config/docs.js
  config/downloads.js
Labels: none

chore: release apisix version 3.2 docs (#1521)
  config/apisix-versions.js
Labels: none

docs:add weekly report 20230301 (#1515)
  blog/zh/blog/2023/02/02/weekly-report-0202.md
  blog/zh/blog/2023/03/01/weekly-report-0301.md
Labels: none

docs:add apache apisix 3.2 release blog
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

docs:add blog API Gateway vs Load Balancer
  blog/zh/blog/2023/03/03/api-gateway-vs-load-balancer.md
Labels: none

docs:add blog Transforming Logs for Ingestion into Your Observability Stack
  blog/zh/blog/2023/02/28/transforming-logs-for-ingestion-into-your-observability-stack.md
Labels: none

fix: Multipe
  blog/zh/blog/2023/02/28/transforming-logs-for-ingestion-into-your-observability-stack.md
Labels: none

docs:add the mystery of prometheus plugins and long tail requests
  blog/zh/blog/2023/03/06/the-mystery-of-prometheus-plugins-and-long-tail-requests.md
Labels: none

docs:add blog Why Do Microservices Need an API Gateway
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
Labels: none

docs: add Apache APISIX 3.2 Release blog
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

fix: json code style
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

fix: typo
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

fix: typo
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

Create release-apache-apisix-3.2.0.md
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
Labels: none

fix: typo
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

Update blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
Labels: none

fix: typo
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none
