Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

docs: fix typo
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

docs: fix typo
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

fix: sticky style, generate picked posts script
  blog/src/css/customTheme.scss
  doc/src/css/customTheme.scss
  scripts/generate-picked-posts-info.mjs
  website/src/css/customTheme.scss
Labels: pages, scripts

fix: sticky style, generate picked posts script (#1305)
  blog/src/css/customTheme.scss
  doc/src/css/customTheme.scss
  scripts/generate-picked-posts-info.mjs
  website/src/css/customTheme.scss
Labels: pages, scripts

docs: fix error link (#1302)
  website/docs/general/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

update with code review fixes
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

Revert "fix extra trails"
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

docs: update featured article
  blog/en/config/picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

docs: update comment
  blog/en/config/picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

docs: update comment
  blog/en/config/picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

docs: update featured article
  blog/en/config/picked-posts.json
Labels: none

docs: update comment
  blog/src/theme/BlogPosts/index.tsx
Labels: none

docs: update comment
  blog/en/config/picked-posts.json
  blog/src/theme/BlogPosts/index.tsx
  blog/zh/config/picked-posts.json
Labels: none

Update blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

Update blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

docs: update featured article list (#1301)
  blog/en/config/picked-posts.json
  blog/src/theme/BlogPosts/index.tsx
  blog/zh/config/picked-posts.json
Labels: none

doc: Add new blog post about FIT with API Gateway (#1304)
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

refactor: rm shuffle picked posts from second blog list page
  blog/package.json
  blog/src/theme/BlogPosts/index.tsx
  yarn.lock
Labels: repo

fix: front matter lint
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

refactor: rm shuffle picked posts from second blog list page (#1306)
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
  blog/package.json
  blog/src/theme/BlogPosts/index.tsx
  yarn.lock
Labels: repo

feat: markdown lint
  .remarkrc.mjs
  blog/creative-work.schema.yaml
  package.json
  yarn.lock
Labels: repo

feat: markdown lint (#1307)
  .remarkrc.mjs
  blog/creative-work.schema.yaml
  package.json
  yarn.lock
Labels: repo

docs: update links and content.
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/zh/blog/2021/06/03/experience-share-from-Apache-APISIX-committer.md
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  blog/zh/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/zh/blog/2021/08/11/interview-TuZhengsong.md
  blog/zh/blog/2021/08/23/ApacheCon-Asia-2021.md
  blog/zh/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/zh/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
  website/articles/Apache-APISIX-From-OpenSource-Commercialization-by-Apache-Way.md
  website/articles/Apache-APISIX-From-OpenSource-Commercialization.md
  website/articles/Apache-APISIX-Incubator-Journey.md
  website/articles/The-Appeal-of-OpenSource.md
Labels: blog

Update Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/en/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
Labels: none

docs: update links and content. (#1309)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/zh/blog/2021/06/03/experience-share-from-Apache-APISIX-committer.md
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  blog/zh/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/zh/blog/2021/08/11/interview-TuZhengsong.md
  blog/zh/blog/2021/08/23/ApacheCon-Asia-2021.md
  blog/zh/blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  blog/zh/blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
  website/articles/Apache-APISIX-From-OpenSource-Commercialization-by-Apache-Way.md
  website/articles/Apache-APISIX-From-OpenSource-Commercialization.md
  website/articles/Apache-APISIX-Incubator-Journey.md
  website/articles/The-Appeal-of-OpenSource.md
Labels: blog

Update fault-injection-testing-with-api-gateway.md
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

docs: update fault-injection-testing-with-api-gateway.md (#1311)
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

docs: add new blog post on using APISIX Ingress controller
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

docs: update gitpod upstream
  blog/en/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/zh/blog/2022/03/03/develop-apisix-with-gitpod.md
Labels: none

docs: update gitpod upstream
  blog/zh/blog/2022/03/03/develop-apisix-with-gitpod.md
Labels: none

docs: update blog
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

Update why-we-need-Apache-APISIX.md
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

Update why-we-need-Apache-APISIX.md
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

docs: update gitpod's blog. (#1313)
  blog/en/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/zh/blog/2022/03/03/develop-apisix-with-gitpod.md
Labels: none

apply suggestions from review
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

Update blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

Update blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

Update blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

fix canonical url
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none

Update blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
  blog/en/blog/2022/09/09/kubernetes-ingress-with-apisix.md
Labels: none
