Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

Revert "chore: add test-deploy logic"
  .github/workflows/deploy.yml
Labels: none

chore: show failed logs in ci (#1968)
  .github/workflows/deploy.yml
  scripts/generate-website.js
Labels: scripts

Add preview staging
  .asf.yaml
Labels: repo

Lint police
  .asf.yaml
Labels: repo

update
  blog/en/blog/2025/10/31/2025-oct-monthly-report.md
  blog/zh/blog/2025/10/31/2025-oct-monthly-report.md
Labels: none

update
  blog/en/blog/2025/10/31/2025-oct-monthly-report.md
  blog/zh/blog/2025/10/31/2025-oct-monthly-report.md
Labels: none

fix images
  blog/en/blog/2025/10/31/2025-oct-monthly-report.md
  blog/zh/blog/2025/10/31/2025-oct-monthly-report.md
Labels: none

blog: add cve-2025-62232 post
  blog/en/blog/2025/10/31/cve-2025-62232.md
  blog/zh/blog/2025/10/31/cve-2025-62232.md
Labels: none

update image
  blog/en/blog/2025/10/31/cve-2025-62232.md
  blog/zh/blog/2025/10/31/cve-2025-62232.md
Labels: none

Apply suggestion from @kayx23
  blog/en/blog/2025/10/31/cve-2025-62232.md
Labels: none

Apply suggestion from @kayx23
  blog/en/blog/2025/10/31/cve-2025-62232.md
Labels: none

Update CVE-2025-62232 documentation in Chinese
  blog/zh/blog/2025/10/31/cve-2025-62232.md
Labels: none

blog: add 2025 oct monthly report (#1970)
  blog/en/blog/2025/10/31/2025-oct-monthly-report.md
  blog/zh/blog/2025/10/31/2025-oct-monthly-report.md
Labels: none

Update blog/en/blog/2025/10/31/cve-2025-62232.md
  blog/en/blog/2025/10/31/cve-2025-62232.md
Labels: none

Update blog/en/blog/2025/10/31/cve-2025-62232.md
  blog/en/blog/2025/10/31/cve-2025-62232.md
Labels: none

Update blog/en/blog/2025/10/31/cve-2025-62232.md
  blog/en/blog/2025/10/31/cve-2025-62232.md
Labels: none

Add preview staging (#1969)
  .asf.yaml
Labels: repo

blog: add cve-2025-62232 post (#1971)
  blog/en/blog/2025/10/31/cve-2025-62232.md
  blog/zh/blog/2025/10/31/cve-2025-62232.md
Labels: none

Update wording in ingress-apisix.md example section
  blog/zh/blog/2023/10/18/ingress-apisix.md
Labels: none

update
  blog/en/blog/2025/11/2025-nov-monthly-report.md
  blog/zh/blog/2025/10/31/2025-oct-monthly-report.md
  blog/zh/blog/2025/11/2025-nov-monthly-report.md
Labels: none

fix
  blog/en/blog/2025/11/30/2025-nov-monthly-report.md
  blog/zh/blog/2025/11/30/2025-nov-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2025/11/30/2025-nov-monthly-report.md
Labels: none

blog: add 2025 November monthly report (#1975)
  blog/en/blog/2025/11/30/2025-nov-monthly-report.md
  blog/zh/blog/2025/10/31/2025-oct-monthly-report.md
  blog/zh/blog/2025/11/30/2025-nov-monthly-report.md
Labels: none

fix: added proper redirection to ingress-controller docs
  config/docs.js
  config/downloads.js
Labels: none

fix: correct typo in ingress-apisix.md example section (#1973)
  blog/zh/blog/2023/10/18/ingress-apisix.md
Labels: none

fix: toggle theme switch appearing on the website pages
  website/src/css/customTheme.scss
  website/src/pages/index.tsx
Labels: pages

Update config/docs.js
  config/docs.js
Labels: none

Update config/downloads.js
  config/downloads.js
Labels: none

fix: added proper redirection to ingress-controller docs (#1976)
  config/docs.js
  config/downloads.js
Labels: none

update
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix comments
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix comments
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

update to editor's pick
  blog/en/config/picked-posts.json
  blog/zh/config/picked-posts.json
Labels: none

Update title & tag
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

blog: add apisix ingress controller 2.0 release blog (#1979)
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/en/config/picked-posts.json
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/config/picked-posts.json
Labels: none

fix(docs/blog): inline image width syntax
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

fix
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none
