Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

fix: more explicit type declaration, and only one event assignment
  website/src/components/UI/Affix.tsx
  website/src/utils/index.ts
Labels: pages

fix: Missing css data transformation
  website/src/components/UI/Affix.tsx
Labels: pages

style: Rearrange the use of `useEffect`, encapsulate `useMount` into hooks
  website/src/components/UI/Affix.tsx
  website/src/hooks/useMount.ts
  website/src/utils/index.ts
Labels: pages

fix: The `styleUnit2Number` function received may not have any numbers
  website/src/utils/index.ts
Labels: pages

feat: release APISIX 2.14.0
  website/config/docs.js
  website/config/downloads.js
Labels: pages

feat: release APISIX 2.14.0 (#1116)
  website/config/docs.js
  website/config/downloads.js
Labels: pages

fix: disable deploy when merged
  .github/workflows/deploy.yml
Labels: none

feat: image zoom
  website/package.json
  website/src/css/customTheme.css
  website/src/theme/DocPage/index.tsx
  yarn.lock
Labels: repo, pages

docs: update doc style guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

docs: update doc style guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

docs: update doc style guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

chore(gitignore)： stylelint cache
  .gitignore
Labels: repo

fix(customTheme.css): color function
  website/src/css/customTheme.css
  website/src/theme/DocPage/index.tsx
Labels: pages

feat: blog support image zoom
  website/src/theme/BlogPostPage/index.tsx
  website/src/theme/DocPage/index.tsx
Labels: pages

fix: remove unnecessary comments
  website/src/css/customTheme.css
Labels: pages

fix: remove unnecessary console
  website/src/theme/BlogPostPage/index.tsx
Labels: pages

docs: update doc style guide
  website/docs/general/documentation-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

feat: image zoom (#1118)
  .gitignore
  website/package.json
  website/src/css/customTheme.css
  website/src/theme/BlogPostPage/index.tsx
  website/src/theme/DocPage/index.tsx
  yarn.lock
Labels: repo, pages

docs: update doc style guide (#1105)
  website/docs/general/documentation-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
  website/i18n/zh/docusaurus-theme-classic/footer.json
Labels: docs-general

chore: release apisix 2.14 docs
  website/config/apisix-versions.js
Labels: pages

chore: release apisix 2.14 docs (#1119)
  website/config/apisix-versions.js
Labels: pages

docs: update terminology links (#1075)
  website/blog/2021/09/29/release-apache-apisix-2.10.md
  website/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/29/release-apache-apisix-2.10.md
Labels: blog

feat: upgrade APISIX to 2.14.1
  website/config/docs.js
  website/config/downloads.js
Labels: pages

docs: fix dead link
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

docs: format links in markdown file
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

docs: fix dead link in contributor guide
  website/docs/general/contributor-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/contributor-guide.md
Labels: docs-general

feat: upgrade APISIX to 2.14.1 (#1120)
  website/config/docs.js
  website/config/downloads.js
Labels: pages

feat: disable language detection
  website/src/clientModules/lang-redirect.js
Labels: pages

feat: disable language detection (#1124)
  website/src/clientModules/lang-redirect.js
Labels: pages

chore: force users to use default language
  website/src/clientModules/lang-redirect.js
Labels: pages

chore: force users to use default language (#1125)
  website/src/clientModules/lang-redirect.js
Labels: pages

docs: fix dead link in doc style guide (#1122)
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

fix: Modify the keyword "reason" -> "recommend reason"
  website/docs/ide-config.md
Labels: none

docs: add Vscode recommendations
  README.md
  website/docs/ide-config.md
Labels: repo

docs: VS Code setting docs error
  README.md
  website/docs/ide-config.md
Labels: repo

docs: Description of the IDE adjustment configuration
  README.md
  website/docs/ide-config.md
Labels: repo

feat: add default VS Code setting
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: repo

docs: plug-in 2 plugin
  README.md
Labels: repo

docs: add canonical link for cross-posted blogs
  website/blog/2021/11/17/dapr-with-apisix.md
  website/blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/17/dapr-with-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/10/integrate-keycloak-auth-in-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
Labels: blog

docs: format and update links (#1123)
  website/docs/general/contributor-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/contributor-guide.md
Labels: docs-general

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
