Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

update comments
  website/blog/2022/06/07/apisix-on-graviton3-performance.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/apisix-on-graviton3-performance.md
Labels: blog

docs: update blog title (#1137)
  website/blog/2021/08/19/go-makes-Apache-APISIX-better.md
Labels: blog

docs: add APISIX on AWS Graviton3 blog (#1140)
  website/blog/2022/06/07/apisix-on-graviton3-performance.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/apisix-on-graviton3-performance.md
  website/src/pages/docs.tsx
Labels: blog, pages

docs: update too long blog title
  website/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  website/blog/2021/09/30/weekly-report.md
  website/blog/2021/10/14/weekly-report-1014.md
  website/blog/2021/12/13/monitor-apisix-ingress-controller-with-prometheus.md
  website/blog/2021/12/20/weekly-report-1215.md
  website/blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
  website/blog/2022/03/05/apisix-integration-eureka-service-discovery.md
  website/blog/2022/04/20/weekly-report-0420.md
  website/blog/2022/05/10/weekly-report-0510.md
  website/blog/2022/05/19/weekly-report-0519.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/18/Auth-with-Casbin-in-Apache-APISIX.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/23/weekly-report.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/07/how-to-use-apisix-auth.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/13/china-mobile-cloud-usercase.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/15/weekly-report.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/10/22/cert-manager-in-ingress.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/02/weekly-report-1031.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/23/cve-2021-43557-research-report.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/17/apisix-kafka-integration.md
Labels: blog

add other contents
  website/blog/2021/05/25/Apache APISIX 2.6.0-Release.md
  website/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  website/blog/2021/11/22/develop-apisix-ingress-with-nocalhost-in-kubernetes.md
  website/blog/2021/11/23/cve-2021-43557-research-report.md
  website/blog/2021/12/22/google-logging.md
  website/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  website/blog/2022/03/02/apisix-integration-graphql-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/30/Ingress-Meeting.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/30/weekly-report.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/16/tencent-cloud.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/30/weekly-report.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/01/release-apache-apisix-2.11.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/02/weekly-report-1130.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/03/develop-apisix-with-gitpod.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/04/12/apisix-summit-asia-2022.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/31/release-apache-apisix-2.14.md
Labels: blog

add 100-150 content
  website/blog/2021/05/24/Tencent-Games.md
  website/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  website/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  website/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  website/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  website/blog/2021/08/30/weekly-report.md
  website/blog/2021/09/15/weekly-report.md
  website/blog/2021/09/24/youpaicloud-usercase.md
  website/blog/2021/11/03/airwallex-usercase.md
  website/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
  website/blog/2022/01/24/apisix-with-qingcloud-meetup.md
  website/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  website/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  website/blog/2022/04/17/api-observability.md
  website/blog/2022/04/22/apisix-with-tidb-practice.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/07/21/Apache-APISIX-Kubernetes.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/07/28/release-apache-apisix-2.8.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/21/shanghai-meetup.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/27/release-apache-apisix-2.9.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/14/youzan.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/30/use-apisix-ingress-in-kubesphere.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/24/open-policy-agent.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/25/apisix-grpc-web-integration.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/01/apisix-integration-public-api-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/02/zhongan-usercase-with-apache-apisix.md
Labels: blog

docs: update AWS Graviton3 Blog URL and details
  website/blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
Labels: blog

docs: update AWS Graviton3 Blog URL and details (#1142)
  website/blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
Labels: blog

update comments
  website/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
Labels: blog

chore: remove unnecessary dep
  yarn.lock
Labels: repo

fix: revert .gitignore file
  .gitignore
Labels: repo

feat: replace video channel block in zh page
  website/i18n/zh/code.json
  website/src/components/sections/OpensourcePromo.tsx
Labels: pages

chore(zh/code.json): add period
  website/i18n/zh/code.json
Labels: none

feat: replace native tag with videojs
  website/package.json
  website/src/components/Video.tsx
  website/src/components/sections/OpensourcePromo.tsx
  yarn.lock
Labels: repo, pages

chore: remove useless deps
  website/package.json
  website/src/components/sections/OpensourcePromo.tsx
  yarn.lock
Labels: repo, pages

fix: videojs config
  .eslintrc.js
  website/src/components/Video.tsx
  website/src/components/sections/OpensourcePromo.tsx
Labels: repo, pages

chore: ignore scripts temp
  .gitignore
Labels: repo

fix: video size
  website/src/components/sections/OpensourcePromo.tsx
Labels: pages

chore: remove useless dep
  website/package.json
  yarn.lock
Labels: repo

chore: remove useless code
  website/src/components/Video.tsx
Labels: pages

fix: open source promo block (#1146)
  .eslintrc.js
  .gitignore
  website/i18n/zh/code.json
  website/package.json
  website/src/components/Video.tsx
  website/src/components/sections/OpensourcePromo.tsx
  yarn.lock
Labels: repo, pages

update comments
  website/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  website/blog/2021/05/24/Tencent-Games.md
  website/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  website/blog/2021/08/30/weekly-report.md
  website/blog/2021/09/15/weekly-report.md
  website/blog/2021/09/24/youpaicloud-usercase.md
  website/blog/2021/09/30/weekly-report.md
  website/blog/2021/10/14/weekly-report-1014.md
  website/blog/2021/11/03/airwallex-usercase.md
  website/blog/2021/12/20/weekly-report-1215.md
  website/blog/2022/04/20/weekly-report-0420.md
  website/blog/2022/05/10/weekly-report-0510.md
  website/blog/2022/05/19/weekly-report-0519.md
Labels: blog

feat: remove canvas & add schema
  website/config/ssrTemplate.js
  website/package.json
  website/src/components/HeroCanvas.tsx
  website/src/components/OssCanvas.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
  yarn.lock
Labels: repo, pages

fix: revert .gitignore file (#1145)
  .gitignore
Labels: repo

chore: fix gitignore
  .gitignore
Labels: repo

chore: remove useless redirect
  website/docusaurus.config.js
Labels: none

fix: video poster and style
  website/src/assets/images/apisix-video-poster.jpg
  website/src/components/Video.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
Labels: pages

chore: replace image import with github url
  website/src/components/sections/OpensourcePromo.tsx
Labels: pages

chore: disable deploy to netlify github action
  .github/workflows/deploy.yml
Labels: none

fix: video poster and style (#1149)
  .gitignore
  website/docusaurus.config.js
  website/src/assets/images/apisix-video-poster.jpg
  website/src/components/Video.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
Labels: repo, pages

chore: disable deploy to netlify github action (#1150)
  .github/workflows/deploy.yml
Labels: none

docs: add 4 blog of APISIX Summit
  website/blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

update Lint comments
  website/blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

update details
  website/blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
Labels: blog

update authors details
  website/blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-and-maintenance-platform.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/canary-release-along-the-whole-life-cycle.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

update title details
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/blog/2022/06/14/implementation-canary-release-base-apche-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/implementation-canary-release-base-apche-apisix.md
Labels: blog

fix: blog switch logic
  website/config/navbar.js
  website/docusaurus.config.js
  website/src/clientModules/amend-lang-switch.js
  website/src/clientModules/lang-redirect.js
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
Labels: pages

fix: blog button switch
  website/config/navbar.js
  website/docusaurus.config.js
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

update letter
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

chore: change blog label
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
