Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: rm lts unmaintained banner (#1350)
  doc/docusaurus.config.js
Labels: none

feat: full width version dropdown items
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: none

docs: improve dapr with apisix
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/zh/blog/2021/11/17/dapr-with-apisix.md
Labels: none

docs: Add Rewriting the Apache APISIX response-rewrite plugin in Rust post
  blog/en/blog/2022/10/05/rust-apisix.md
Labels: none

fix: update image
  blog/en/blog/2021/11/17/dapr-with-apisix.md
Labels: none

fix: lint code
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/zh/blog/2021/11/17/dapr-with-apisix.md
Labels: none

docs: optimize “dapr with apisix” document (#1353)
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/zh/blog/2021/11/17/dapr-with-apisix.md
Labels: none

fix: blog, landing style
  blog/src/theme/BlogPosts/style.module.scss
  website/src/components/Video.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/landing-sections/video.scss
Labels: pages

fix: video btn style
  website/src/components/Video.tsx
  website/src/css/landing-sections/video.css
  website/src/css/landing-sections/video.scss
Labels: pages

feat: add xxx:build:preview:serve commands
  package.json
  website/src/css/landing-sections/video.css
Labels: repo, pages

fix: blog, landing style (#1355)
  blog/src/theme/BlogPosts/style.module.scss
  package.json
  website/src/components/Video.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/landing-sections/video.css
Labels: repo, pages

docs: Added cover images for Rust blog
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

docs: Added cover image for NGINX/Kong blog
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

docs: Added cover image for WASM blog
  blog/en/blog/2021/11/19/apisix-supports-wasm.md
Labels: none

docs: Added cover images for blogs (#1356)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2021/11/19/apisix-supports-wasm.md
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

docs: Add Rewriting the Apache APISIX response-rewrite plugin in Rust post (#1352)
  blog/en/blog/2022/10/05/rust-apisix.md
Labels: none

fix: improve visibility of the **Blog** page (#1308)
  blog/src/css/customTheme.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: enable dark mode switch in **Blog** page
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
Labels: none

feat: add padding for localized blog link in Navbar
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  blog/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  doc/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  doc/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
Labels: pages

feat: optimize colors in dark mode
  blog/src/css/customTheme.scss
  blog/src/theme/BlogLayout/style.module.scss
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

fix: TagsHeader's incorrect background
  blog/src/theme/BlogLayout/style.module.scss
Labels: none

docs: update oracle arm performance data
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

update link
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

fix lint
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

update the event page with new events
  website/docs/general/events.md
Labels: docs-general

move the "Meetups" section to the top
  website/docs/general/events.md
Labels: docs-general

docs: update the event page with new events (#1361)
  website/docs/general/events.md
Labels: docs-general

refactor: use filter instead of opacity
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: hover style for secondary headers
  blog/src/theme/BlogLayout/style.module.scss
Labels: none

feat: make covers a bit darker
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: darker avatars
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: lighter links in secondary header
  blog/src/theme/BlogLayout/style.module.scss
Labels: none

update doc
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

fix: harsh border when switching
  blog/src/theme/BlogLayout/style.module.scss
Labels: none

docs: add Huanbei with APISIX usercase blog
  blog/zh/blog/2022/09/30/huanbei-in-apache-apisix.md
Labels: none

update Lint comments
  blog/zh/blog/2022/09/30/huanbei-in-apache-apisix.md
Labels: none

docs: add weekly report 10.1-10.15
  blog/zh/blog/2022/10/18/weekly-report-0731.md
Labels: none

fix comment
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

update comments
  blog/zh/blog/2022/09/30/huanbei-in-apache-apisix.md
Labels: none

fix lint
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none
