Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: typo
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

Update blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
Labels: none

Update blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
Labels: none

Update blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
Labels: none

docs: add release Apache APISIX 3.2.0 article (#1527)
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
Labels: none

docs: Add Apache APISIX 3.2 release blog (#1526)
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

blog: Add gRPC on the client side post
  blog/en/blog/2023/03/16/grpc-client-side.md
Labels: none

upgrade remaining topics
  blog/zh/blog/2022/11/04/why-do-you-need-apache-apisix-when-using-amazon-lambda.md
Labels: none

upgrade author info
  blog/zh/blog/2022/11/04/why-do-you-need-apache-apisix-when-using-amazon-lambda.md
Labels: none

docs: add weekly report 20230316 blog
  blog/zh/blog/2023/03/16/weekly-report-0216.md
Labels: none

add PRtitle
  blog/zh/blog/2023/03/16/weekly-report-0216.md
Labels: none

docs: add why do you need apache apisix when using amazon lambda (#1510)
  blog/zh/blog/2022/11/04/why-do-you-need-apache-apisix-when-using-amazon-lambda.md
Labels: none

fix: a pr links
  blog/zh/blog/2023/03/16/weekly-report-0216.md
Labels: none

docs: add weekly report 20230316 blog (#1529)
  blog/zh/blog/2023/03/16/weekly-report-0216.md
Labels: none

docs:add blog Why Do Microservices Need an API Gateway (#1525)
  blog/zh/blog/2023/03/08/why-do-microservices-need-an-api-gateway.md
Labels: none

docs:add the mystery of prometheus plugins and long tail requests (#1524)
  blog/zh/blog/2023/03/06/the-mystery-of-prometheus-plugins-and-long-tail-requests.md
Labels: none

docs: add blog Transforming Logs for Ingestion into Your Observability… (#1523)
  blog/zh/blog/2023/02/28/transforming-logs-for-ingestion-into-your-observability-stack.md
Labels: none

fix: author info form
  blog/zh/blog/2023/02/21/how-to-scale-application-elastically-in-kubernetes.md
Labels: none

fix: author info form
  blog/zh/blog/2023/03/03/api-gateway-vs-load-balancer.md
Labels: none

refactor: patch search pages
  blog/package.json
  blog/patches/@docusaurus+theme-search-algolia+2.0.0-beta.8.patch
  doc/package.json
  doc/patches/@docusaurus+theme-search-algolia+2.0.0-beta.6.patch
  package.json
  patches/@docusaurus+theme-search-algolia+2.0.0-beta.6.patch
  yarn.lock
Labels: repo

refactor: patch search pages (#1532)
  blog/package.json
  blog/patches/@docusaurus+theme-search-algolia+2.0.0-beta.8.patch
  doc/package.json
  doc/patches/@docusaurus+theme-search-algolia+2.0.0-beta.6.patch
  package.json
  patches/@docusaurus+theme-search-algolia+2.0.0-beta.6.patch
  yarn.lock
Labels: repo

fix: event not suport chinese
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/src/components/sections/HomeEventsSection.tsx
  website/static/data/events.zh.json
Labels: pages

docs: add how to scale application elastically in kubernetes (#1511)
  blog/zh/blog/2023/02/21/how-to-scale-application-elastically-in-kubernetes.md
Labels: none

docs: add how to prevent sensitive data from leaking (#1516)
  blog/zh/blog/2023/02/23/how-to-prevent-sensitive-data-from-leaking.md
Labels: none

docs: add blog API Gateway vs Load Balancer (#1522)
  blog/zh/blog/2023/03/03/api-gateway-vs-load-balancer.md
Labels: none

fix: blog file name from 3.1 to 3.2
  blog/zh/blog/2023/03/09/release-apache-apisix-3.2.0.md
Labels: none

fix: update 3.2 release blog file name (#1535)
  blog/zh/blog/2023/03/09/release-apache-apisix-3.2.0.md
Labels: none

Create weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Update weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Update weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Update weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Update blog/en/blog/2023/03/17/weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Update weekly-report-0312.md
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

Create weekly-report-0312.md (#1536)
  blog/en/blog/2023/03/17/weekly-report-0312.md
Labels: none

fix: event not suport chinese (#1534)
  website/docusaurus.config.js
  website/i18n/zh/code.json
  website/src/components/sections/HomeEventsSection.tsx
  website/static/data/events.zh.json
Labels: pages

docs: delete release-3.1.0
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

docs: add blog what is luajit and why does apisix luajit
  blog/zh/blog/2023/03/22/what-is-luajit-and-why-does-apisix-choose-luajit.md
Labels: none

docs: delete release-3.1.0 (#1537)
  blog/zh/blog/2023/03/09/release-apache-apisix-3.1.0.md
Labels: none

docs: add blog what is luajit and why does apisix luajit (#1538)
  blog/zh/blog/2023/03/22/what-is-luajit-and-why-does-apisix-choose-luajit.md
Labels: none

docs: add weekly report 20230330 blog
  blog/zh/blog/2023/03/16/weekly-report-0316.md
  blog/zh/blog/2023/03/30/weekly-report-0330.md
Labels: none
