Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: remove blog switch btn
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
Labels: pages

chore: remove useless comment
  website/docusaurus.config.js
Labels: none

update comments
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

chore: remove useless lang redirect
  website/docusaurus.config.js
  website/src/clientModules/lang-redirect.js
Labels: pages

docs: add 4 blog of APISIX Summit (#1151)
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

feat: disable page auto redirection to avoid not good UX (#1152)
  website/docusaurus.config.js
  website/src/clientModules/amend-lang-switch.js
  website/src/clientModules/lang-redirect.js
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.tsx
  website/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
Labels: pages

docs: update publicapi blog
  website/blog/2022/03/01/apisix-integration-public-api-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/01/apisix-integration-public-api-plugin.md
Labels: blog

docs: update Beeto&Xueqiu Blog Images
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

docs: update image link.
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
Labels: blog

docs: update Beeto&Xueqiu Blog Images (#1156)
  website/blog/2022/06/14/beeto-with-apache-apisix.md
  website/blog/2022/06/14/xueqiu-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/beeto-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/xueqiu-with-apache-apisix.md
Labels: blog

docs: use CDN to load images (#1157)
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
Labels: blog

docs: update publicapi blog (#1155)
  website/blog/2022/03/01/apisix-integration-public-api-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/03/01/apisix-integration-public-api-plugin.md
Labels: blog

docs: update too long blog title(part2)
  website/blog/2021/08/17/interview-airwallex.md
  website/blog/2021/10/01/openEuler.md
  website/blog/2021/10/22/cert-manager-in-ingress.md
  website/blog/2021/10/26/APISIX-Ingress.md
  website/blog/2021/12/30/apisix-proxy-grpc-service.md
  website/blog/2022/01/04/authing.md
  website/blog/2022/01/25/apisix-grpc-web-integration.md
  website/blog/2022/05/31/release-apache-apisix-2.14.md
  website/i18n/zh/docusaurus-plugin-content-blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/06/using-apache-apisix-to-improve-the-observability-of-nginx.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/31/Apache APISIX × KubeSphere-a-better-gateway-and-K8S-Ingress-Controller.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/10/01/openEuler.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/11/12/apisix-datadog.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/20/weekly-report-1215.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/22/google-logging.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/04/22/apisix-with-tidb-practice.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/19/weekly-report-0519.md
Labels: blog

update another contents
  website/blog/2021/06/03/firsthand-experience-with-apache-apisix-shared-by-student-participants-in-ospp-2020.md
  website/blog/2021/08/21/shanghai-meetup.md
  website/blog/2021/09/13/china-mobile-cloud-usercase.md
  website/blog/2021/09/28/WPS-usercase.md
  website/blog/2021/11/16/weekly-report-1114.md
  website/blog/2021/12/24/open-policy-agent.md
  website/blog/2022/01/17/apisix-kafka-integration.md
  website/blog/2022/01/19/weekly-report-0116.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/06/29/release-apache-apisix-2.7.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/09/Apache-APISIX-in-Quliankeji.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/10/26/APISIX-Ingress.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/12/07/apisix-integrate-skywalking-plugin.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/24/apisix-with-qingcloud-meetup.md
Labels: blog

update other contents
  website/blog/2021/08/10/apisix-nginx.md
  website/blog/2021/08/11/interview-TuZhengsong.md
  website/blog/2021/09/14/youzan.md
  website/blog/2021/12/08/apisix-integrate-rocketmq-logger-plugin.md
  website/blog/2022/01/05/weekly-report-1231.md
  website/blog/2022/01/11/apisix-with-shardingsphere-meetup.md
  website/blog/2022/02/17/weekly-report-0214.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/19/weekly-report.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/08/25/Why-Apache-APISIX-chose-Nginx-and-Lua.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/29/release-apache-apisix-2.10.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/05/weekly-report-1231.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/02/10/splunk-apisix-integration.md
Labels: blog

update header error
  website/i18n/zh/docusaurus-plugin-content-blog/2022/01/24/apisix-with-qingcloud-meetup.md
Labels: blog

remove outdated conference and add net meetup info in China
  website/docs/general/events.md
Labels: docs-general

fix: plugin route sidebar style error (#1115)
  website/src/components/UI/Affix.tsx
  website/src/hooks/useMount.ts
  website/src/pages/plugins.tsx
  website/src/utils/index.ts
Labels: pages

remove outdated conference and add net meetup info in China (#1160)
  website/docs/general/events.md
Labels: docs-general

docs: change pictures of weekly report
  website/blog/2022/06/07/weekly-report-0607.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/weekly-report-0607.md
Labels: blog

docs: change pictures of weekly report (#1161)
  website/blog/2022/06/07/weekly-report-0607.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/07/weekly-report-0607.md
Labels: blog

docs:weekly report 6.01-6.15
  website/blog/2022/06/21/weekly-report-0621.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/21/weekly-report-0621.md
Labels: blog

docs: weekly report 6.1-6.15
  website/blog/2022/06/21/weekly-report-0621.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/21/weekly-report-0621.md
Labels: blog

docs:weekly report 6.01-6.15
  website/blog/2022/06/21/weekly-report-0621.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/21/weekly-report-0621.md
Labels: blog

docs:weekly report
  website/blog/2022/06/21/weekly-report-0621.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/21/weekly-report-0621.md
Labels: blog

docs: weekly report 6.01-6.15 (#1162)
  website/blog/2022/06/21/weekly-report-0621.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/21/weekly-report-0621.md
Labels: blog

feat: release APISIX 2.13.2
  website/config/downloads.js
Labels: pages

feat: release APISIX 2.13.2 (#1163)
  website/config/downloads.js
Labels: pages

docs: add test case blog
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

docs: add test case blog
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

chore: upload images to CDN
  website/src/assets/images/PatternGrouped.svg
  website/src/assets/images/apisix-dashboard.png
  website/src/assets/images/apisix-video-poster.jpg
  website/src/assets/images/code-sample.png
  website/src/assets/images/pluginised.png
  website/src/assets/images/rocket.gif
  website/src/components/sections/Features.tsx
Labels: pages

feat: remove unused font
  website/docusaurus.config.js
Labels: none

chore: upload images to CDN
  website/docusaurus.config.js
  website/static/img/apache-apisix.png
  website/static/img/asf_logo_wide_small.png
  website/static/img/favicon.png
Labels: pages

chore: remove fonts
  website/src/fonts/MaisonNeue-Bold.otf
  website/src/fonts/MaisonNeue-Demi.otf
  website/src/fonts/MaisonNeue-ExtraBold.otf
  website/src/fonts/MaisonNeue-Light.otf
  website/src/fonts/MaisonNeue-Medium.otf
Labels: pages

fix: added missing PatternGrouped
  website/src/assets/images/PatternGrouped.svg
Labels: pages

feat: use ECDN to load static files
  website/config/ssrTemplate.js
Labels: pages

feat: disable animation
  website/src/components/sections/HeroSection.tsx
Labels: pages

feat: use ECDN to load static files and reduce animation (#1166)
  website/config/ssrTemplate.js
  website/src/components/sections/HeroSection.tsx
Labels: pages

fix: set eta
  website/config/ssrTemplate.js
Labels: pages

fix: set eta (#1167)
  website/config/ssrTemplate.js
Labels: pages
