Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Delete test
  blog/zh/blog/2023/05/24/test
Labels: none

Rename weekly-report.md to weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

docs: add Biweekly Report (May 08 - May 22) (#1594)
  blog/en/blog/2023/05/24/weekly-report-0524.md
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md (#1597)
  blog/zh/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md (#1596)
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update blog/en/blog/2023/05/24/weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update blog/en/blog/2023/05/24/weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Update blog/en/blog/2023/05/24/weekly-report-0524.md
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

Create hello-world.js
  website/netlify/functions/hello-world.js
Labels: none

Update weekly-report-0524.md (#1598)
  blog/en/blog/2023/05/24/weekly-report-0524.md
Labels: none

chore: add new pmc
  config/team.js
Labels: none

chore: add new pmc (#1600)
  config/team.js
Labels: none

docs: add release-apache-apisix-3.2.1.md
  blog/zh/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

docs: add release 3.2.1 (en)
  blog/en/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

Update release-apache-apisix-3.2.1.md
  blog/zh/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

Update release-apache-apisix-3.2.1.md
  blog/en/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

Update release-apache-apisix-3.2.1.md
  blog/zh/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

Update release-apache-apisix-3.2.1.md
  blog/zh/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

Update release-apache-apisix-3.2.1.md
  blog/en/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

Update release-apache-apisix-3.2.1.md
  blog/zh/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

docs: add release-apache-apisix-3.2.1.md (#1601)
  blog/en/blog/2023/06/01/release-apache-apisix-3.2.1.md
  blog/zh/blog/2023/06/01/release-apache-apisix-3.2.1.md
Labels: none

feat: release APISIX 3.2.1
  config/downloads.js
Labels: none

feat: release APISIX 3.2.1 (#1602)
  config/downloads.js
Labels: none

Update doc/src/theme/DocSidebar/styles.module.css
  doc/src/theme/DocSidebar/styles.module.css
Labels: none

fix: doc version dropdown (#1592)
  doc/src/theme/DocSidebar/styles.module.css
Labels: none

docs: add lenovo-uses-apisix.md
  blog/en/blog/2023/06/02/lenovo-uses-apisix.md
Labels: none

feat: add milestones
  config/navbar.js
  doc/src/theme/Footer/index.tsx
Labels: none

feat: update
  blog/src/theme/Footer/index.tsx
  website/src/theme/Footer/index.tsx
Labels: pages

site: add details of in-person community meetups
  website/docs/general/events.md
Labels: docs-general

add bullets
  website/docs/general/events.md
Labels: docs-general

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
