Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

feat: try 2 use code.json config, translations website
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/pages/docs.tsx
Labels: pages

fix: websit translation accuracy calibration
  website/i18n/zh/code.json
Labels: none

feat: try 2 use code.json config, translations website
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/pages/docs.tsx
Labels: pages

fix: websit translation accuracy calibration
  website/i18n/zh/code.json
Labels: none

feat: try 2 use code.json config, translations website (#1099)
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/pages/docs.tsx
Labels: pages

feat: add website route (homePage, teams) translator
  website/i18n/zh/code.json
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/pages/team.tsx
Labels: pages

fix: openSourcePromo oss promo translate error
  website/i18n/zh/code.json
Labels: none

docs: add weekly reporter 0519
  website/blog/2022/05/19/weekly-report-0519.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/19/weekly-report-0519.md
  website/static/data/events.json
Labels: blog, pages

docs: add weekly reporter 0519
  website/blog/2022/05/19/weekly-report-0519.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/19/weekly-report-0519.md
Labels: blog

docs: update guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
  website/i18n/zh/docusaurus-theme-classic/footer.json
Labels: docs-general

docs: update websit's descriptio
  website/i18n/zh/code.json
Labels: none

docs: update websit's descriptio
  website/i18n/zh/code.json
Labels: none

fix: update websit's description (#1102)
  website/i18n/zh/code.json
Labels: none

docs: add weekly reporter 0519
  website/blog/2022/05/19/weekly-report-0519.md
Labels: blog

add weekly reporter 0519
  website/blog/2022/05/19/weekly-report-0519.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/19/weekly-report-0519.md
Labels: blog

docs: add weekly reporter 0519 (#1101)
  website/blog/2022/05/19/weekly-report-0519.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/19/weekly-report-0519.md
  website/static/data/events.json
Labels: blog, pages

fix: website homePage & teams page translation errors
  website/i18n/zh/code.json
Labels: none

fix: website homePage & teams page translation calibrate again
  website/i18n/zh/code.json
Labels: none

docs: more graceful description architecture and committer copy
  website/i18n/zh/code.json
Labels: none

fix: add empty lines and spaces
  website/blog/2022/04/29/interview-juzhiyuan-apache-member.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/04/29/interview-juzhiyuan-apache-member.md
Labels: blog

docs: beautify the calibration work of the Chinese translation in the website
  website/i18n/zh/code.json
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HomeEventsSection.tsx
Labels: pages

docs: calibration translation in the website
  website/i18n/zh/code.json
Labels: none

docs: calibration translation in the website home page
  website/i18n/zh/code.json
Labels: none

docs: add two blogs (#1096)
  website/blog/2022/04/29/interview-juzhiyuan-apache-member.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/04/29/interview-juzhiyuan-apache-member.md
Labels: blog

Lint.yml
  .github/workflows/lint.yml
Labels: none

docs: fix website text "Nginx" 2 "NGINX"
  website/i18n/zh/code.json
Labels: none

feat: add website route (homePage, teams) translation (#1100)
  website/i18n/zh/code.json
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/pages/team.tsx
Labels: pages

docs: update doc style guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

feat: website route (downloads, help, plugins, showcase) translation
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/ProjectCard.tsx
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/team.tsx
Labels: pages

fix: translation text capitalization and spaces
  website/i18n/zh/code.json
Labels: none

fix: calibration translation in the website
  website/i18n/zh/code.json
Labels: none

chore: add jest
  .gitignore
  .husky/pre-commit
  jest.config.js
  package.json
  website/src/utils/__tests__/check.test.ts
  website/src/utils/check.ts
  website/tsconfig.json
Labels: repo, pages

chore: add project VsCode recommendation configs
  .vscode/_sfc-blocks.code-snippets
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

style: remove shaders folder, move 2 database
  website/package.json
  website/src/components/HeroCanvas.tsx
  website/src/database/heroCanvas.ts
  website/src/shaders/fragment.frag
Labels: pages

docs: update landing page i18n
  website/i18n/zh/code.json
  website/src/components/sections/Endcta.tsx
Labels: pages

docs: update landing page i18n (#1114)
  website/i18n/zh/code.json
  website/src/components/sections/Endcta.tsx
Labels: pages

feat: website route (downloads, help, plugins, showcase) translation (#1108)
  website/i18n/zh/code.json
  website/src/components/ArrowAnim.tsx
  website/src/components/ProjectCard.tsx
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase/index.tsx
  website/src/pages/team.tsx
Labels: pages

fix: Plugin route Sidebar styled error
  website/src/components/UI/Affix.tsx
  website/src/pages/plugins.tsx
  website/src/utils/index.ts
Labels: pages

feat: affix component move hasCssSticky check 2 useEffect
  website/src/components/UI/Affix.tsx
  website/src/pages/plugins.tsx
  website/src/utils/index.ts
Labels: pages

docs: update doc style guide
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general
