Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

docs: Added cover image for blog (#1426)
  blog/en/blog/2022/11/23/poor-man-api.md
Labels: none

fix: not found link in home page (#1428)
  website/src/components/sections/Benefits.tsx
Labels: pages

docs:add a translation blog
  blog/zh/blog/2022/12/a-poor-man‘s-api.md
Labels: none

docs:add a translation blog
  blog/zh/blog/2022/12/a-poor-man‘s-api.md
Labels: none

docs:add a translation blog
  blog/zh/blog/2022/12/a-poor-man‘s-api.md
Labels: none

docs:add a translation blog
  blog/zh/blog/2022/12/a-poor-man‘s-api.md
Labels: none

docs:add a translation blog
  blog/zh/blog/2022/12/a-poor-man‘s-api.md
Labels: none

aAding Decembeer Global Community Meeting Signup Link
  .htaccess
Labels: repo

Adding December Global Community Meeting Signup Link (#1430)
  .htaccess
Labels: repo

fix: add some plugins
  website/static/data/plugins.json
Labels: pages

Add new blog post
  blog/en/blog/2022/12/06/choose-the-right-api-style-technology.md
Labels: none

Update keywords
  blog/en/blog/2022/12/06/choose-the-right-api-style-technology.md
Labels: none

docs: add new blog "How to choose the right API Style and Technology" (#1433)
  blog/en/blog/2022/12/06/choose-the-right-api-style-technology.md
Labels: none

docs:add a translation blog (#1429)
  blog/zh/blog/2022/12/a-poor-man‘s-api.md
Labels: none

Update website/static/data/plugins.json
  website/static/data/plugins.json
Labels: pages

chore: add @SkyeYoung to committer
  config/team.js
Labels: none

chore: add @SkyeYoung to committer (#1435)
  config/team.js
Labels: none

docs:add weekly report 20221204
  blog/zh/blog/2022/11/28/a-poor-man‘s-api.md
  blog/zh/blog/2022/12/04/weekly-report-1204.md
Labels: none

chore: add @AlinsRan to Team page
  config/team.js
Labels: none

chore: add @AlinsRan to Team page (#1438)
  config/team.js
Labels: none

feat: add some plugins (#1432)
  website/static/data/plugins.json
Labels: pages

docs:add weekly report 20221204
  blog/zh/blog/2022/12/04/weekly-report-1204.md
Labels: none

docs:add weekly report 20221204 (#1436)
  blog/zh/blog/2022/11/28/a-poor-man‘s-api.md
  blog/zh/blog/2022/12/04/weekly-report-1204.md
Labels: none

docs: Added cover image for canary release blog
  blog/en/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
Labels: none

docs:add two usercase blogs
  blog/zh/blog/2022/12/04/a-poor-man‘s-api.md
  blog/zh/blog/2022/12/04/weekly-report-1204.md
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
  blog/zh/blog/2022/12/08/apisix-support-tongsuo.md
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
Labels: none

docs:add two usercase blogs
  blog/zh/blog/2022/12/08/apisix-support-tongsuo.md
Labels: none

docs:add two usercase blogs
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
  blog/zh/blog/2022/12/08/apisix-support-tongsuo.md
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
Labels: none

docs: Added cover image for canary release zh blog
  blog/zh/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
Labels: none

docs:add-seewo-usercase-blog
  blog/zh/blog/2022/09/30/huanbei-in-apache-apisix.md
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
  blog/zh/blog/2022/11/13/vivo-with-apache-apisix.md
  blog/zh/blog/2022/12/13/seewo-with-apache-apisix.md
Labels: none

docs:add two usercase blogs
  blog/zh/blog/2022/12/08/apisix-support-tongsuo.md
Labels: none

docs:add two usercase blogs
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
Labels: none

docs: Added cover image for blog (#1441)
  blog/en/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/zh/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
Labels: none

docs: Add Web resource caching: Client-Side post (#1424)
  blog/en/blog/2022/12/07/web-caching-client.md
Labels: none

docs: Add Web resource caching: Server-Side post (#1425)
  blog/en/blog/2022/12/14/web-caching-server.md
Labels: none

docs:add seewo usercase blog
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
  blog/zh/blog/2022/12/13/seewo-with-apache-apisix.md
Labels: none

docs: update EN web-resource-caching blogs image
  blog/en/blog/2022/12/07/web-caching-client.md
  blog/en/blog/2022/12/14/web-caching-server.md
Labels: none

docs:add seewo usercase blog
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
Labels: none

docs: update EN web-resource-caching blogs image (#1446)
  blog/en/blog/2022/12/07/web-caching-client.md
  blog/en/blog/2022/12/14/web-caching-server.md
Labels: none

docs: add seewo-usercase-blog and change some usecase images (#1444)
  blog/zh/blog/2022/09/30/huanbei-in-apache-apisix.md
  blog/zh/blog/2022/11/05/tencent-blueking-with-apisix.md
  blog/zh/blog/2022/11/13/vivo-with-apache-apisix.md
  blog/zh/blog/2022/12/13/seewo-with-apache-apisix.md
Labels: none

chore: update team
  config/team.js
Labels: none
