Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix: posts style
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

fix: mobile style
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

docs: fix typo
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix.md
Labels: none

docs: fix typo
  blog/en/blog/2020/12/18/first-look-at-kubernetes-service-api.md
  blog/zh/blog/2021/06/06/apisix-two-years.md
  blog/zh/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
Labels: none

docs: fix typo
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/en/blog/2021/06/29/release-apache-apisix-2.7.md
  blog/zh/blog/2021/06/29/release-apache-apisix-2.7.md
Labels: none

fix: style in mobile, shuffle posts in blog list posts
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: zh translation
  blog/i18n/zh/code.json
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

fix: hover style
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

feat: featured blog posts (#1255)
  .gitignore
  blog/en/config/picked-posts.json
  blog/i18n/zh/code.json
  blog/package.json
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
  blog/zh/config/picked-posts.json
  package.json
  scripts/generate-picked-posts-info.mjs
  scripts/package.json
  yarn.lock
Labels: repo, scripts

docs: add `why-we-need-apache-apisix` blog (#1250)
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2022/07/29/why-we-need-apache-apisix.md
Labels: none

docs: Update 2022-456-month tag/keyword/decs
  blog/en/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/en/blog/2022/04/17/api-observability.md
  blog/en/blog/2022/04/20/weekly-report-0420.md
  blog/en/blog/2022/04/22/apisix-with-tidb-practice.md
  blog/en/blog/2022/04/29/interview-juzhiyuan-apache-member.md
  blog/zh/blog/2022/04/12/apisix-summit-asia-2022.md
  blog/zh/blog/2022/04/20/weekly-report-0420.md
  blog/zh/blog/2022/04/22/apisix-with-tidb-practice.md
  blog/zh/blog/2022/04/29/interview-juzhiyuan-apache-member.md
Labels: none

add 5&6 blogs
  blog/en/blog/2022/05/10/weekly-report-0510.md
  blog/en/blog/2022/05/19/weekly-report-0519.md
  blog/en/blog/2022/05/31/release-apache-apisix-2.14.md
  blog/en/blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
  blog/en/blog/2022/06/07/weekly-report-0607.md
  blog/en/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/en/blog/2022/06/14/beeto-with-apache-apisix.md
  blog/en/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/en/blog/2022/06/14/xueqiu-with-apache-apisix.md
  blog/en/blog/2022/06/21/weekly-report-0621.md
  blog/en/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  blog/zh/blog/2022/05/10/weekly-report-0510.md
  blog/zh/blog/2022/05/19/weekly-report-0519.md
  blog/zh/blog/2022/05/31/release-apache-apisix-2.14.md
  blog/zh/blog/2022/06/07/installation-performance-test-of-apigateway-apisix-on-aws-graviton3.md
  blog/zh/blog/2022/06/07/weekly-report-0607.md
  blog/zh/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/zh/blog/2022/06/14/beeto-with-apache-apisix.md
  blog/zh/blog/2022/06/14/how-mse-supports-canary-release-with-apache-apisix.md
  blog/zh/blog/2022/06/14/xueqiu-with-apache-apisix.md
  blog/zh/blog/2022/06/21/weekly-report-0621.md
  blog/zh/blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: none

docs: del line
  blog/en/blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
Labels: none

docs: update blog description, keywords and tags (#1249)
  blog/en/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/en/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/en/blog/2021/06/29/release-apache-apisix-2.7.md
  blog/en/blog/2021/06/30/etcd3-support-HTTP-access-perfectly.md
  blog/zh/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/zh/blog/2021/06/18/first-GA-version-v1.0-of-Apache-APISIX-Ingress-Controller-released.md
  blog/zh/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/zh/blog/2021/06/23/deploy-great-open-source-gateway-and-ingress-controller-fast.md
  blog/zh/blog/2021/06/29/release-apache-apisix-2.7.md
  blog/zh/blog/2021/06/30/etcd3-support-HTTP-access-perfectly.md
Labels: none

docs: (3) update blog description, keywords and tags (#1252)
  blog/en/blog/2021/07/06/celebrate-200-contributors.md
  blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/en/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  blog/en/blog/2021/07/25/apachecon-asia.md
  blog/en/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/en/blog/2021/07/28/release-apache-apisix-2.8.md
  blog/zh/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/zh/blog/2021/07/21/Apache-APISIX-Kubernetes.md
  blog/zh/blog/2021/07/25/apachecon-asia.md
  blog/zh/blog/2021/07/27/use-of-plugin-orchestration-in-Apache-APISIX.md
  blog/zh/blog/2021/07/28/release-apache-apisix-2.8.md
Labels: none

fix: search bar
  blog/src/theme/SearchBar/index.js
  blog/src/theme/SearchBar/styles.css
  blog/src/theme/SearchBar/styles.module.css
  doc/src/theme/SearchBar/index.js
  doc/src/theme/SearchBar/styles.css
  doc/src/theme/SearchBar/styles.module.css
  website/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/styles.css
  website/src/theme/SearchBar/styles.module.css
  yarn.lock
Labels: repo, pages

fix: posts order
  blog/src/theme/BlogPosts/index.tsx
Labels: none

fix: posts gap style
  blog/src/theme/BlogPosts/style.module.scss
Labels: none

fix: search bar, posts order, style (#1258)
  blog/src/theme/BlogPosts/index.tsx
  blog/src/theme/BlogPosts/style.module.scss
  blog/src/theme/SearchBar/index.js
  blog/src/theme/SearchBar/styles.css
  blog/src/theme/SearchBar/styles.module.css
  doc/src/theme/SearchBar/index.js
  doc/src/theme/SearchBar/styles.css
  doc/src/theme/SearchBar/styles.module.css
  website/src/theme/SearchBar/index.js
  website/src/theme/SearchBar/styles.css
  website/src/theme/SearchBar/styles.module.css
  yarn.lock
Labels: repo, pages

docs: update blog
  blog/en/blog/2021/09/06/python-helps-you-quickly-with-Apache-APISIX-development.md
  blog/zh/blog/2021/09/06/python-helps-you-quickly-with-Apache-APISIX-development.md
Labels: none

docs: update blog
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

docs: update blog
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

Update blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
Labels: none

feat: shuffle picked posts
  blog/src/theme/BlogPosts/index.tsx
Labels: none

docs: update blog
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

docs: update Blog description, tags and keywords (#1244)
  blog/en/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/en/blog/2020/12/16/another-way-to-implement-envoy-filter.md
  blog/en/blog/2020/12/18/first-look-at-kubernetes-service-api.md
  blog/en/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/en/blog/2021/01/21/run-ingress-apisix-on-amazon-eks.md
  blog/en/blog/2021/02/08/stable-product-delivery-with-cypress.md
  blog/en/blog/2021/02/26/install-apache-apisix-from-helm-charts.md
  blog/en/blog/2021/03/02/get-front-end-test-coverage-with-cypress.md
  blog/en/blog/2021/05/24/Tencent-Games.md
  blog/en/blog/2021/05/25/Apache APISIX 2.6.0-Release.md
  blog/en/blog/2021/06/03/firsthand-experience-with-apache-apisix-shared-by-student-participants-in-ospp-2020.md
  blog/en/blog/2021/06/06/apisix-two-years.md
  blog/en/blog/2021/06/07/Apache-APISIX-not-affected-by-NGINX-CVE-2021-23017.md
  blog/en/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/en/blog/2021/06/16/Chaos-Mesh-helps-Apache-APISIX-improve-stability.md
  blog/zh/blog/2020/12/11/beike-how-to-build-gateway-based-on-apache-apisix.md
  blog/zh/blog/2020/12/18/first-look-at-kubernetes-service-api.md
  blog/zh/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/zh/blog/2021/05/24/Tencent-Games.md
  blog/zh/blog/2021/05/25/Apache APISIX 2.6.0-Release.md
  blog/zh/blog/2021/06/03/experience-share-from-Apache-APISIX-committer.md
  blog/zh/blog/2021/06/06/apisix-two-years.md
  blog/zh/blog/2021/06/10/Apache-APISIX-and-Envoy-performance-comparison.md
  blog/zh/blog/2021/06/16/Chaos-Mesh-helps-Apache-APISIX-improve-stability.md
Labels: none

feat: shuffle picked posts (#1260)
  blog/src/theme/BlogPosts/index.tsx
Labels: none

docs: update 2021-09 blog's des/tags/keywords
  blog/en/blog/2021/09/06/python-helps-you-quickly-with-Apache-APISIX-development.md
  blog/en/blog/2021/09/07/how-to-use-apisix-auth.md
  blog/en/blog/2021/09/07/iQIYI-usercase.md
  blog/en/blog/2021/09/09/how-to-contribute-to-an-OpenSource-without-coding.md
  blog/en/blog/2021/09/13/china-mobile-cloud-usercase.md
  blog/en/blog/2021/09/14/youzan.md
  blog/en/blog/2021/09/15/weekly-report.md
  blog/en/blog/2021/09/16/tencent-cloud.md
  blog/en/blog/2021/09/18/xiaodian-usercase.md
  blog/en/blog/2021/09/24/youpaicloud-usercase.md
  blog/en/blog/2021/09/28/WPS-usercase.md
  blog/en/blog/2021/09/29/release-apache-apisix-2.10.md
  blog/en/blog/2021/09/30/weekly-report.md
  blog/zh/blog/2021/09/06/python-helps-you-quickly-with-Apache-APISIX-development.md
  blog/zh/blog/2021/09/07/how-to-use-apisix-auth.md
  blog/zh/blog/2021/09/07/iQIYI-usercase.md
  blog/zh/blog/2021/09/09/how-to-contribute-to-an-OpenSource-without-coding.md
  blog/zh/blog/2021/09/13/china-mobile-cloud-usercase.md
  blog/zh/blog/2021/09/14/youzan.md
  blog/zh/blog/2021/09/15/weekly-report.md
  blog/zh/blog/2021/09/16/tencent-cloud.md
  blog/zh/blog/2021/09/18/xiaodian-usercase.md
  blog/zh/blog/2021/09/24/youpaicloud-usercase.md
  blog/zh/blog/2021/09/28/WPS-usercase.md
  blog/zh/blog/2021/09/29/release-apache-apisix-2.10.md
  blog/zh/blog/2021/09/30/weekly-report.md
Labels: none

Update blog/en/blog/2021/08/18/Auth-with-Casbin-in-Apache-APISIX.md
  blog/en/blog/2021/08/18/Auth-with-Casbin-in-Apache-APISIX.md
Labels: none

docs: update blog and add featured blog
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/en/config/picked-posts.json
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/config/picked-posts.json
Labels: none

docs: udpate keywords
  blog/zh/blog/2021/09/16/tencent-cloud.md
  blog/zh/blog/2021/09/18/xiaodian-usercase.md
  blog/zh/blog/2021/09/24/youpaicloud-usercase.md
  blog/zh/blog/2021/09/29/release-apache-apisix-2.10.md
  blog/zh/blog/2021/09/30/weekly-report.md
Labels: none

docs: udpate description
  blog/en/blog/2021/06/28/why-we-need-Apache-APISIX.md
  blog/zh/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: none

docs: Update 2022-01 blogs tags/keywords/decs
  blog/en/blog/2022/01/04/authing.md
  blog/en/blog/2022/01/05/weekly-report-1231.md
  blog/en/blog/2022/01/11/apisix-with-shardingsphere-meetup.md
  blog/en/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  blog/en/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/19/weekly-report-0116.md
  blog/en/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
  blog/en/blog/2022/01/24/apisix-with-qingcloud-meetup.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/01/25/release-apache-apisix-2.12.md
  blog/en/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  blog/zh/blog/2022/01/04/authing.md
  blog/zh/blog/2022/01/05/weekly-report-1231.md
  blog/zh/blog/2022/01/11/apisix-with-shardingsphere-meetup.md
  blog/zh/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  blog/zh/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/zh/blog/2022/01/17/apisix-kafka-integration.md
  blog/zh/blog/2022/01/19/weekly-report-0116.md
  blog/zh/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/zh/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/zh/blog/2022/01/21/apisix-xrpc-details-and-miltilingual.md
  blog/zh/blog/2022/01/24/apisix-with-qingcloud-meetup.md
  blog/zh/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/zh/blog/2022/01/25/release-apache-apisix-2.12.md
  blog/zh/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
Labels: none

add multi-tag
  blog/en/blog/2022/01/04/authing.md
  blog/en/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/en/blog/2022/01/17/apisix-kafka-integration.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/en/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
  blog/zh/blog/2022/01/04/authing.md
  blog/zh/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/zh/blog/2022/01/17/apisix-kafka-integration.md
  blog/zh/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/zh/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/zh/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
Labels: none

update API gateway
  blog/zh/blog/2022/01/05/weekly-report-1231.md
  blog/zh/blog/2022/01/13/how-to-proxy-dubbo-in-apache-apisix.md
  blog/zh/blog/2022/01/20/upyun-public-gateway-usecase.md
  blog/zh/blog/2022/01/24/apisix-with-qingcloud-meetup.md
  blog/zh/blog/2022/01/25/apisix-grpc-web-integration.md
  blog/zh/blog/2022/01/25/release-apache-apisix-2.12.md
  blog/zh/blog/2022/01/26/apisix-integrate-forward-auth-plugin.md
Labels: none

Update blog/zh/blog/2021/09/30/weekly-report.md
  blog/zh/blog/2021/09/30/weekly-report.md
Labels: none

Update blog/zh/blog/2021/09/15/weekly-report.md
  blog/zh/blog/2021/09/15/weekly-report.md
Labels: none

docs: update 2021-09 blog's des/tags/keywords (#1261)
  blog/en/blog/2021/09/06/python-helps-you-quickly-with-Apache-APISIX-development.md
  blog/en/blog/2021/09/07/how-to-use-apisix-auth.md
  blog/en/blog/2021/09/07/iQIYI-usercase.md
  blog/en/blog/2021/09/09/how-to-contribute-to-an-OpenSource-without-coding.md
  blog/en/blog/2021/09/13/china-mobile-cloud-usercase.md
  blog/en/blog/2021/09/14/youzan.md
  blog/en/blog/2021/09/15/weekly-report.md
  blog/en/blog/2021/09/16/tencent-cloud.md
  blog/en/blog/2021/09/18/xiaodian-usercase.md
  blog/en/blog/2021/09/24/youpaicloud-usercase.md
  blog/en/blog/2021/09/28/WPS-usercase.md
  blog/en/blog/2021/09/29/release-apache-apisix-2.10.md
  blog/en/blog/2021/09/30/weekly-report.md
  blog/zh/blog/2021/09/06/python-helps-you-quickly-with-Apache-APISIX-development.md
  blog/zh/blog/2021/09/07/how-to-use-apisix-auth.md
  blog/zh/blog/2021/09/07/iQIYI-usercase.md
  blog/zh/blog/2021/09/09/how-to-contribute-to-an-OpenSource-without-coding.md
  blog/zh/blog/2021/09/13/china-mobile-cloud-usercase.md
  blog/zh/blog/2021/09/14/youzan.md
  blog/zh/blog/2021/09/15/weekly-report.md
  blog/zh/blog/2021/09/16/tencent-cloud.md
  blog/zh/blog/2021/09/18/xiaodian-usercase.md
  blog/zh/blog/2021/09/24/youpaicloud-usercase.md
  blog/zh/blog/2021/09/28/WPS-usercase.md
  blog/zh/blog/2021/09/29/release-apache-apisix-2.10.md
  blog/zh/blog/2021/09/30/weekly-report.md
Labels: none

fix: tags headers
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
Labels: none

fix: tags headers (#1262)
  blog/src/theme/BlogLayout/index.tsx
  blog/src/theme/BlogLayout/style.module.scss
Labels: none
