Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

fix(docs/blog): inline image width syntax (#1980)
  blog/en/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
  blog/zh/blog/2025/12/19/apisix-ingress-controller-2-0-release.md
Labels: none

update
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/en/blog/2025/10/31/2025-oct-monthly-report.md
  blog/en/blog/2025/11/30/2025-nov-monthly-report.md
  blog/en/blog/2025/12/31/2025-dec-monthly-report.md
  blog/zh/blog/2025/12/31/2025-dec-monthly-report.md
Labels: none

fix
  blog/zh/blog/2025/12/31/2025-dec-monthly-report.md
Labels: none

Update blog/en/blog/2025/12/31/2025-dec-monthly-report.md
  blog/en/blog/2025/12/31/2025-dec-monthly-report.md
Labels: none

blog: add 2025 December monthly report (#1981)
  blog/en/blog/2025/09/30/2025-sep-monthly-report.md
  blog/en/blog/2025/10/31/2025-oct-monthly-report.md
  blog/en/blog/2025/11/30/2025-nov-monthly-report.md
  blog/en/blog/2025/12/31/2025-dec-monthly-report.md
  blog/zh/blog/2025/12/31/2025-dec-monthly-report.md
Labels: none

release notes
  blog/en/blog/2026/01/31/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

lint
  blog/en/blog/2026/01/31/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

f
  blog/en/blog/2026/01/31/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

update zh note
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

refine statement for max_pending_entries in logging plugins
  blog/en/blog/2026/01/31/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

correct description for apisix_request_id
  blog/en/blog/2026/01/31/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

update keepalive parameters for param naming updates
  blog/en/blog/2026/01/31/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/01/31/release-apache-apisix-3.15.0.md
Labels: none

update
  blog/en/blog/2026/01/31/2026-jan-monthly-report.md
  blog/zh/blog/2026/01/31/2026-jan-monthly-report.md
Labels: none

add issue
  blog/en/blog/2026/01/31/2026-jan-monthly-report.md
  blog/zh/blog/2026/01/31/2026-jan-monthly-report.md
Labels: none

fix comments
  blog/en/blog/2026/01/31/2026-jan-monthly-report.md
  blog/zh/blog/2026/01/31/2026-jan-monthly-report.md
Labels: none

blog: add 2026 January monthly report (#1983)
  blog/en/blog/2026/01/31/2026-jan-monthly-report.md
  blog/zh/blog/2026/01/31/2026-jan-monthly-report.md
Labels: none

Fix: Add accessible titles to comparison table icons
  website/src/components/sections/Comparison.tsx
Labels: pages

adjust dates
  blog/en/blog/2026/02/05/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/02/05/release-apache-apisix-3.15.0.md
Labels: none

docs: release APISIX v3.15.0
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

docs: release APISIX v3.15.0 (#1986)
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

Update blog/en/blog/2026/02/05/release-apache-apisix-3.15.0.md
  blog/en/blog/2026/02/05/release-apache-apisix-3.15.0.md
Labels: none

blog: add 3.15.0 release notes (#1982)
  blog/en/blog/2026/02/05/release-apache-apisix-3.15.0.md
  blog/zh/blog/2026/02/05/release-apache-apisix-3.15.0.md
Labels: none

update
  blog/en/blog/2026/02/28/2026-feb-monthly-report.md
  blog/zh/blog/2026/02/28/2026-feb-monthly-report.md
Labels: none

Update blog/en/blog/2026/02/28/2026-feb-monthly-report.md
  blog/en/blog/2026/02/28/2026-feb-monthly-report.md
Labels: none

Update blog/zh/blog/2026/02/28/2026-feb-monthly-report.md
  blog/zh/blog/2026/02/28/2026-feb-monthly-report.md
Labels: none

blog: add 2026 February monthly report (#1995)
  blog/en/blog/2026/02/28/2026-feb-monthly-report.md
  blog/zh/blog/2026/02/28/2026-feb-monthly-report.md
Labels: none

fix: upgrade dependencies to resolve 24 Dependabot security alerts
  package.json
  scripts/package.json
  website/package.json
  yarn.lock
Labels: repo, scripts

fix: remove serialize-javascript resolution incompatible with CI Node 16
  package.json
  yarn.lock
Labels: repo

fix: remove svgo and js-yaml resolutions that break Docusaurus build
  package.json
  yarn.lock
Labels: repo

fix: add resolutions for qs, webpack, brace-expansion, and algoliasearch-helper
  package.json
  yarn.lock
Labels: repo

fix: upgrade dependencies to resolve Dependabot security alerts (#1998)
  package.json
  scripts/package.json
  website/package.json
  yarn.lock
Labels: repo, scripts

fix: improve SEO across the website
  .htaccess
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  config/schema-org.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/src/components/AIGateway/Advantage.tsx
  website/src/components/AIGateway/Hero.tsx
  website/src/pages/docs.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase.tsx
  website/src/pages/team.tsx
  website/static/robots.txt
Labels: repo, pages

fix: remove SoftwareApplication schema — not appropriate for infrastructure projects
  config/schema-org.js
Labels: none

fix: address Copilot review feedback
  config/schema-org.js
  website/src/pages/docs.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase.tsx
  website/src/pages/team.tsx
Labels: pages

fix: improve SEO across the website (#2002)
  .htaccess
  blog/en/docusaurus.config.js
  blog/zh/docusaurus.config.js
  config/schema-org.js
  doc/docusaurus.config.js
  website/docusaurus.config.js
  website/src/components/AIGateway/Advantage.tsx
  website/src/components/AIGateway/Hero.tsx
  website/src/pages/docs.tsx
  website/src/pages/downloads.tsx
  website/src/pages/help.tsx
  website/src/pages/plugins.tsx
  website/src/pages/showcase.tsx
  website/src/pages/team.tsx
  website/static/robots.txt
Labels: repo, pages

fix: use spawn instead of exec to avoid maxBuffer overflow in build
  scripts/generate-website.js
Labels: scripts

fix: handle logStream errors in runBuild to prevent unhandled crash
  scripts/generate-website.js
Labels: scripts

fix: use spawn instead of exec to avoid maxBuffer overflow in build (#2005)
  scripts/generate-website.js
Labels: scripts

draft
  blog/en/blog/2026/04/02/release-apache-apisix-3.16.0.md
  blog/zh/blog/2026/04/02/release-apache-apisix-3.16.0.md
Labels: none

move #13009 to breanking changes
  blog/en/blog/2026/04/02/release-apache-apisix-3.16.0.md
  blog/zh/blog/2026/04/02/release-apache-apisix-3.16.0.md
Labels: none
