Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

chore: ignore repos-info change
  .gitignore
Labels: repo

chore: del file cache
  website/config/repos-info.json
Labels: pages

fix: landing page render logic
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/customTheme.css
Labels: pages

fix: landing page render logic (#1168)
  .gitignore
  website/config/repos-info.json
  website/src/components/ArrowAnim.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/css/customTheme.css
Labels: repo, pages

fix: remove OssCanvas
  website/i18n/zh/code.json
  website/src/components/OssCanvas.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
Labels: pages

docs: update English version
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

docs: update English version
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

Update website/blog/2021/06/28/why-we-need-Apache-APISIX.md
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

Update website/blog/2021/06/28/why-we-need-Apache-APISIX.md
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

Update website/blog/2021/06/28/why-we-need-Apache-APISIX.md
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

Update website/blog/2021/06/28/why-we-need-Apache-APISIX.md
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

docs: update English grammar (#1169)
  website/blog/2021/06/28/why-we-need-Apache-APISIX.md
Labels: blog

fix: build preview
  package.json
  website/config/ssrTemplate.js
Labels: repo, pages

fix: optimize Features component
  website/src/components/sections/Features.tsx
Labels: pages

Refactor: optimize HeroCanvas
  website/src/components/HeroCanvas.tsx
  website/src/components/sections/HeroSection.tsx
Labels: pages

refactor: optimize video block
  website/src/components/sections/OpensourcePromo.tsx
Labels: pages

refactor: optimize landing page (#1170)
  package.json
  website/config/ssrTemplate.js
  website/i18n/zh/code.json
  website/src/components/HeroCanvas.tsx
  website/src/components/OssCanvas.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/OpensourcePromo.tsx
  website/src/css/customTheme.css
Labels: repo, pages

docs: fixed comment
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

docs: fixed comment
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

docs: fix typo
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: fix typo and link
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: update doc link
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

update details
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: update doc link (#1172)
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: add link
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

docs: fix typo error and add link (#1171)
  website/blog/2022/06/14/automated-operation-base-apache-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: blog

docs: add link
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

docs: fix lint
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

fix: optimize and remove useless things
  website/docusaurus.config.js
  website/package.json
  website/src/assets/images/PatternGrouped-min.svg
  website/src/assets/images/infographs/Architecture-min.svg
  website/src/assets/images/infographs/multiplatform-min.svg
  website/src/components/ArrowAnim.tsx
  website/src/components/EventPosterCard.tsx
  website/src/components/HeroCanvas.tsx
  website/src/components/ProjectCard.tsx
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/css/customTheme.css
  website/src/hooks/useWindowSize.ts
  website/src/pages/docs.tsx
  website/src/pages/help.tsx
  website/src/pages/index.tsx
  website/src/pages/team.tsx
  yarn.lock
Labels: repo, pages

fix: optimize and remove useless things (#1173)
  website/docusaurus.config.js
  website/package.json
  website/src/assets/images/PatternGrouped-min.svg
  website/src/assets/images/infographs/Architecture-min.svg
  website/src/assets/images/infographs/multiplatform-min.svg
  website/src/components/ArrowAnim.tsx
  website/src/components/EventPosterCard.tsx
  website/src/components/HeroCanvas.tsx
  website/src/components/ProjectCard.tsx
  website/src/components/sections/Architecture.tsx
  website/src/components/sections/Benefits.tsx
  website/src/components/sections/Comparison.tsx
  website/src/components/sections/Endcta.tsx
  website/src/components/sections/Features.tsx
  website/src/components/sections/HeroSection.tsx
  website/src/components/sections/HomeEventsSection.tsx
  website/src/css/customTheme.css
  website/src/hooks/useWindowSize.ts
  website/src/pages/docs.tsx
  website/src/pages/help.tsx
  website/src/pages/index.tsx
  website/src/pages/team.tsx
  yarn.lock
Labels: repo, pages

updated and new upcoming events
  website/docs/general/events.md
Labels: docs-general

chore: eject footer
  website/docusaurus.config.js
  website/package.json
  website/src/theme/Footer/index.tsx
  website/src/theme/Footer/styles.module.scss
  yarn.lock
Labels: repo, pages

feat: release APISIX Go Plugin Runner 0.4.0
  website/config/docs.js
  website/config/downloads.js
Labels: pages

fix download
  website/config/downloads.js
Labels: pages

fix date
  website/config/docs.js
Labels: pages

feat: release APISIX Go Plugin Runner 0.4.0 (#1175)
  website/config/docs.js
  website/config/downloads.js
Labels: pages

docs: add test case blog (#1164)
  website/blog/2022/06/27/getting-start-with-apisix-test-cases.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/06/27/getting-start-with-apisix-test-cases.md
Labels: blog

refactor: footer
  website/package.json
  website/src/components/sections/Endcta.tsx
  website/src/css/util.scss
  website/src/theme/Footer/index.tsx
  website/src/theme/Footer/styles.module.scss
  website/src/utils/types.d.ts
  yarn.lock
Labels: repo, pages

chore: remove useless code
  website/src/theme/Footer/index.tsx
Labels: pages

chore: add scss lint, reformat
  .stylelintrc
  package.json
  website/package.json
  website/src/css/util.scss
  website/src/theme/Footer/styles.module.scss
  yarn.lock
Labels: repo, pages

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
