Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

docs: fix comment
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog

docs: fix comment
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog

fix: view docs btn (#1188)
  website/src/components/ArrowAnim.tsx
  website/src/css/home-events.module.scss
Labels: pages

docs: add apisix integrates with hydra blog (#1187)
  website/blog/2022/07/04/apisix-integrates-with-hydra.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/04/apisix-integrates-with-hydra.md
Labels: blog

refactor: EventPosterCard, add apachecon link
  website/config/event-poster-card.json
  website/docusaurus.config.js
  website/package.json
  website/src/components/EventPosterCard.tsx
  website/src/css/event-poster-card.module.scss
  website/static/data/event-poster-card.json
  yarn.lock
Labels: repo, pages

chore: swizzle NotFound page
  website/src/theme/NotFound/index.tsx
Labels: pages

refactor: EventPosterCard, add apachecon link (#1189)
  website/config/event-poster-card.json
  website/docusaurus.config.js
  website/package.json
  website/src/components/EventPosterCard.tsx
  website/src/css/event-poster-card.module.scss
  website/static/data/event-poster-card.json
  yarn.lock
Labels: repo, pages

refactor: NotFound page
  website/package.json
  website/src/theme/NotFound/Fitty.tsx
  website/src/theme/NotFound/fit.css
  website/src/theme/NotFound/index.tsx
  website/src/theme/NotFound/styles.module.scss
  yarn.lock
Labels: repo, pages

fix: NotFound page mobile style
  website/src/theme/NotFound/styles.module.scss
Labels: pages

refactor: NotFound page (#1190)
  website/package.json
  website/src/theme/NotFound/Fitty.tsx
  website/src/theme/NotFound/fit.css
  website/src/theme/NotFound/index.tsx
  website/src/theme/NotFound/styles.module.scss
  yarn.lock
Labels: repo, pages

fix: optimize font
  website/config/ssrTemplate.js
  website/src/css/customTheme.css
Labels: pages

chore: insensitive url
  .htaccess
Labels: repo

docs: added how to use keycloak with api gateway?
  website/blog/2022/07/06/how-to-use-keycloak-with-api-gateway.md
Labels: blog

chore: remove useless code
  .htaccess
Labels: repo

docs: added how to use keycloak with api gateway?
  website/blog/2022/07/06/how-to-use-keycloak-with-api-gateway.md
Labels: blog

chore: added author
  website/blog/2022/07/06/how-to-use-keycloak-with-api-gateway.md
Labels: blog

chore: added author
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

chore: added author
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

feat: optimize font loading speed (#1191)
  website/config/ssrTemplate.js
  website/src/css/customTheme.css
Labels: pages

chore: added author
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

chore: added author
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

chore: added author
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

chore: added author
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

chore: added author
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

docs: added how to use keycloak with api gateway? (#1193)
  website/blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

docs: fix typo
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

docs: add weekly report 6.16-6.30
  website/blog/2022/07/07/weekly-report-0630.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/07/weekly-report-0630.md
  website/static/data/events.json
Labels: blog, pages

refactor: features component
  website/package.json
  website/src/components/sections/Features.tsx
  website/src/components/sections/NewFeatures.tsx
  website/src/css/features.module.scss
  website/src/pages/index.tsx
  yarn.lock
Labels: repo, pages

Update weekly-report-0630.md
  website/blog/2022/07/07/weekly-report-0630.md
Labels: blog

docs: fix typo (#1194)
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/06/use-keycloak-with-api-gateway-to-secure-apis.md
Labels: blog

docs: add weekly report 6.16-6.30 (#1195)
  website/blog/2022/07/07/weekly-report-0630.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/07/weekly-report-0630.md
  website/static/data/events.json
Labels: blog, pages

refactor: Features
  website/src/components/sections/Features.tsx
  website/src/components/sections/NewFeatures.tsx
  website/src/css/features.module.scss
  website/src/css/util.scss
  website/src/pages/index.tsx
Labels: pages

fix: p style
  website/src/css/features.module.scss
Labels: pages

refactor: features component (#1198)
  website/package.json
  website/src/components/sections/Features.tsx
  website/src/css/features.module.scss
  website/src/css/util.scss
  yarn.lock
Labels: repo, pages

docs: add dataant blog
  website/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/05/use-dataant-to-monitor-apisix.md
Labels: blog

docs: fix typo
  website/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/05/use-dataant-to-monitor-apisix.md
Labels: blog

docs: add dataant blog (#1196)
  website/blog/2022/07/05/use-dataant-to-monitor-apisix.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/07/05/use-dataant-to-monitor-apisix.md
Labels: blog

docs: update Beeto CN pictures in EN blog
  website/blog/2022/06/14/beeto-with-apache-apisix.md
Labels: blog

docs: update Beeto CN pictures in EN blog (#1199)
  website/blog/2022/06/14/beeto-with-apache-apisix.md
Labels: blog

chore: insensitive url (#1192)
  .htaccess
Labels: repo

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
