Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

docs: point the ingress-controller source download at 2.2.0
  config/downloads.js
Labels: none

fix(seo): validate historical canonical targets
  .github/workflows/deploy.yml
  doc/src/theme/LayoutHead/index.tsx
  next/scripts/assert-local-canonical-targets.mjs
Labels: none

fix(seo): canonicalize unmatched versioned docs
  .github/workflows/deploy.yml
  doc/src/theme/LayoutHead/index.tsx
Labels: none

test: stabilize docs version picker navigation
  next/tests/e2e/docs-version-picker.spec.mjs
Labels: none

fix(ci): decode canonical HTML attributes
  next/package-lock.json
  next/package.json
  next/scripts/assert-local-canonical-targets.mjs
  next/scripts/assert-local-canonical-targets.test.mjs
Labels: none

docs: release apisix-ingress-controller 2.2.0 (#2101)
  config/docs.js
  config/downloads.js
Labels: none

docs: add APISIX 3.18.0 release notes
  blog/en/blog/2026/08/24/release-apache-apisix-3.18.0.md
  blog/zh/blog/2026/08/24/release-apache-apisix-3.18.0.md
Labels: none

blog: clarify 3.18.0 upgrade plans
  blog/en/blog/2026/08/24/release-apache-apisix-3.18.0.md
  blog/zh/blog/2026/08/24/release-apache-apisix-3.18.0.md
Labels: none

refactor(seo): improve high-impression learning center pages (#2102)
  blog/en/blog/2022/01/25/apisix-grpc-web-integration.md
  next/tests/e2e/docs-version-picker.spec.mjs
  website/learning-center/api-gateway-authentication.md
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-security.md
  website/learning-center/what-is-an-api-gateway.md
  website/learning-center/what-is-grpc.md
  website/learning-center/what-is-mutual-tls.md
Labels: none

refactor(seo): improve API gateway learning center entry
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
Labels: none

fix(seo): resolve APISIX crawl, indexing, and sitemap issues (#2100)
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .htaccess
  blog/en/blog/2023/03/10/release-apache-apisix-3.2.0.md
  blog/zh/blog/2023/03/09/release-apache-apisix-3.2.0.md
  doc/src/theme/LayoutHead/index.tsx
  next/package-lock.json
  next/package.json
  next/scripts/assert-local-canonical-targets.mjs
  next/scripts/assert-local-canonical-targets.test.mjs
  next/scripts/generate-sitemaps.mjs
  next/scripts/generate-sitemaps.test.mjs
  next/src/components/Header.astro
  next/src/layouts/Article.astro
  next/src/layouts/Base.astro
  next/src/layouts/DocPage.astro
  next/src/lib/blog-feed.ts
  next/src/lib/content.ts
  next/src/pages/articles/[slug].astro
  next/src/pages/blog/[...rest].astro
  next/src/pages/blog/atom.xml.ts
  next/src/pages/blog/rss.xml.ts
  next/src/pages/learning-center/[slug].astro
  next/src/pages/zh/articles/[slug].astro
  next/src/pages/zh/blog/[...rest].astro
  next/src/pages/zh/blog/atom.xml.ts
  next/src/pages/zh/blog/rss.xml.ts
  next/tests/e2e/seo-signals.spec.mjs
  scripts/sync-docs.js
  website/docusaurus.config.js
  website/static/robots.txt
Labels: repo, pages, scripts

refactor(seo): improve API gateway learning center entry (#2104)
  website/learning-center/api-gateway-for-microservices.md
  website/learning-center/api-gateway-vs-load-balancer.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
Labels: none

blog: finalize 3.18.0 release notes
  blog/en/blog/2026/08/20/release-apache-apisix-3.18.0.md
  blog/zh/blog/2026/08/20/release-apache-apisix-3.18.0.md
Labels: none

feat(content): add API governance guide
  website/learning-center/api-governance.md
Labels: none

docs(seo): connect APISIX research content with contextual links
  website/learning-center/api-gateway-security.md
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/what-is-an-api-gateway.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

feat(content): add API gateway vs API management guide
  website/learning-center/api-gateway-vs-api-management.md
Labels: none

blog: clarify AI fail mode behavior
  blog/en/blog/2026/08/20/release-apache-apisix-3.18.0.md
  blog/zh/blog/2026/08/20/release-apache-apisix-3.18.0.md
Labels: none

docs: add API management and governance learning center guides (#2105)
  website/learning-center/api-gateway-security.md
  website/learning-center/api-gateway-vs-api-management.md
  website/learning-center/api-governance.md
  website/learning-center/apisix-vs-apigee.md
  website/learning-center/what-is-an-api-gateway.md
  website/src/pages/comparisons.tsx
  website/static/llms.txt
Labels: pages

blog: add 3.18.0 release notes (#2103)
  blog/en/blog/2026/08/20/release-apache-apisix-3.18.0.md
  blog/zh/blog/2026/08/20/release-apache-apisix-3.18.0.md
Labels: none

docs: release APISIX v3.18.0
  .github/workflows/deploy.yml
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

docs: release APISIX v3.18.0 (#2106)
  .github/workflows/deploy.yml
  config/apisix-versions.js
  config/docs.js
  config/downloads.js
Labels: none

content: improve GSC-priority on-page SEO
  blog/en/blog/2023/10/18/ingress-apisix.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-security.md
  website/learning-center/kubernetes-api-gateway.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
Labels: none

content: improve GSC-priority on-page SEO (#2107)
  blog/en/blog/2023/10/18/ingress-apisix.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-security.md
  website/learning-center/kubernetes-api-gateway.md
  website/learning-center/open-source-api-gateway-comparison.md
  website/learning-center/what-is-an-api-gateway.md
Labels: none

fix(docs): restore collapsible sidebar categories
  next/src/components/SidebarNodes.astro
  next/src/styles/global.css
Labels: none

content: improve GSC-priority gateway guides
  blog/en/blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2021/12/30/apisix-proxy-grpc-service.md
  blog/en/blog/2022/11/07/webhook-api-gateway-event-driven-apis.md
  blog/en/blog/2023/05/19/why-do-microservices-need-an-api-gateway.md
  blog/en/blog/2023/10/07/apisix-gitops-adc.md
  blog/en/blog/2025/02/17/cloud-vs-open-source-vs-commercial-api-gateways.md
Labels: none

docs(seo): strengthen rate limiting topic cluster
  blog/en/blog/2024/07/25/different-rate-limits-apisix.md
  blog/en/blog/2026/04/14/apisix-3.16-dynamic-rate-limiting.md
  website/learning-center/api-gateway-rate-limiting.md
  website/learning-center/api-gateway-security.md
  website/static/llms.txt
Labels: pages

chore: fix markdown list style
  blog/en/blog/2024/07/25/different-rate-limits-apisix.md
Labels: none

refactor(homepage): ship the architecture diagram as SVG
  .github/workflows/deploy.yml
  next/README.md
  next/public/img/architecture.png
  next/public/img/architecture.svg
  next/scripts/architecture/arch.html
  next/scripts/architecture/render.sh
  next/src/components/HomePage.astro
  next/src/styles/global.css
Labels: none

fix(docs): restore collapsible sidebar categories (#2108)
  next/src/components/SidebarNodes.astro
  next/src/styles/global.css
Labels: none

feat(homepage): redraw the architecture diagram and keep its source (#2094)
  next/README.md
  next/public/img/architecture.svg
  next/src/components/HomePage.astro
  next/src/styles/global.css
  website/i18n/zh/code.json
  website/src/assets/images/PatternGrouped-min.svg
  website/src/assets/images/infographs/Architecture-min.svg
Labels: pages

test(ecosystem): cover navigation journey
  next/tests/e2e/ecosystem-pages.spec.mjs
Labels: none

fix(navigation): preserve mobile Docs entry
  next/src/components/Header.astro
  next/tests/e2e/ecosystem-pages.spec.mjs
Labels: none

fix(ecosystem): address review boundaries
  examples/redis-ai-gateway/README.md
  examples/redis-ai-gateway/conf/apisix.yaml
  next/src/components/EcosystemCatalogPage.astro
  next/src/layouts/EcosystemDetail.astro
  next/src/lib/ecosystem.ts
  next/tests/e2e/ecosystem-pages.spec.mjs
  website/cookbooks/en/redis-ai-cache.md
  website/cookbooks/zh/redis-ai-cache.md
  website/cookbooks/zh/redis-shared-token-quota.md
  website/integrations/en/redis.md
  website/integrations/zh/redis.md
Labels: none

fix(lab): use APISIX standalone YAML marker
  examples/redis-ai-gateway/conf/apisix.yaml
Labels: none

docs(redis): align integration verification gate
  website/integrations/en/redis.md
  website/integrations/zh/redis.md
Labels: none

docs(ecosystem): refine Redis copy
  examples/redis-ai-gateway/README.md
  next/src/components/EcosystemArticlePage.astro
  next/src/components/EcosystemCatalogPage.astro
  next/src/layouts/EcosystemDetail.astro
  next/src/lib/ecosystem.ts
  next/tests/e2e/ecosystem-pages.spec.mjs
  website/cookbooks/en/redis-ai-cache.md
  website/cookbooks/en/redis-shared-token-quota.md
  website/cookbooks/zh/redis-ai-cache.md
  website/cookbooks/zh/redis-shared-token-quota.md
  website/integrations/en/redis.md
  website/integrations/zh/redis.md
  website/static/llms.txt
Labels: pages

docs: address OIDC and ADC review feedback
  blog/en/blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2023/10/07/apisix-gitops-adc.md
Labels: none

fix(docs): improve content width and table readability
  doc/src/css/customTheme.scss
  doc/src/theme/DocPage/index.tsx
  doc/src/theme/DocPage/styles.module.css
  next/astro.config.mjs
  next/scripts/rehype-doc-tables.mjs
  next/src/layouts/DocPage.astro
  next/src/styles/global.css
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

fix(docs): keep metric catalogs generic
  doc/src/theme/DocPage/index.tsx
  next/scripts/rehype-doc-tables.mjs
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none

fix(docs): preserve sticky names without JavaScript
  doc/src/css/customTheme.scss
  next/src/styles/global.css
  next/tests/e2e/docs-mobile-layout.spec.mjs
Labels: none
