Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*

chore: add Navendu Pottekkat in committer list (#1448)
  config/team.js
Labels: none

docs:add two usercase blogs
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
Labels: none

docs:add a ingress blog
  blog/zh/blog/2022/12/15/how-support-ingress-custom-plugins.md
Labels: none

Update hero.scss
  website/src/css/landing-sections/hero.scss
Labels: pages

Update hero.scss
  website/src/css/landing-sections/hero.scss
Labels: pages

Update hero.scss
  website/src/css/landing-sections/hero.scss
Labels: pages

Update hero.scss
  website/src/css/landing-sections/hero.scss
Labels: pages

docs:add Graphql&APISIX blog
  blog/zh/blog/2022/12/16/what-is-graphql.md
Labels: none

docs:add a ingress blog
  blog/zh/blog/2022/12/15/how-support-ingress-custom-plugins.md
Labels: none

docs:add a ingress blog
  blog/zh/blog/2022/12/15/how-support-ingress-custom-plugins.md
Labels: none

docs:add Graphql&APISIX blog
  blog/zh/blog/2022/12/16/what-is-graphql.md
Labels: none

docs:add two usercase blogs (#1443)
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
  blog/zh/blog/2022/12/08/apisix-support-tongsuo.md
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
Labels: none

add four blogs and update two old blogs tags
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
  blog/zh/blog/2022/12/16/amazonlambda-with-apisix.md
  blog/zh/blog/2022/12/19/amazonlambda-with-apisix copy.md
  blog/zh/blog/2022/12/19/auth-apisix-gateway.md
  blog/zh/blog/2022/12/22/weekly-report-1218.md
Labels: none

add four blogs and update two old blogs tags
  blog/zh/blog/2022/12/22/weekly-report-1218.md
Labels: none

add four blogs and update two old blogs tags
  blog/zh/blog/2022/12/16/amazonlambda-with-apisix.md
  blog/zh/blog/2022/12/19/apisix-ingress-better-than-traefik.md
  blog/zh/blog/2022/12/19/auth-apisix-gateway.md
Labels: none

add four blogs and update two old blogs tags (#1453)
  blog/zh/blog/2022/12/07/junrunrenli-with-apisix.md
  blog/zh/blog/2022/12/09/insigma-with-apache-apisix.md
  blog/zh/blog/2022/12/16/amazonlambda-with-apisix.md
  blog/zh/blog/2022/12/19/apisix-ingress-better-than-traefik.md
  blog/zh/blog/2022/12/19/auth-apisix-gateway.md
  blog/zh/blog/2022/12/22/weekly-report-1218.md
Labels: none

docs:add Graphql&APISIX blog (#1452)
  blog/zh/blog/2022/12/16/what-is-graphql.md
Labels: none

docs: add event calendar
  .github/ISSUE_TEMPLATE/event.yaml
  website/docs/general/events.md
Labels: docs-general

Adding Guest Blog Post Link
  .htaccess
Labels: repo

docs: add event calendar (#1455)
  .github/ISSUE_TEMPLATE/event.yaml
  website/docs/general/events.md
Labels: docs-general

feat: add APISIX Guest Blog Post Link (#1456)
  .htaccess
Labels: repo

modify content
  blog/zh/blog/2022/12/15/how-support-ingress-custom-plugins.md
Labels: none

docs:add a ingress blog (#1450)
  blog/zh/blog/2022/12/15/how-support-ingress-custom-plugins.md
Labels: none

docs: update Lmabda blog tag
  blog/zh/blog/2022/12/16/amazonlambda-with-apisix.md
Labels: none

docs: update Lmabda blog tag (#1458)
  blog/zh/blog/2022/12/16/amazonlambda-with-apisix.md
Labels: none

docs:add two blogs
  blog/zh/blog/2022/12/27/apisix-ingress-with-Flagger.md
  blog/zh/blog/2022/12/27/apisix-ingress-with-gatewayapi.md
Labels: none

docs:add two blogs
  blog/zh/blog/2022/12/27/apisix-ingress-with-Flagger.md
Labels: none

feat: release APISIX 3.1.0
  config/docs.js
  config/downloads.js
Labels: none

docs:add two blogs
  blog/zh/blog/2022/12/27/apisix-ingress-with-Flagger.md
  blog/zh/blog/2022/12/27/apisix-ingress-with-gatewayapi.md
Labels: none

docs:add two blogs
  blog/zh/blog/2022/12/27/apisix-ingress-with-Flagger.md
Labels: none

docs: add APISIX 3.1.0 release blog
  blog/en/blog/2022/12/30/release-apache-apisix-3.1.0.md
  blog/zh/blog/2022/12/30/release-apache-apisix-3.1.0.md
Labels: none

update Lint comments
  blog/en/blog/2022/12/30/release-apache-apisix-3.1.0.md
  blog/zh/blog/2022/12/30/release-apache-apisix-3.1.0.md
Labels: none

update comments and fix details
  blog/en/blog/2022/12/30/release-apache-apisix-3.1.0.md
  blog/zh/blog/2022/12/30/release-apache-apisix-3.1.0.md
Labels: none

update title details
  blog/en/blog/2022/12/30/release-apache-apisix-3.1.0.md
Labels: none

docs: add APISIX 3.1.0 release blog (#1461)
  blog/en/blog/2022/12/30/release-apache-apisix-3.1.0.md
  blog/zh/blog/2022/12/30/release-apache-apisix-3.1.0.md
Labels: none

modify content
  blog/zh/blog/2022/12/27/apisix-ingress-with-gatewayapi.md
Labels: none

feat: release APISIX 3.1.0 (#1460)
  config/docs.js
  config/downloads.js
Labels: none

Create Readme.md
  blog/en/blog/2023/Readme.md
Labels: none

Create Readme.md
  blog/en/blog/2023/01/Readme.md
Labels: none

Create Readme.md
  blog/en/blog/2023/01/02/Readme.md
Labels: none
