Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

Ad
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

remove emoji from subtitle
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

Fix language according to review
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

Update blog/en/blog/2022/09/23/build-event-driven-api.md
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

Remove emojis where subtitles
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

Update blog/en/blog/2022/09/23/build-event-driven-api.md
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

Update blog/en/blog/2022/09/23/build-event-driven-api.md
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

Update blog/en/blog/2022/09/23/build-event-driven-api.md
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

add spaces between emojis
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

Update DocsVersionDropdownNavbarItem.tsx
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: none

Update apisix-versions.js
  config/apisix-versions.js
Labels: none

feat: release APISIX 3.0.0-beta (aka. 2.99.0)
  config/docs.js
  config/downloads.js
Labels: none

chore: update LTS version (#1342)
  config/apisix-versions.js
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: none

docs: added Twitter and YouTube shortlink
  .htaccess
Labels: repo

feat: release APISIX 3.0.0-beta (aka. 2.99.0) (#1343)
  config/docs.js
  config/downloads.js
Labels: none

docs: add APISIX is best API gateway blog(CN)
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

update details
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

feat: added Twitter and YouTube shortlink (#1344)
  .htaccess
Labels: repo

docs: Add Apache APISIX loves Rust (#1340)
  blog/en/blog/2022/09/28/rust-loves-apisix.md
Labels: none

docs: Add a new blog post content on event-driven apis (#1339)
  blog/en/blog/2022/09/23/build-event-driven-api.md
Labels: none

docs: add APISIX is best API gateway blog(CN) (#1345)
  blog/zh/blog/2022/09/27/why-apache-apisix-is-best-apigateway.md
Labels: none

docs: add APISIX 3.0.0-beta release blog
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

docs: update tags and Editors' Picks
  blog/creative-work.schema.yaml
  blog/en/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/en/blog/2021/06/07/Apache-APISIX-not-affected-by-NGINX-CVE-2021-23017.md
  blog/en/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/en/blog/2021/11/23/cve-2021-43557.md
  blog/en/blog/2021/12/28/dashboard-cve-2021-45232.md
  blog/en/blog/2022/02/11/cve-2022-24112.md
  blog/en/blog/2022/04/20/cve-2022-29266.md
  blog/zh/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/zh/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/zh/blog/2021/11/23/cve-2021-43557.md
  blog/zh/blog/2021/12/28/dashboard-cve-2021-45232.md
  blog/zh/blog/2022/02/11/cve-2022-24112.md
  blog/zh/blog/2022/04/20/cve-2022-29266.md
  blog/zh/config/picked-posts.json
Labels: none

docs: update tags and Editors' Picks
  blog/creative-work.schema.yaml
Labels: none

update Lint comments
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

update authors details
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

update code format
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

update space format
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

docs: update tags and Editors' Picks
  blog/src/theme/BlogLayout/index.tsx
Labels: none

Update blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

Update blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

fix: update version list
  config/apisix-versions.js
Labels: none

docs: update tags and Editors' Picks (#1347)
  blog/creative-work.schema.yaml
  blog/en/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/en/blog/2021/06/07/Apache-APISIX-not-affected-by-NGINX-CVE-2021-23017.md
  blog/en/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/en/blog/2021/11/23/cve-2021-43557.md
  blog/en/blog/2021/12/28/dashboard-cve-2021-45232.md
  blog/en/blog/2022/02/11/cve-2022-24112.md
  blog/en/blog/2022/04/20/cve-2022-29266.md
  blog/src/theme/BlogLayout/index.tsx
  blog/zh/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/zh/blog/2021/06/17/Apache-APISIX-Dashboard-Access-Control-Bypass-Vulnerability-Announcement.md
  blog/zh/blog/2021/11/23/cve-2021-43557.md
  blog/zh/blog/2021/12/28/dashboard-cve-2021-45232.md
  blog/zh/blog/2022/02/11/cve-2022-24112.md
  blog/zh/blog/2022/04/20/cve-2022-29266.md
  blog/zh/config/picked-posts.json
Labels: none

fix: update version list (#1348)
  config/apisix-versions.js
Labels: none

feat: allow use other name to replace origin name
  config/apisix-versions.js
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: none

fix: dropdownVersion
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
Labels: none

refactor: display version name logic
  doc/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  scripts/sync-docs.js
Labels: scripts

feat: allow use other name to replace origin version (#1349)
  config/apisix-versions.js
  scripts/sync-docs.js
Labels: scripts

docs: add APISIX 3.0.0-beta release blog (#1346)
  blog/zh/blog/2022/09/28/apache-apisix-3.0.0-beta-release.md
Labels: none

fix: rm lts unmaintained banner
  doc/docusaurus.config.js
Labels: none

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
