Repository apache/apisix-website, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, blog, docs-general, pages, scripts

docs: update images
  blog/en/blog/2021/06/21/use-Java-to-write-Apache-APISIX-plugins.md
  blog/en/blog/2021/07/14/the-road-to-customization-of-Sina-Weibo-API-gateway-based-on-Apache-APISIX.md
  blog/en/blog/2021/08/09/Apache-APISIX-in-Quliankeji.md
  blog/en/blog/2021/08/17/interview-airwallex.md
  blog/en/blog/2021/09/13/china-mobile-cloud-usercase.md
  blog/en/blog/2022/06/14/automated-operation-base-apache-apisix.md
  blog/zh/blog/2021/08/09/Apache-APISIX-in-Quliankeji.md
  blog/zh/blog/2021/08/17/interview-airwallex.md
  blog/zh/blog/2021/09/13/china-mobile-cloud-usercase.md
  blog/zh/blog/2022/06/14/automated-operation-base-apache-apisix.md
Labels: none

docs: update images
  blog/en/blog/2022/07/30/why-we-need-apache-apisix.md
  blog/zh/blog/2021/08/09/Apache-APISIX-in-China-Mobile-Cloud.md
  blog/zh/blog/2022/07/30/why-we-need-apache-apisix.md
Labels: none

docs: update documentation-guide (#1287)
  website/docs/general/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/documentation-guide.md
Labels: docs-general

docs: update images
  blog/en/blog/2021/08/16/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2021/08/25/Using-the-Apache-APISIX-OpenID-Connect-Plugin-for-Centralized-Authentication.md
  blog/en/blog/2022/01/04/authing.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/04/20/cve-2022-29266.md
  blog/zh/blog/2022/01/04/authing.md
  blog/zh/blog/2022/04/20/cve-2022-29266.md
Labels: none

Apply suggestions from code review
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

docs: update images
  blog/en/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/en/blog/2021/11/17/dapr-with-apisix.md
  blog/en/blog/2021/12/13/monitor-apisix-ingress-controller-with-prometheus.md
  blog/en/blog/2021/12/15/deploy-apisix-in-kubernetes.md
  blog/en/blog/2022/01/04/authing.md
  blog/en/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/02/28/apisix-integration-opentelemetry-plugin.md
  blog/en/blog/2022/03/02/apisix-integration-graphql.md
  blog/en/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/en/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  blog/zh/blog/2021/01/11/interview-Apache-APISIX-contributor-Wang-Pengcheng-Senior-Security-Advisor-of-PwC-South-China-Data-Security-and-Privacy-Protection-Team.md
  blog/zh/blog/2021/11/17/dapr-with-apisix.md
  blog/zh/blog/2021/12/13/monitor-apisix-ingress-controller-with-prometheus.md
  blog/zh/blog/2021/12/15/deploy-apisix-in-kubernetes.md
  blog/zh/blog/2022/01/04/authing.md
  blog/zh/blog/2022/01/11/building-apisix-in-ubuntu-for-arm.md
  blog/zh/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/zh/blog/2022/03/02/apisix-integration-graphql.md
  blog/zh/blog/2022/03/03/develop-apisix-with-gitpod.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/zh/blog/2022/03/04/apisix-uses-coredns-enable-service-discovery.md
  blog/zh/blog/2022/07/13/monitor-api-gateway-apisix-with-prometheus.md
Labels: none

docs: update images
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
Labels: none

docs: update images
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

docs: update images
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

docs: update images
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

docs: update images
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

docs: update images
  blog/en/blog/2022/02/21/nacos-api-gateway.md
  blog/en/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

docs: update images
  blog/zh/blog/2022/02/21/nacos-api-gateway.md
Labels: none

docs: update images
  blog/zh/blog/2022/03/04/apigateway-clickhouse-makes-logging-easier.md
Labels: none

feat: release apisix-java-plugin-runner 0.3.0
  config/docs.js
  config/downloads.js
Labels: none

docs: update height: 232,
  blog/src/theme/BlogPosts/index.tsx
Labels: none

docs: del height={232}
  blog/src/theme/BlogPosts/index.tsx
Labels: none

docs: Add Backend-for-Frontend: the demo blog post (#1285)
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

feat: release apisix-java-plugin-runner 0.3.0 (#1295)
  config/docs.js
  config/downloads.js
Labels: none

docs: add apisix debug model blog
  blog/zh/blog/2022/08/19/apache-apisix-runtime-dynamic-debugging.md
Labels: none

dcos: fix comment
  blog/zh/blog/2022/08/19/apache-apisix-runtime-dynamic-debugging.md
Labels: none

docs: add apisix debug model blog (#1296)
  blog/zh/blog/2022/08/19/apache-apisix-runtime-dynamic-debugging.md
Labels: none

Update join.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/join.md
Labels: docs-general

docs: update join.md (#1297)
  website/i18n/zh/docusaurus-plugin-content-docs/current/join.md
Labels: docs-general

docs: update cover image
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/02/25/consul-api-gateway.md
  blog/en/blog/2022/03/02/apisix-integration-graphql.md
  blog/zh/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/zh/blog/2022/02/25/consul-api-gateway.md
  blog/zh/blog/2022/03/02/apisix-integration-graphql.md
Labels: none

docs: update title
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

fix: blog og:description
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.scss
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPosts/index.tsx
  blog/zh/docusaurus.config.js
  doc/src/css/customTheme.scss
  website/src/css/customTheme.scss
Labels: pages

fix: blog og:description (#1300)
  blog/en/docusaurus.config.js
  blog/src/css/customTheme.scss
  blog/src/theme/BlogPostItem/index.tsx
  blog/src/theme/BlogPosts/index.tsx
  blog/zh/docusaurus.config.js
  doc/src/css/customTheme.scss
  website/src/css/customTheme.scss
Labels: pages

docs: update comment
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs: update comment
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs: update comment
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

docs: update link
  website/docs/general/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

docs: update blog's cover image and title (#1298)
  blog/en/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/en/blog/2022/02/25/consul-api-gateway.md
  blog/en/blog/2022/03/02/apisix-integration-graphql.md
  blog/en/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/en/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
  blog/zh/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  blog/zh/blog/2022/02/25/consul-api-gateway.md
  blog/zh/blog/2022/03/02/apisix-integration-graphql.md
  blog/zh/blog/2022/08/08/apache-apisix-performance-test-in-azure.md
  blog/zh/blog/2022/08/12/arm-performance-google-aws-azure-with-apisix.md
Labels: none

Add new blog post FIT with API Gateway
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

add two images for the post
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

fix extra trails
  blog/en/blog/2022/08/17/backend-for-frontend-demo.md
Labels: none

fix another trailing issue
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

fix more trailing spaces
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

Add review changes
  blog/en/blog/2022/08/28/fault-injection-testing-with-api-gateway.md
Labels: none

docs: fix typo
  website/docs/general/blog-contributing-guide.md
  website/i18n/zh/docusaurus-plugin-content-docs/current/blog-contributing-guide.md
Labels: docs-general

.github/labeler.yml:

# root file changes
repo:
  - "*"

#
blog:
  - website/blog/**/*
  - website/articles/**/*
  - website/i18n/zh/docusaurus-plugin-content-blog/**/*

#
docs-general:
  - website/docs/general/**/*
  - website/i18n/zh/docusaurus-plugin-content-docs/**/*

#
pages:
  - website/config/*
  - website/src/**/*
  - website/static/**/*

#
scripts:
  - scripts/**/*
