Repository apache/apisix-website, pull requests merged in 2022-05, with the labels that each got.

#1079 docs:add weekly report 4.15-4.30
  website/blog/2022/05/10/weekly-report-0510.md
  website/i18n/zh/docusaurus-plugin-content-blog/2022/05/10/weekly-report-0510.md
  website/static/data/events.json
Labels: request-doc-maintainers

#1088 docs: translate the docs under the contribute to APISIX directory
  website/i18n/zh/docusaurus-plugin-content-docs/current/contributor-guide.md
Labels: translation

#1075 docs: update terminology relative doc links
  website/blog/2021/09/29/release-apache-apisix-2.10.md
  website/blog/2022/01/21/apisix-hashicorp-vault-integration.md
  website/i18n/zh/docusaurus-plugin-content-blog/2021/09/29/release-apache-apisix-2.10.md
Labels: Discuss, blog
